.bsWrapper {
  height: 100vh;
  position: relative;
  background-color: #0B0F15;
}

.indexPage {
  display: flex;
  flex-direction: column;
}

.changeTitle {
  color: #010800;
}

.pullDownText {
  position: absolute;
  width: 100%;
  padding: ~`px2rem(20)`;
  font-size: ~`px2rem(14)`;
  box-sizing: border-box;
  transform: translateY(-100%) translateZ(0);
  text-align: center;
  color: #000;
  z-index: 1;
}
