@import '@/style/index.scss';

// 自动产生命名空间, 用于生成类名, 使用 $ns-dialog 作为类名
// * 例如: $ns: 'kux', componentName: 'Hero2', 则类名为 kux-hero2
// * $prefix 也会自动更新: $ns + '-' + 'dialog'
// * 例如: $ns: 'kux', componentName: 'Hero2', 则 $prefix 为 kux-hero2
@include component('modal') {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
  justify-content: center;
  transition: visibility 0.3s cubic-bezier(0.05, 0.7, 0.1, 1);
  visibility: hidden;

  &-open {
    transition: visibility 0.3s cubic-bezier(0.05, 0.7, 0.1, 1);
    visibility: visible;
  }

  &-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: get-theme(mask);
    opacity: 1;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.05, 0.7, 0.1, 1);

    &-hide {
      opacity: 0;
      background-color: transparent;
      backdrop-filter: none;
    }

    &-open {
      animation-name: get-animation-name(fade-in);
    }

    &-close {
      animation-name: get-animation-name(fade-out);
    }
  }

  &-body {
    min-width: 319px;
    width: 100%;
    max-height: 480px;
    min-height: 240px;
    display: flex;
    flex-direction: column;
    animation-fill-mode: both;
    position: relative;
    margin: auto 16px;
    border-radius: 16px;
    background-color: get-theme(backgroundOverlay);
    transition: opacity 0.3s ease-in;

    &-small {
      width: 400px;

      .kux-modal-content {
        padding: 0px 24px 16px;
        @include responsive(md) {
          padding: 0px 32px 16px;
        }
      }

      .kux-modal-footer {
        padding: 16px 24px 32px;
        @include responsive(md) {
          padding: 16px 32px 32px;
        }

        &-tiny-padding {
          padding-bottom: 16px;
        }
      }
    }

    &-medium {
      width: 520px;

      .kux-modal-content {
        padding: 0px 24px 16px;
        @include responsive(md) {
          padding: 0px 32px 24px;
        }
      }

      .kux-modal-footer {
        padding: 16px 24px 32px;
        @include responsive(md) {
          padding: 20px 32px;
        }

        &-tiny-padding {
          padding-bottom: 16px;
        }
      }
    }

    &-large {
      width: 640px;

      .kux-modal-content {
        padding: 16px 24px 32px;
        @include responsive(md) {
          padding: 0px 32px 32px;
        }
      }

      .kux-modal-footer {
        padding: 16px 24px 20px;
        @include responsive(md) {
          padding: 20px 32px;
        }

        &-tiny-padding {
          padding-bottom: 16px;
        }
      }
    }

    .kux-modal-content-mobile-drawer {
      padding: 0 16px;

      @include responsive(lg) {
        padding: 0 24px;
      }
    }

    @include responsive(md) {
      max-height: 700px;
      border-radius: 16px;

      .kux-modal-footer-drawer {
        padding: 20px 32px;
      }
    }

    &-mobile-transform {
      max-height: calc(100% - 64px);
      border-radius: 16px 16px 0 0;

      @include responsive(md) {
        border-radius: 16px;
      }

      .kux-modal-footer {
        padding: 16px 16px 32px;
      }
    }

    &-open {
      animation-duration: 0.28s;
      opacity: 0;
      animation-name: get-animation-name(slide-in-from-bottom);

      &-right {
        animation-duration: 0.28s;
        opacity: 0;
        animation-name: get-animation-name(slide-in-from-right);
      }

      &-left {
        animation-duration: 0.28s;
        opacity: 0;
        animation-name: get-animation-name(slide-in-from-left);
      }
    }

    &-close {
      animation-name: get-animation-name(slide-out-to-bottom);
      opacity: 1;
      animation-duration: 0.3s;

      &-right {
        animation-name: get-animation-name(slide-out-to-right);
        opacity: 1;
        animation-duration: 0.3s;
      }

      &-left {
        animation-name: get-animation-name(slide-out-to-left);
        opacity: 1;
        animation-duration: 0.3s;
      }
    }

    &-mobile-drawer {
      width: 100%;
      max-width: 100%;
      min-height: 240px;
      max-height: calc(100% - 64px);
      position: fixed;
      left: 0;
      right: 0;
      bottom: var(--kux-modal-drag-bottom);
      margin: auto;
    }

    &-drawer {
      position: fixed;
      width: auto;
      max-width: 100%;
      min-width: 320px;
      max-height: 100%;
      height: 100%;
      border-radius: 0;
      margin: 0;

      &-right {
        right: 0;
        left: unset;
      }

      &-left {
        left: 0;
        right: unset;
      }
    }

    &-draggable-bar {
      position: absolute;
      width: 100%;
      top: -22px;
      left: 50%;
      transform: translateX(-50%);
      height: 12px;
      background-color: transparent;
      padding-top: 10px;

      &::before {
        content: '';
        display: block;
        width: 64px;
        height: 4px;
        border-radius: 200px;
        background-color: get-theme(bulletLayer);
        margin: 0 auto;
      }
    }
  }

  &-header {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 24px 24px 12px;
    box-sizing: border-box;
    height: auto;
    color: get-theme(text);

    @include responsive(md) {
      padding: 32px 32px 24px;
    }

    &-mobile-drawer {
      border-radius: 16px 16px 0 0;
      padding: 24px 16px 12px;

      @include responsive(lg) {
        padding: 24px 32px;
      }
    }

    &-drawer {
      border-radius: 0;
      padding: 16px;

      @include responsive(md) {
        padding: 24px 32px;
      }
    }
  }

  &-header-title {
    flex-grow: 1;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    overflow-wrap: break-word;

    @include responsive(md) {
      font-weight: 700;
      font-size: 20px;
      line-height: 140%;
    }
  }

  &-header-close {
    flex-basis: auto;
    flex-shrink: 0;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 2px solid get-theme(cover8);
    border-radius: 100%;
    cursor: pointer;

    &-ico {
      width: 10px;
      height: 10px;
      color: get-theme(icon);

      @include responsive(md) {
        width: 14px;
        height: 14px;
        color: get-theme(text);
      }
    }

    @include responsive(md) {
      width: 28px;
      height: 28px;
    }

    @include responsive(lg) {
      width: 34px;
      height: 34px;
    }
  }

  &-header-full-mode {
    padding: 12px 16px;
  }

  &-header-full-mode-close {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  &-header-full-mode-skip {
    cursor: pointer;
  }

  &-content {
    overflow-y: auto;
    font-size: 16px;
    height: 100%;
    padding: 0px 24px 16px;
    color: get-theme(text60);
    flex: 1;

    &-drawer {
      padding: 24px 16px;

      @include responsive(md) {
        padding: 24px 32px;
      }
    }
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    box-sizing: border-box;
    border-top: none;
    border-radius: 0 0 16px 16px;

    @include responsive(md) {
      border-radius: 0 0 16px 16px;
    }

    &-vertical {
      flex-direction: column-reverse;
    }

    &-horizontal {
      flex-direction: row;
    }

    &-fill {
      width: 12px;
    }

    &-centered {
      justify-content: space-between;
    }

    &-mobile-drawer {
      padding: 16px 16px calc(var(--kux-modal-safe-area-inset-bottom) + 16px);
      border-radius: 0;
    }

    &-drawer {
      border-radius: 0;
      margin-top: auto;
    }
  }

  .#{$prefix}-preview {
    width: 100%;
  }

  &-divider {
    height: 1px;
    background-color: get-theme(divider8);
  }

  &-full-mode {
    .kux-modal-body {
      width: 100%;
      height: 100%;
      border-radius: 0;
      max-height: 100%;
      margin: 0;
    }
  }

  &-simple-mode {
    .kux-modal-content {
      padding: 0;
    }
    &-close {
      width: 24px;
      height: 24px;
      display: flex;
      flex-basis: auto;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      border: 2px solid rgba(256, 255, 256, 0.2);
      border-radius: 100%;
      cursor: pointer;
      margin: 0 auto -48px;

      &-ico {
        width: 10px;
        height: 10px;
        color: #fff;
      }
    }
  }
}
