
.faq {
  padding: 40px 24px;
  color: #000D1D;
  background-color: #fff;
  line-height: 1.5;
  :global {
    .faq_wrap {
      .bread_crumbs {
        font-weight: 400;
        font-size: 14px;
        color: #01081E;
      }
      .title_h1 {
        font-weight: 600;
        font-size: 32px;
        margin: 32px 0;
      }
      .title_h3_f.title_h3_f {
        margin-top: 0;
      }
      .title_h3 {
        font-weight: 600;
        font-size: 28px;
        margin: 50px 0 20px;
      }
      .title_h5 {
        font-weight: 600;
        font-size: 18px;
        margin: 20px 0 15px;
      }
      img {
        margin-top: 20px;
        max-width: 100%;
      }
      .demo_box, .por_faq_desc, .por_faq_demo {
        margin-top: 15px;
        border: 1px solid rgba(115, 126, 141, 0.237211);
        border-radius: 3px;
        padding: 10px 24px;
        word-wrap:break-word;
        word-break: break-all;
        display: inline-block;
      }
      .por_faq_demo {
        margin-bottom: 15px;
      }
      .text_line {
        margin-top: 15px;
      }
      .demo_text_des {
        font-weight: 400;
        font-size: 16px;
        color: rgba(0, 13, 29, 0.68);
      }
      .code_show {
        max-height: 300px;
        overflow: scroll;
        margin: 15px 0;
      }
    }
  }
}