@import "@/styles/mixin.scss";

.page {
  width: 100%;
  height: 100%;

  .fastClick {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--color-text);

    & a {
      color: var(--color-text);
      font-weight: 700;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .leftFooterContent {
    color: var(--color-text60);
    padding: 0 32px 32px 0;
    text-align: right;
    margin: 0;
    font-size: 12px;
    line-height: 20px;
  }

  .sloganWrapper {
    width: 570px;
    position: absolute;
    top: 56px;
    left: 50px;

    [dir="rtl"] & {
      right: 50px;
    }

    @include media-query("xl") {
      top: 70px;
      left: 40px;
      width: 400px;

      [dir="rtl"] & {
        right: 40px;
      }
    }

    .title {
      font-size: 32px;
      font-weight: 700;
      line-height: 150%;
      color: #fff;
      word-break: break-word;

      .highlight {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: red;
      }

      @include media-query("xl") {
        font-size: 28px;
      }
    }

    .subTitle {
      width: 100%;
      font-size: 18px;
      font-weight: 500;
      line-height: 130%;
      word-break: break-word;
      color: #fff;
    }
  }

  .divider {
    width: 40px;
    height: 4px;
    margin: 24px 0;
    border-radius: 20px;
    background: var(--color-primary);
  }

  .textWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--color-background);
    padding-top: 100px;

    .imgWrap {
      display: flex;
      justify-content: center;

      img {
        max-width: 165px;
        height: auto;
        pointer-events: none;
      }
    }

    .tipTitle {
      color: var(--color-text);
      text-align: center;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;
      margin-top: 8px;
      margin-bottom: 6px;
    }

    .contentWrap {
      color: var(--color-text60);
      font-size: 16px;
      font-style: normal;
      max-width: 420px;
      font-weight: 400;
      line-height: 150%;
      white-space: pre-wrap;
    }

    .contentItem {
      margin-top: 14px;
    }
  }
}
