/**
 * Owner: willen@kupotech.com
 */

.alertContainer {
  margin: 8px auto 16px auto;
  display: flex;
  justify-content: center;
}

.wrapper {
  /* empty */
}

.formContainer {
  display: flex;
  justify-content: center;
  margin-top: 54px;
}

.securityForm {
  display: inline-block;
  width: 100%;
}

.containerClass {
  max-width: 1036px;
  width: 100%;
  transition: all 0.3s ease;
  padding: 0 36px;
  @media (max-width: 600px) {
    padding: 0 12px;
  }
}

.alertContent {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  line-height: 150%;
}

