@import '@/style/index.scss';

// 自动产生命名空间, 用于生成类名, 使用 $ns-loading-image 作为类名
// * 例如: $ns: 'kux', componentName: 'Hero2', 则类名为 kux-hero2
// * $prefix 也会自动更新: $ns + '-' + 'loading-image'
// * 例如: $ns: 'kux', componentName: 'Hero2', 则 $prefix 为 kux-hero2
@include component('lazy-image') {
  display: block;
  max-width: 100%;
  height: auto;
}