@import '@/styles/mixin.scss';

.guidanceBtnBox {
  display: flex;
  align-items: center;
  // gap: 16px;
  gap: 24px;

  @include media-query('sm') {
    gap: 16px;
  }

  .guidanceDeposit {
    background: unset;
    // color: var(--kux-textEmphasize);
    // color: red;
    color: var(--kux-text);
    border: 1px solid var(--kux-text);
  }
}

.guidanceBtn {
  cursor: pointer;
  text-align: center;
  min-width: fit-content;
  height: 72px !important;
  border-radius: 36px !important;
  padding: 16px 40px !important;

  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-2px);
    // box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  }

  @include media-query('sm') {
    font-size: 16px;
    height: 48px !important;
    padding: 16px 32px !important;
    border-radius: 24px !important;
  }

  span {
    font-size: 20px !important;
    font-weight: 800 !important;
    line-height: 140% !important;
    @include media-query('sm') {
      font-weight: 700 !important;
      font-size: 16px !important;
    }
  }
}

.signupButton {
  @include media-query('sm') {
    max-width: 400px;
    // width: 100% !important;
  }
}
