@import '~themes/mix.less';

.out {
  position: relative;
  padding-bottom: 140px;
  .mediaQueryMd({padding-bottom: 100px;});
  .mediaQuerySm({padding-bottom: 68px;});
}

.imgBox {
  pointer-events: none;
  position: relative;
  width: 100%;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  .mediaQueryMd({margin-top: 146px;width: 119.8%;});
  .mediaQuerySm({display: none;});
}

.glowImg {
  width: 130%;
  position: absolute;
  left: 50%;
  top: -20%;
  transform: translate(-50%, 0);
  .mediaQueryMd({top: -15%;});
}

.img {
  width: 100%;
  position: absolute;
}

.foot {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  color: #ffffff;
  margin-top: 96px;
  margin-bottom: 0;
  .mediaQuerySm({font-size: 16px; line-height: 26px; margin-top: 48px;});
}

.bigWords {
  pointer-events: none;
  position: absolute;
  width: 600px;
  height: 94px;
  left: 0;
  bottom: 140px;
  background-image: url('../../../../assets/consensus/pass-through-4.svg');
  .mediaQueryMd({display: none;});
}

.tabContent {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 12px));
  grid-column-gap: 24px;
  grid-row-gap: 48px;
  .mediaQueryMd({grid-row-gap: 24px;});
  .mediaQuerySm({grid-column-gap: 12px;grid-template-columns: repeat(2, calc(50% - 6px)) ;});
}
