.scrollWrapper {
  min-width: 350px;
  flex-shrink: 0;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, auto);
  -webkit-box-pack: start;
  justify-content: start;
  align-items: center;
  position: relative;
}

.scrollInner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: auto hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
}

.disableScroll {
  overflow: hidden;
  min-width: max-content;
}

.scrollButton {
  position: absolute;
  width: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  width: 20px;
  background: var(--kux-backgroundOverlay);
}

.opacityPlaceholder {
  height: 100%;
  width: 20px;
  min-width: 20px;
  border-radius: 14px;
}

.flexStart {
  left: -2px;
  justify-content: flex-start;
}
.flexEnd {
  right: -2px;
  justify-content: flex-end;
}

.left {
  background: linear-gradient(270deg, rgba(18, 18, 18, 0) 0%, var(--kux-backgroundOverlay) 100%);
}

.right {
  background: linear-gradient(270deg, var(--kux-backgroundOverlay) 0%, rgba(18, 18, 18, 0) 100%);
}

.iconBox {
  height: 100%;
  display: flex;
  align-items: center;
}