/**
 * Owner: lori@kupotech.com
 */

.finishWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  @media (max-width: 600px) {
    padding-bottom: 48px;
  }

  a,
  .link_for_a {
    text-decoration: underline;
  }

  img {
    width: 148px;
    height: 148px;
    @media (max-width: 600px) {
      width: 120px;
      height: 120px;
    }
  }
}

.statusTitle {
  padding: 30px 0 4px 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  color: var(--kux-text);

  @media (max-width: 600px) {
    font-size: 24px;
  }
}

.warning {
  padding: 12px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--kux-text60);
  text-align: center;
  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.centerText {
  padding: 8px 0;
  font-size: 16px;
  color: var(--kux-text60);
  text-align: center;
  margin-bottom: 12px;
  @media (max-width: 600px) {
    font-size: 14px;
  }
}

