@use '../../../../theme/mixin' as *;

.downloadApp {
  margin-top: 12px;
}

.downloadLink {
  a {
    color: var(--kux-buttonColorPrimary);
    font-weight: 600;
    font-size: 14px;
    font-style: normal;
    line-height: 140%; /* 19.6px */
  }
}

.container {
  max-width: 580px;
  height: auto;
  margin: 0 auto;
  padding: 0 0 88px 0;

  &.containerH5 {
    padding: 0 16px 44px 16px;

    .title {
      margin-top: 8px;
      font-weight: 700;
      font-size: 24px;
    }
  }

  .title {
    margin-top: 48px;
    color: var(--kux-text);
    font-weight: 600;
    font-size: 36px;
    font-style: normal;
    line-height: 140%;
  }

  .alertWrapper {
    margin-top: 16px;

    .alert {
      width: 100%;
      max-width: 100%;
      padding: 12px 16px;
      font-size: 13px;
      background: var(--kux-complementaryYellow8);
      border: none;
      border-radius: 8px;
    }
  }

  .alertTips {
    margin-top: 16px;
    color: var(--kux-text40);
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 140%;
  }
}

.g2faModalContent {
  .g2faHelpContent {
    & > div {
      padding-bottom: 0px;
      color: #333;
      font-size: 13px;

      &:not(:first-child) {
        padding-top: 24px;
      }

      h4 {
        position: relative;
        font-weight: 500;
        font-size: 16px;

        [dir='rtl'] & {
          text-align: right;
        }

        &::before {
          position: absolute;
          top: 50%;
          left: -10px;
          width: 6px;
          height: 6px;
          border: 1px solid #0f7dff;
          border-radius: 6px;
          transform: translateY(-50%);
          content: ' ';
        }
      }
    }

    .stepTitle {
      margin-bottom: 8px;
      color: var(--kux-text);
      font-weight: 600;
      font-size: 16px;
      font-style: normal;
      line-height: 130%;
    }

    .stepDesc {
      margin-bottom: 16px;
      color: var(--kux-text);
      font-weight: 400;
      font-size: 16px;
      font-style: normal;
      line-height: 150%;

      @include media-query('sm') {
        font-size: 14px;
      }
    }

    .highlightText {
      color: var(--kux-brandRed);
      font-weight: 500;
      font-size: 16px;
      font-style: normal;
      line-height: 150%;
      @include media-query('sm') {
        font-size: 14px;
      }
    }

    .secondText {
      color: var(--kux-text60);
      font-weight: 400;
      font-size: 12px;
      font-style: normal;
      line-height: 150%;
    }

    .storesWrap {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include media-query('sm') {
        gap: 8px;
      }

      .storeBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 148px;
        height: 48px;
        border: 0.5px solid;
        border-color: var(--kux-cover8);
        border-radius: 8px;
      }

      .storeImg {
        height: 26px;
        margin-top: 2px;
        user-select: none;
        pointer-events: none;
      }
    }
  }
}
