@import '@/style/index.scss';

// 自动产生命名空间, 用于生成类名, 使用 $ns-fixed-container 作为类名
// * 例如: $ns: 'kux', componentName: 'Hero2', 则类名为 kux-hero2
// * $prefix 也会自动更新: $ns + '-' + 'fixed-container'
// * 例如: $ns: 'kux', componentName: 'Hero2', 则 $prefix 为 kux-hero2
@include component('fixed-container') {
  // 成员结构使用 $prefix 作为结构的前缀, 前缀与元素名之间使用下划线连接 _ , 例如: $prefix + '_arrow'
  .is-content-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
}