.drawerContainer {
  width: 100vw !important;
  padding: 12px !important;
  border-radius: 16px 16px 0 0;
  .titleContainer {
    position: relative;
    text-align: center;
    height: 44px;
    line-height: 44px;
    font-weight: 400;
    font-size: 18px;
    color: #00142A;
    padding: 0 25px;
    &.titleContainerLeft {
      text-align: left;
    }
    .closeIcon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5px;
      font-size: 20px;
    }
  }
}