.head {
  font-size: ~`px2rem(24)`;
  color: #FFFFFF;
  letter-spacing: 0;

  padding: ~`px2rem(12)` 0 ~`px2rem(12)` 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  >img {
    height: ~`px2rem(40)`;
  }

  .records {
    font-size: ~`px2rem(14)`;
    letter-spacing: 0;

    display: flex;
    align-items: center;
  }
}
