@import "src/styles/mixin.scss";

.logo {
  display: block;
  height: 36px;
  margin-bottom: 56px;

  @include media-query('sm') {
    margin-bottom: 24px;
  }
}

.img {
  width: 121px;
  margin-right: 22px;

  @include media-query('sm') {
    width: 103.71px;
  }

  [dir='rtl'] & {
    margin-right: unset;
    margin-left: 22px;
  }
}
