.footer {
  width: 100%;
  background: #000a1e;
  padding: ~`px2rem(20) ` ~`px2rem(12) ` ~`px2rem(13) ` ~`px2rem(12) `;
  .iconWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logoImg {
    width: ~`px2rem(104) `;
    height: ~`px2rem(24) `;
  }
  .follow {
    display: flex;
    align-items: center;
  }
  .followWords {
    max-width: ~`px2rem(130) `;
    font-size: ~`px2rem(12) `;
    color: #ffffff;
    font-weight: 500;
  }
  .communityIcon {
    width: ~`px2rem(16) `;
    height: ~`px2rem(16) `;
    margin-left: ~`px2rem(20) `;
    &:first-child {
      margin-left: ~`px2rem(12) `;
    }
  }
  .driver {
    margin-top: ~`px2rem(26) `;
    width: 100%;
    height: ~`px2rem(1) `;
    background-color: rgba(255, 255, 255, 0.24);
  }
  .copyRight {
    margin-top: ~`px2rem(9) `;
    font-size: ~`px2rem(10) `;
    color: rgba(184, 198, 216, 0.6);
    font-weight: 500;
  }
}
