.mainContentWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rightText {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.pageTitle {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  color: var(--kux-text);
  word-break: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;

  @media (max-width: 600px) {
    font-size: 18px;
  }
}

.pageSubTitle {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: var(--kux-text60);
  word-break: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;

  a {
    margin-left: 4px;
    color: var(--kux-text);
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}

.assetsTitle {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
}

.infoIcon {
  margin-top: 2px;
  min-width: 16px;
  min-height: 16px;
}

.infoBox {
  margin-bottom: 16px;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  color: var(--kux-text60);
  gap: 8px;

  a {
    margin-left: 4px;
    color: var(--kux-text);
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}

.emailTips {
  margin-bottom: 24px;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  color: var(--kux-text60);
  gap: 8px;

  @media (max-width: 600px) {
    margin-bottom: 16px;
  }
}

.tableWrap {
  width: 100%;
  margin-bottom: 54px;
}

.link {
  margin-left: 4px;
  color: var(--kux-text);
  text-decoration: underline;
  text-underline-offset: 2px;
}

.assetsTable {
  :global {
    tr td {
      padding: 18px 0;
    }
  }
}

