@import '@/styles/mixin.scss';

.para {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text60);
  font-family: Kufox Sans;
  line-height: 1.3;
  
  @include media-query('sm') {
    display: -webkit-box;
    color: var(--color-text60);
    font-size: 12px;
  }
}