/**
 * Owner: sean.shi@kupotech.com
 */
@import 'src/styles/mixin.scss';

.regPageWrapper {
  width: 1280px;
  margin: 0 auto;
  padding: 56px 0 78px;
  display: flex;
  justify-content: space-between;
  box-sizing: content-box;
  align-items: flex-start;

  &.needCenter {
    justify-content: center;
  }

  .highlight {
    color: var(--kux-brandGreen);
  }

  @media screen and (max-width: 1680px) {
    width: 1240px;
  }

  @media screen and (max-width: 1339px) {
    width: 1180px;
  }

  @include media-query('lg') {
    width: 1120px;
    padding: 56px 40px 78px;

    &.needCenter {
      width: 100%;
      padding: 56px auto 78px auto;
    }
  }

  @include media-query('sm') {
    width: unset;
    padding: unset;
  }
}

.regPageLeftWrapper {
  width: 540px;
  height: 100%;
  flex-shrink: 0;
}

.regPageRightWrapper {
  flex-shrink: 0;
  width: 600px;
  box-shadow: 0 10px 60px 0 rgba(22, 53, 43, 0.08);
  padding: 40px 40px 48px;
  border-radius: 24px;

  :global(.KuxBox-root) {
    width: unset;
    max-width: unset;
  }

  @media screen and (max-width: 1680px) {
    width: 560px;
  }

  @media screen and (max-width: 1339px) {
    width: 520px;
  }

  @include media-query('lg') {
    width: 480px;
  }

  @include media-query('sm') {
    width: 100%;
    padding: 32px 16px 40px;
    box-shadow: unset;
  }

  // WEB 黑暗模式卡片需要背景色
  @media screen and (min-width: 768px) {
    &[data-theme='dark'] {
      background: rgba(34, 34, 35, 1);
    }
  }
}
