@import "./vars.less";

@color_1: #01AA78;
@color_2: #C63C4D;
@color_3: #0F7DFF;
@color_4: #0F161D;
@color_5: #1D2738;
@color_6: #000000;
@color_7: #D8DDE3;
@color_8: #EEEEEE;
@color_9: #6A7B88;
@color_10:#202934;