@import './kufox.base.less';

@divider: fade(#00142A, 8);

// 覆盖类
@cover2: fade(#00142A, 2);
@cover4: fade(#00142A, 4);
@cover8: fade(#00142A, 8);
@cover12: fade(#00142A, 12);
@cover20: fade(#00142A, 20);
@cover40: fade(#00142A, 40);

// 背景类
@base: #FFFFFF;
@background: #F4F6F7;
@backgroundMajor: #FFFFFF;

// 文案类
@text: #00142A;
@text60: fade(#00142A, 60);
@text40: fade(#00142A, 40);
@text24: fade(#00142A, 24);
@text20: fade(#00142A, 20);
@textEmphasis: #fff;

@color_dark_surface: #01081E;
@shadow_base: 0 0 8px 0 fade(@color_dark_surface, 8);
@shadow_medium: 0 2px 8px 0 fade(@color_dark_surface, 16);
@shadow_high: 0 3px 4px 0 fade(@color_dark_surface, 16), 0 1px 16px 0 fade(@color_dark_surface, 8);
@shadow_left: -3px 0 4px 0 fade(@color_dark_surface, 16), -1px 0 24px 0 fade(@color_dark_surface, 16);
@shadow_right: 3px 0 4px 0 fade(@color_dark_surface, 16), 1px 0 24px 0 fade(@color_dark_surface, 16);
