@import './kufox.base.less';

@divider: fade(#BCC8E0, 8);

// 覆盖类
@cover2: fade(#BCC8E0, 2);
@cover4: fade(#BCC8E0, 4);
@cover8: fade(#BCC8E0, 8);
@cover12: fade(#BCC8E0, 12);
@cover20: fade(#BCC8E0, 20);
@cover40: fade(#BCC8E0, 40);

// 背景类
@base: #01081e;
@background: #000;
@backgroundMajor: #11151F;
@color_cardBc1: rgba(21, 28, 48, 1);

// 文案类
@text: #ffffff;
@text60: fade(#ffffff, 60);
@text40: fade(#ffffff, 40);
@text24: fade(#ffffff, 24);
@text20: fade(#ffffff, 20);
@textEmphasis: #11151F;
@color_body: fade(#FFFFFF, 60);
@color_tableHeader: fade(#FFFFFF, 4);

@color_dark_surface: #01081E;
@shadow_base: 0 0 8px 0 fade(@color_dark_surface, 8);
@shadow_medium: 0 2px 8px 0 fade(@color_dark_surface, 16);
@shadow_high: 0 3px 4px 0 fade(@color_dark_surface, 16), 0 4px 24px 0 fade(@color_dark_surface, 8);
@shadow_left: -3px 0 4px 0 fade(@color_dark_surface, 16), -1px 0 24px 0 fade(@color_dark_surface, 8);
@shadow_right: 3px 0 4px 0 fade(@color_dark_surface, 16), 1px 0 24px 0 fade(@color_dark_surface, 8);
