@import "./vars.less";

@color_1: #2CB88A;
@color_2: #E6485B;
@color_3: #0F7DFF;
@color_4: #FFFFFF;
@color_5: #ECF1F9;
@color_6: #E5E7EE;
@color_7: #2E2E2E;
@color_8: #333333;
@color_9: #a4aab3;
@color_10: rgba(69,90,100,0);