.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0 36px 0;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;

  // > img {
  //   width: 113px;
  //   height: 30px;
  // }

  // .records {
  //   font-size: 14px;
  //   letter-spacing: 0;

  //   display: flex;
  //   align-items: center;
  // }
}

.banner {
  width: 990px;
  height: 433px;
  margin: 0 -100px;
}
