.card {
  background-color: #1E335B;
  background-image: -webkit-linear-gradient(135deg, #243352 0%, #1E335B 100%);
  background-image:    -moz-linear-gradient(135deg, #243352 0%, #1E335B 100%);
  background-image:      -o-linear-gradient(135deg, #243352 0%, #1E335B 100%);
  background-image:         linear-gradient(135deg, #243352 0%, #1E335B 100%);
}
