@import "@/styles/mixin.scss";

.wrapper {
  border-radius: 12px;
  background: var(--color-cover2);
  padding: 24px;
  margin-bottom: 32px;
  @include media-query("sm") {
    margin-bottom: 20px;
    padding: 16px;
  }
}

.titleBox {
  display: flex;
  align-items: center;
}

.image {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.title {
  color: var(--color-text);
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  white-space: pre-wrap;
  word-break: break-all;
  @include media-query("sm") {
    font-size: 18px;
  }
}

.hotList {
  margin-top: 12px;
  @include media-query("sm") {
  }
}

.hotItem {
  display: flex;
  padding: 16px 0;
  align-items: flex-start;
  gap: 4px;
  &:not(:last-child) {
    border-bottom: 0.5px solid var(--color-cover8);
  }
}

.num {
  width: 24px;
  height: 24px;
}

.numText {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-family: Kufox Sans;
  font-size: 18px;
  font-weight: 800;
  color: var(--color-text40);
}

.mainContent {
  flex: 1;
}

.hotTitle {
  color: var(--color-text);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  &:hover {
    color: var(--color-primary);
  }
  @include media-query("sm") {
    font-size: 14px;
  }
}

.date {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-text40);
  margin-top: 12px;
}
