@import '~themes/mix.less';

.banner {
  width: 100%;
  min-height: 763px;
  background: #0e1018;
  position: relative;
  transition: all 0.3s ease-in-out;
  .mediaQueryMd({min-height: 534px; padding: 0 24px;});
  .mediaQuerySm({min-height: 736px; padding: 0 12px;});
  :global {
    .ant-dropdown-trigger {
      color: #ffffff;
    }
    .ant-dropdown-menu {
      background-color: #161c2f;
      .ant-dropdown-menu-item {
        color: #ffffff;
        &:hover {
          background-color: #13192c;
          color: rgba(0, 208, 182, 1);
          > a {
            color: rgba(0, 208, 182, 1);
          }
        }
        > a {
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}
.ellipseImg1 {
  width: 246px;
  position: absolute;
  top: 79px;
  left: 0;
  transition: all 0.3s ease-in-out;
  .mediaQueryMd({width: 174px; top: 93px;});
}
.ellipseImg2 {
  width: 246px;
  position: absolute;
  top: 218px;
  left: 0;
  transition: all 0.3s ease-in-out;
  .mediaQueryMd({width: 174px; top: 150px;});
}
.ellipseImg3 {
  width: 246px;
  position: absolute;
  top: 300px;
  left: 0;
  transition: all 0.3s ease-in-out;
  .mediaQueryMd({width: 174px; top: 208px;});
}
.ellipseImg4 {
  width: 246px;
  position: absolute;
  bottom: 70px;
  right: 0;
  transition: all 0.3s ease-in-out;
  .mediaQueryMd({display: none;});
}
.inner {
  margin: 0 auto;
  width: 83.3%;
  max-width: 1200px;
  border-top: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  .mediaQueryMd({width: 100%;});
}
.bannerTop {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.logoImg {
  width: 118px;
  cursor: pointer;
  margin-top: 32px;
  transition: all 0.3s ease-in-out;
  .mediaQueryMd({margin-top: 16px;});
}
.content {
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  .mediaQuerySm({display: block;});
}
.contentLeft {
  width: 49.8%;
  height: 602px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  .mediaQueryMd({width: 48.9%;height: 410px;});
  .mediaQuerySm({display: block;width: 100%;height: auto;});
}
.contentRight {
  width: 56%;
  height: 100%;
  margin: 17px -8% 0 0;
  transition: all 0.3s ease-in-out;
  .mediaQueryMd({width: 45%; margin: 30px 0 0;});
  @media screen and (max-width: 900px) {
    width: 50%;
  }
  .mediaQuerySm({width: 100%; max-width: 351px; display: block; margin: 14px auto 0 auto;});
}
.title {
  width: 100%;
  margin: 0 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #fff;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  @media screen and (max-width: 1400px) {
    font-size: 46px;
    line-height: 62px;
  }
  @media screen and (max-width: 1200px) {
    font-size: 38px;
    line-height: 56px;
  }
  .mediaQueryMd({font-size: 38px; line-height: 56px;});
  @media screen and (max-width: 990px) {
    font-size: 34px;
    line-height: 50px;
  }
  @media screen and (max-width: 890px) {
    font-size: 30px;
    line-height: 42px;
  }
  .mediaQuerySm({margin: 35px 0 0; font-size: 30px; line-height: 42px;});
}
.subTitle {
  width: 100%;
  margin: 4px 0 0;
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  @media screen and (max-width: 1140px) {
    font-size: 32px;
  }
  .mediaQueryMd({margin: 16px 0 0;font-size: 24px;});
  .mediaQuerySm({margin: 14px 0 0;font-size: 20px;});
  span {
    display: flex;
    align-items: center;
    span {
      font-size: 48px;
      line-height: 96px;
      padding: 0 5px;
      background: conic-gradient(
        from 182.14deg at 52.04% 45.31%,
        #66ff1e 0deg,
        #2cffd9 43.12deg,
        #ffffff 91.88deg,
        #8ef235 153.03deg,
        #ffffff 208.13deg,
        #8fffbc 285deg,
        #1d2124 360deg
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      transition: all 0.3s ease-in-out;
      @media screen and (max-width: 1140px) {
        font-size: 40px;
      }
      .mediaQueryMd({font-size: 40px; line-height: 58px;});
      .mediaQuerySm({font-size: 32px; line-height: 36px;});
    }
  }
}
.desGroup {
  width: 64%;
  .mediaQueryMd({margin-top: 12px;width: 91%;});
  .mediaQuerySm({width: 100%;});
}
.description {
  margin: 0 0;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  transition: all 0.3s ease-in-out;
  .mediaQueryMd({font-size: 16px;});
}
.btnGroup {
  margin-top: 43px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  transition: all 0.3s ease-in-out;
  .mediaQueryMd({margin-top: 16px;});
}
.joinBtn {
  width: 35% !important;
  height: 70px !important;
  font-weight: 500;
  font-size: 20px !important;
  color: #00142a !important;
  border-radius: 0 !important;
  background: linear-gradient(270deg, #8AF9B6 0%, #55E1BB 100%) !important;
  opacity: 1 !important;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  .mediaQueryMd({width: 45.2% !important; height: 56px !important; font-size: 16px !important;}) !important;
  .mediaQuerySm(
    {width: 48.4% !important; max-width: 250px !important;}
  ) !important;
}
.joinBtnDisable {
  background: #a5aab4 !important;
}
.shareBtn {
  min-width: 35% !important;
  height: 70px !important;
  font-weight: 500;
  margin-left: 32px;
  font-size: 20px !important;
  color: #fff !important;
  border-radius: 0 !important;
  border-image-source: linear-gradient(95.84deg, #66B9F3 5.15%, #6CECC9 57.05%, #78F264 98.27%) !important; 
  border-image-slice: 20 !important;
  transition: all 0.3s ease-in-out;
  .mediaQueryMd({width: 45.2% !important; height: 56px !important; font-size: 16px !important; margin-left: 24px;}) !important;
  .mediaQuerySm(
    {width: 48.4% !important; max-width: 250px !important; margin-left: 12px;}
  ) !important;
}
.shareImg {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
