.root {
  position: relative;
  background-color: #07193c;

  img {
    width: 100%;
  }

  .button {
    position: absolute;
    bottom: 20.79%;
    left: 6.4%;
    width: 87.2%;
    height: 52px;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 3.27px;
    background: #1abb97;
    border-radius: 6px;
    border-radius: 6px;
  }
}
