// @import "~themes/dark.less";

@input_height: 38px;

._input._input{
    border-radius:2px;
    padding-top: 8px;
    padding-bottom: 8px;
    height: @input_height;
    box-shadow: none;
    &.disabled{
    // color: transparent!important;

    }
}
._input[disabled]{
    color: transparent!important;
}

.timepicker.timepicker > input {
    border-radius:2px;
    padding-top: 8px;
    padding-bottom: 8px;
    height: @input_height;
    box-shadow: none;
    &.disabled{
    // color: transparent!important;

    }
}