@import '~themes/vars.less';
:global{
  .scrollBar {
    &::-webkit-scrollbar-thumb {
      background-color: fade(@white, 25%);
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      border: transparent;
    }
    &::-webkit-scrollbar {
      height: 3px;
      width: 4px;
    }
  }
}
