.container {
  // height: 800px;
  padding: ~`px2rem(16)`;
  width: 100%;
}
.title {
  text-align: center;
  font-size: ~`px2rem(20)`;
  font-weight:500;
  color:#fff;
  line-height: ~`px2rem(28)`;
  margin: ~`px2rem(48)` 0 ~`px2rem(20)`;
}
.content {
  display: flex;
  align-items: flex-start;
}
.timeAxis {
  height: ~`px2rem(897)`;
  margin-right: ~`px2rem(8)`;
}
.newsList {
  flex: 1;
}
.news {
  height: ~`px2rem(95)`;
  overflow: hidden;
}
.newsDate {
  margin-top: ~`px2rem(7)`;
  font-size: ~`px2rem(16)`;
  font-weight: 500;
  color: #FFFFFF;
  line-height: ~`px2rem(24)`;
}
.newsContent {
  margin-top: ~`px2rem(9)`;
  font-size: ~`px2rem(14)`;
  color: fade(#fff, 60);
  line-height: ~`px2rem(22)`;
}