.time {
  display: flex;
  font-size: ~`px2rem(18) `;
  font-weight: 500;
}

.day,
.hour,
.hour,
.minute,
.second {
  width: ~`px2rem(30) `;
  height: ~`px2rem(26) `;
  font-weight: 500;
  font-size: ~`px2rem(18) `;
  line-height: ~`px2rem(26) `;
  text-align: center;
  color: #ffffff;
  background: #171836;
  border-radius: ~`px2rem(4) `;
}

.colon {
  width: ~`px2rem(20) `;
  line-height: ~`px2rem(26) `;
  text-align: center;
  font-weight: 500;
  font-size: ~`px2rem(14) `;
  color: rgba(184, 198, 216, 0.6);
}
