.name {
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  text-align: center;
}

.redtip,
.bluetip,
.greentip {
  margin-top: 13px;
  font-size: 12px;
  letter-spacing: 0;

  :global {
    .anticon {
      margin-right: 4px;
    }
  }
}

.greentip {
  color: #01aa78;
}

.bluetip {
  color: #0f7dff;
}

.redtip {
  color: #ff5f73;
}
