.text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  /* 容纳最大5位区号 */
  width: 50px;
  color: var(--color-text);
  cursor: pointer;
  &.text-disabled {
    cursor: not-allowed;
  }
  svg {
    flex-shrink: 0;
  }
}

.overlayBox {
  border-radius: 4px;
  position: absolute;
  left: -38px;
  top: 16px;
  font-size: 12px;
  background: var(--color-overlay);

  [dir='rtl'] & {
    /* 阿语下需要调整为-42px 才能对齐 */
    right: -42px;
    left: unset;
  }
}

.activeItem {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 36px;
  padding-left: 48px;
  color: var(--color-primary);

  .overlayHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -22px !important;
  }
}

.overlayBody {
  height: 170px;
  margin: 0 !important;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 4px;
    background: transparent;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
  }
}

.overlayItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 36px;
  padding-right: 12px;
  padding-left: 12px;
  color: var(--color-text);
  cursor: pointer;

  &:hover {
    background: var(--color-cover2);
  }

  .highLight {
    color: var(--color-primary);
  }
}

.overlayItemDisabled {
  cursor: not-allowed;
  opacity: 0.4;

  &:hover {
    color: var(--color-text);
  }
}

.content {
  display: flex;
}

.notSupportedWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px 6px;
  background: var(--color-cover4);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  color: var(--color-text60);
  line-height: 130%;
  margin-left: 8px;
  flex-shrink: 0;
}

.noDataWrapper {
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
  word-break: break-all;
  padding: 0 8px;

  img {
    width: 110px;
    height: 80px;
  }

  .title {
    color: var(--color-text60);
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
  }

  .subTitle {
    margin-top: 4px;
    color: var(--color-text60);
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
  }
}
