.wrapper {
  
  position: relative;
  background: #f9f9f9;
  border-radius: 8px;
  padding: 16px 12px;
  overflow: hidden;
  color: var(--color-icon);
  display: block;
  
}

.styledBgIcon {
  position: absolute;
  top: 0;
  right: 0;
  [dir='rtl'] & {
    transform: rotateY(-180deg);
  }
}

.innerWrapper {
  
}

.styledRightArrowIcon {
  margin-left: auto;
  [dir='rtl'] & {
    transform: rotate(180deg);
  }
}

.headerWrapper {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px dashed ;
  
}

.titleWrapper {
  
  flex: 1;
  overflow: auto;
  align-self: start;
  
}

.title {
  
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-text);
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
  
}

.subTitle {
  
  max-width: 275px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--color-text40);
  mix-blend-mode: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

.contentWrapper {
  
  display: flex;
  flex-direction: column;
  gap: 8px;
  
}

.dataRow {
  
  & > span:nth-of-type(1) {
    color: var(--color-text40);
  }
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-text);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  mix-blend-mode: normal;
  
}

.coinWrapper {
  
  display: flex;
  align-items: center;
  gap: 6px;
  
  img {
  width: 16px;
  height: 16px;
  }
  
}