body fieldset {
  min-width: initial;
  padding: initial;
  margin: initial;
  border: initial;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
}

body legend {
  width: initial;
  padding: initial;
  padding-inline-start: 2px;
  padding-inline-end: 2px;
}