.indexPage {
  // margin-top: -80px;
  background: linear-gradient(to top, #0f2232 0%, #00030c 100%);
  overflow-x: hidden;
}

@media (max-width: @kc-mb-width) {
  .indexPage {
    // margin-top: ~`px2rem(-64)`;
    padding: 0;
    padding: 0 0 60px 0;

  }
}
