.container {
  max-width: 580px;
  height: auto;
  margin: 0 auto;
  padding: 0 0 88px 0;

  .title {
    margin-top: 48px;
    color: var(--kux-text);
    font-weight: 600;
    font-size: 36px;
    font-style: normal;
    line-height: 140%;
  }

  .intro {
    display: flex;
    flex: 1;
    flex-flow: column;
    align-items: center;
    box-sizing: border-box;
    padding-top: 40px;

    .introContent {
      display: flex;
      flex-flow: column;
      align-items: center;
      width: 100%;

      .introIcon {
        width: 120px;
        height: 120px;
        img {
          width: 100%;
          height: 100%;
          user-select: none;
          pointer-events: none;
        }
      }

      .introTitle {
        margin-top: 20px;
        color: var(--kux-text);
        font-weight: 500;
        font-size: 20px;
        font-family: 'KuFox Sans';
        font-style: normal;
        line-height: 140%;
      }

      .introList {
        margin-top: 24px;

        .button {
          height: 48px;
        }
        .icon {
          color: var(--kux-icon60);
        }
        & :global(.kux-button.kux-button-basic.kux-button-text) {
          padding: 13px 0;
          :global(.kux-button-content) {
            color: var(--kux-text);
            font-weight: 400;
            font-size: 16px;
            font-style: normal;
            line-height: 140%;
          }
        }
      }

      .introDesc {
        margin-top: 8px;
        color: var(--kux-text60);
        font-weight: 400;
        font-size: 16px;
        font-style: normal;
        line-height: 140%;
        text-align: center;
      }
    }

    .introFooter {
      display: flex;
      flex-flow: column;
      width: 100%;
      margin-top: 40px;
    }
  }

  &.containerH5 {
    padding: 0 16px 44px 16px;

    .title {
      margin-top: 8px;
      font-weight: 700;
      font-size: 24px;
    }

    .intro {
      justify-content: space-between;
      padding-top: 24px;

      .introContent {
        .introIcon {
          width: 110px;
          height: 110px;
        }
        .introTitle {
          margin-top: 8px;
        }
      }
    }
  }

  &.containerApp {
    display: flex;
    flex-flow: nowrap column;
    height: 100vh;
    .intro {
      .introFooter {
        margin-top: 0;
      }
    }
  }
}
