@import "@/styles/mixin.scss";

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  &.isDialog {
    position: relative;
  }
}

.kLineContainer {
  position: relative;
  width: 100%;
  min-height: 308px;
}

.loadingContainer {
  background: var(--color-base);
  display: flex;
  color: rgba(0, 13, 29, 0.4);
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  :global(.KuxSpin-root) {
    margin: auto !important;
  }
}

.noDataStatus {
  background: rgba(0, 13, 29, 0.02);
  z-index: 2;
  border-radius: 8px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.klineNodataText {
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  color: rgba(0, 13, 29, 0.4);
}
