.commonSwiper {
  display: flex;
  justify-content: center;
  width: 100%;
  background: transparent;
  :global {
    .slick-slider {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 1200px;
      height: 100%;
      overflow: hidden;
      border-radius: 8px;
      .prev {
        left: 0 /* rtl:ignore */;
        z-index: 1;
        svg {
          transform: rotateY(-180deg);
        }
      }
      .next {
        right: 0 /* rtl:ignore */;
        z-index: 1;
      }
      .slick-list {
        width: 100%;
        height: 100%;
        text-align: center;
        .slick-track {
          min-width: 1220px;
        }
        .slick-slide {
          img {
            width: 392px;
            height: auto;
            margin-right: 12px /* rtl:ignore */;
            border-radius: 8px;
          }
        }
      }
    }
  }
}

.swiperDiv {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 100%;
  background: transparent;
  cursor: pointer;

  .swiperButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #fff;
    background: rgba(25, 30, 41, 0.4);
    border-radius: 50%;

    .img {
      width: 16px;
      height: 16px;
      color: currentColor;
      fill: currentColor;
    }
  }

  &:hover {
    background: rgba(0, 0, 0, 0.32);

    .swiperButton {
      color: #191e29;
      background: #fff;
    }
  }
}
