@import '@/styles/mixin.scss';

.container {
  position: relative;
}

.svg {
  width: 100%;
  height: auto;
}
.svgRTL {
  transform: scaleX(-1);
}
.svgGradient {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: background 0.3s ease-in-out;
}

.buttonContainer {
  position: absolute;
  left: 24%;
  top: 25%;
  [dir='rtl'] & {
    right: 24%;
  }
  @include media-query('lg') {
    inset-inline-start: 10%;
    [dir='rtl'] & {
      right: 10%;
    }
  }
}
