$sm: 767px;
$sidePadding: 64px;
$sidePaddingMobile: 16px;

.container {
  display: flex;
  flex-direction: column;
  @media (max-width: $sm) {
    min-height: 80vh;
    &.isApp {
      min-height: 100vh;
    }
  }
}

.header {
  border-bottom: 1px solid var(--kux-divider8);
  @media (max-width: $sm) {
    border-bottom: none;
  }
}

.nav {
  display: flex;
  align-items: center;
  padding: 26px $sidePadding 12px;
  svg {
    color: var(--kux-icon);
  }
  .title {
    display: none;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    flex: 1;
    text-align: center;
  }
  .backWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--kux-text60);
    font-size: 14px;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    cursor: pointer;
  }
  @media (max-width: $sm) {
    padding: 10px calc($sidePaddingMobile + 16px);
    position: relative;
    .backWrapper {
      position: absolute;
      left: 16px;
      top: 14px;
      span {
        display: none;
      }
    }
    .title {
      display: block;
    }
  }
}

.title {
  padding: 24px $sidePadding;
  color: var(--kux-text);
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
  display: flex;
  gap: 10px;
  align-items: center;
  div:first-child {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  @media (max-width: $sm) {
    display: none;
  }
}

.desc {
  color: var(--kux-text60);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

.content {
  padding: 40px $sidePadding 88px;
  display: flex;
  flex-direction: column;
  @media (max-width: $sm) {
    padding: 8px $sidePaddingMobile 44px;
    flex: 1;
    &.isEmpty {
      padding-top: 16px;
    }
  }
}

.notSupportPasskeyModal {
  :global(.kux-modal-header) {
    padding-bottom: 0;
  }
}

.failReason {
  color: var(--kux-text60);
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: initial;
}

