@import '@/styles/mixin.scss';

.trade {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 280px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
  @include media-query('lg') {
    gap: 40px;
    padding: 160px 32px 0;
  }

  @include media-query('sm') {
    gap: 10px;
    padding: 120px 16px 0;
    grid-template-columns: 1fr;
  }
}
.tradeLeft {
  video {
    width: 100%;
  }
  mix-blend-mode: lighten;

  [data-theme='light'] & {
    mix-blend-mode: multiply;
  }
}
.tradeRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    color: var(--kux-text);
    margin-bottom: 8px;
  }
  p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: var(--kux-text60);
    margin-bottom: 80px;
  }
  @include media-query('lg') {
    p {
      margin-bottom: 24px;
    }
  }
  @include media-query('lg') {
    h2 {
      font-size: 24px;
    }
  }
}
