@import '@/styles/mixin.scss';

.wrapper {
  
  padding: 24px;
  border: 1px solid rgba(0, 13, 29, 0.08);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  @include media-query('sm') {
    margin-bottom: 20px;
    padding: 16px;
  }
  
}

.textIcon {
  
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  margin-bottom: 24px;
  
}

.iconWrapper {
  
  width: 44px;
  height: 44px;
  padding: 10px;
  background: rgba(1, 188, 141, 0.08);
  border-radius: 100px;
  margin-right: 16px;
  
}

.words {
  
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  @include media-query('sm') {
    font-weight: 600;
    font-size: 14px;
  }
  line-height: 130%;
  color: #000d1d;
}