.page {
  width: 100%;
  height: 100%;

  :global(.KuxBox-root .KuxButton-root) {
    flex-direction: row-reverse;
  }

  :global(.voiceCodeText) {
    color: var(--color-text);
    height: 100%;
  }

  .formContainer {
    height: 100%;
  }

  .lottiePlayer {
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }

  .forgetLeft {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    .fastText {
      color: var(--kux-text60);
      margin-bottom: 0;

      a {
        color: var(--kux-text);
        font-weight: 700;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
