@import '~themes/mix.less';

.conditions {
  width: 100%;
  margin: 80px 0 115px 0;
  transition: all 0.3s ease-in-out;
  .mediaQueryMd({padding: 0 24px;});
  .mediaQuerySm({padding: 0 12px; margin: 60px 0 80px 0;});
}
.inner {
  margin: 0 auto;
  width: 83.3%;
  max-width: 1200px;
  transition: all 0.3s ease-in-out;
  .mediaQueryMd({width: 100%;});
}
.title {
  margin: 0 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: #00142a;
  transition: all 0.3s ease-in-out;
  .mediaQueryMd({font-size: 36px;});
  .mediaQuerySm({font-size: 24px; line-height: 36px;});
}
.content {
  margin-top: 20px;
}
.contentItems {
  margin: 0 0;
  font-size: 16px;
  line-height: 28px;
  color: #00142a;
}
