@import '@/styles/mixin.scss';

.pageHeader {
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--kux-divider8);

  @include media-query('lg') {
    height: 64px;
  }
}

.logoWrapper {
  display: flex;
}

.logo {
  width: 118px;
  margin-left: 32px;
  cursor: pointer;

  @include media-query('lg') {
    width: 101px;
    margin-left: 24px;
  }

  @include media-query('sm') {
    margin-left: 16px;
  }
}

.mainContent {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px 0;

  @include media-query('sm') {
    padding: 48px 20px 0;
  }
}

.errorImg {
  width: 136px;
  height: 136px;
  margin-bottom: 8px;

  @include media-query('sm') {
    width: 120px;
    height: 120px;
    margin-bottom: 16px;
  }
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
  color: var(--kux-text);
  margin-bottom: 24px;

  @include media-query('sm') {
    margin-bottom: 16px;
    font-size: 22px;
  }
}

.desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  color: var(--kux-text60);
  margin-bottom: 14px;

  @include media-query('sm') {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 160%;
  }

  strong {
    font-weight: 700;
  }
}

.ipBox {
  background-color: var(--kux-cover4);
  color: var(--kux-text60);
  width: 100%;
  word-break: break-all;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.56px;
  margin-bottom: 24px;

  span {
    color: var(--kux-text);
    font-weight: 500;
  }
}

.skeletonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
