@import 'src/styles/mixin.scss';

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  text-align: center;
  color: var(--color-text);
  line-height: 40px;
  padding-right: 40px;
  padding-left: 40px;

  @include media-query('sm') {
    padding-right: 12px;
    padding-left: 12px;
  }
}

.main {
  display: flex;
  flex: 1;
  align-items: center;
  overflow: hidden;
}

.topMessageBox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.extendWarnIcon {
  font-size: 16px;
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  min-width: 14px;

  // color: $ {
  //     ({
  //         theme, displayType
  //     })=>displayType==='SUCCESS'
  // ? theme.colors.primary : displayType==='WARN'
  // ? theme.colors.complementary : theme.colors.secondary
  // }

  // ;
  margin-right: 8px;

  [dir='rtl'] & {
    margin-right: 0;
    margin-left: 8px;
  }
}

.content {
  overflow: hidden;
  font-weight: normal;
  font-size: 14px;
  text-align: center;

  // color: $ {
  //     ({
  //         theme, displayType
  //     })=>displayType==='SUCCESS'
  // ? theme.colors.primary : displayType==='WARN'
  // ? theme.colors.complementary : theme.colors.secondary
  // }

  // ;
  margin-right: 8px;
  white-space: nowrap;
  position: relative;
  // top: -1px;

  [dir='rtl'] & {
    margin-right: 0;
    margin-left: 8px;
  }
}

.marqueeGap {
  display: inline-block;
  width: 100px;
}

.closeIcon {
  width: 14px;
  height: 14px;
  cursor: pointer;
  margin-left: 8px;
  color: var(--color-text60);

  [dir='rtl'] & {
    margin-left: unset;
    margin-right: 8px;
  }

  @include media-query('sm') {
    padding-left: 8px;
    border-left: 1px solid var(--color-divider8);
    box-sizing: content-box;

    [dir='rtl'] & {
      border-left: unset;
      border-right: 1px solid var(--color-divider8);
      padding-left: unset;
      padding-right: 8px;
    }
  }
}

.link {
  display: inline-block;
  padding: 2px 8px 2px 12px;
  border: 1px solid;
  text-align: center;
  border-radius: 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  word-break: keep-all;
  white-space: nowrap;

  // color: $ {
  //     ({
  //         theme, displayType
  //     })=>displayType==='SUCCESS'
  // ? theme.colors.primary : displayType==='WARN'
  // ? theme.colors.complementary : theme.colors.secondary
  // }

  // ;

  [dir='rtl'] & {
    padding: 2px 12px 2px 8px;
  }

  & > a {
    display: flex;
    align-items: center;

    svg {
      margin-left: 2px;

      [dir='rtl'] & {
        margin-left: unset;
        margin-right: 2px;
      }
    }
  }

  & a,
  a:hover,
  a:visited,
  a:active {
    color: inherit;
    text-decoration: none;
  }
}

.iCArrowRight2OutlinedIcon {
  [dir='rtl'] & {
    transform: scaleX(-1);
  }
}

.smallPageArrowRight {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;

  svg {
    color: var(--color-text60);

    [dir='rtl'] & {
      transform: scaleX(-1);
    }
  }
}

.extendDrawer {
  width: 100%;
  max-height: 66.7vh;
  min-height: 33.3vh;

  :global(.KuxModalHeader-root) {
    height: 56px;
    padding: 0 16px;
    flex-shrink: 0;

    :global(.KuxModalHeader-close) {
      top: 14px;
      width: 28px;
      height: 28px;
      right: 16px;
    }

    :global(.KuxModalHeader-title) {
      font-size: 18px;
      font-weight: 700;
      line-height: 130%;

      color: var(--color-text);
    }
  }

  :global(.KuxDrawer-content) {
    /* display: flex; */
    width: 100%;
  }
}

.drawerMain {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 16px;

  a {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
  }
}

.drawerContent {
  flex: 1;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;

  color: var(--color-text60);
  overflow: auto;
}

.drawerButton {
  height: 48px;
  font-size: 16px;
  line-height: 130%;
  word-break: break-word;
}
