.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding-top: ~`px2rem(120) `;

  img {
    width: 100px;
    height: 100px;
  }

  p {
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 32px;
  }

  .btn {
    width: ~`px2rem(214) `;
    height: ~`px2rem(40) `;
    font-size: ~`px2rem(16) `;
  }
}

.dark {
  background: #11151f;

  p {
    color: #737e8d;
  }
}

.light {
  background: #ffffff;

  p {
    color: rgba(0, 20, 42, 0.6);
  }
}
