.container {
  background-color: var(--kux-overlay);
  min-height: calc(100vh - 72px);
  max-width: 640px;
  margin: 0 auto;
  padding: 28px 0 20px 0;

  span {
    line-height: 140%;
  }

  @media (max-width: 600px) {
    padding: 16px;
  }
}

.wrapper {
  position: relative;
  margin: 56px auto 0;
  max-width: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 600px) {
    margin: 24px 16px 0;
  }

  &.isApp {
    @media (max-width: 600px) {
      margin-top: 84px;
    }
  }
}

.subTitle {
  margin-bottom: 16px;
  font-size: 16px;
  text-align: center;
  line-height: 140%;
  color: var(--kux-text60);
  word-break: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.statusIcon {
  width: 160px;
  height: 160px;
  margin-bottom: 8px;

  @media (max-width: 600px) {
    width: 136px;
    height: 136px;
  }
}

.customButton {
  width: 100%;
  padding: 24px 28px;
  font-size: 16px;

  @media (max-width: 600px) {
    padding: 16px 24px;
    font-size: 14px;
  }
}

.lottieIcon {
  width: 160px;
  height: 160px;
  margin-bottom: 8px;

  @media (max-width: 600px) {
    width: 136px;
    height: 136px;
  }
}

