$sm: 767px;

.container {
  display: flex;
  flex-direction: column;
}

.desc {
  color: var(--kux-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  margin-bottom: 8px;
  @media (max-width: $sm) {
    margin-bottom: 4px;
  }
}

.item {
  display: flex;
  padding: 16px 20px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--kux-cover8);
  cursor: pointer;
  &+.item {
    margin-top: 16px;
  }
  &:hover :global(.kux-checkbox-inner) {
    border-color: var(--kux-text);
  }
  >svg {
    color: var(--kux-text);
    width: 24px;
    height: 24px;
    @media (max-width: $sm) {
      width: 20px;
      height: 20px;
    }
  }
  @media (max-width: $sm) {
    padding: 16px;
  }
}

.itemContent {
  flex: 1;
  margin: 0 16px 0 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  min-height: 48px;
  >div:first-child {
    color: var(--kux-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
  }
  >div:nth-child(2) {
    color: var(--kux-text40);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
  }
}

.formWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  @media (max-width: $sm) {
    margin-top: 24px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 20px;
  @media (max-width: $sm) {
    flex: 1;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 0;
  }
}

.introduction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--kux-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  border-radius: 8px;
  background: var(--kux-cover4);
  cursor: pointer;
  padding: 14px 16px;
  >span {
    display: flex;
    gap: 4px;
    align-items: center;
  }
  >svg {
    color: var(--kux-icon60);
  }
}

.confirmDialog {
  :global(.kux-modal-header) {
    padding-bottom: 0;
  }
  :global(.kux-modal-footer) {
    @media (max-width: $sm) {
      padding-top: 32px;
      padding-bottom: 34px;
    }
  }
  :global(.kux-empty-description) {
    color: var(--kux-text60) !important;
  }
}