$sm: 767px;

.container {
  display: flex;
  flex-direction: column;
  @media (max-width: $sm) {
    flex: 1;
  }
}

.alert:global(.kux-alert-item) {
  margin-top: 0;
  max-width: 100%;
  @media (max-width: $sm) {
    padding: 12px;
  }
}

.list {
  display: flex;
  flex-direction: column;
}

.item {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-bottom: 1px solid var(--kux-divider4);
  @media (max-width: $sm) {
    padding: 24px 0;
    gap: 12px;
  }
}

.itemHeader {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--kux-text);
  font-size: 20px;
  font-weight: 500;
  line-height: 140%; /* 28px */
  @media (max-width: $sm) {
    font-size: 16px;
    gap: 8px;
    img {
      width: 32px;
    }
  }
  span:nth-child(2) {
    flex: 1;
  }
  span:nth-child(3) {
    display: flex;
    gap: 22px;
    svg {
      color: var(--kux-text);
      cursor: pointer;
      @media (max-width: $sm) {
        color: var(--kux-icon);
      }
    }
  }
}

.itemContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--kux-text40);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  @media (max-width: $sm) {
    gap: 4px;
  }
}

.noMore {
  margin-top: 32px;
  color: var(--kux-text40);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%; /* 18.2px */
}

.createButtonWrapper {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  button {
    width: 100%;
    :global(.kux-button-content) {
      display: flex;
      gap: 4px;
    }
  }
}