.wrapper {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-end;
  margin-inline-start: 4px;
}

.priceWrapper {
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  color: var(--kux-text);
  text-align: right;
}

.rateWrapper {
  font-weight: 400;
  font-size: 12px;
  text-align: right;
  color: var(--kux-brandGreen);
  line-height: 140%;
}
