@import 'src/styles/mixin.scss';

.back {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: var(--kux-text60);
  cursor: pointer;
  span {
    margin-left: 7px;
  }
  svg {
    transform: rotate(180deg);
  }
}
.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: var(--kux-text);
  margin-top: 0;
  margin-bottom: 8px;
  word-break: break-word;
  &.withDrawer {
    font-size: 36px;
  }
  @include media-query('sm') {
    font-size: 24px;
    margin-bottom: 8px;
  }
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--kux-text60);
  margin-bottom: 40px;
  @include media-query('sm') {
    font-size: 14px;
    margin-bottom: 32px;
  }
}
.formWrapper {
  :global(.KuxForm-item) {
    :global(.KuxForm-itemHelp) {
      display: none;
    }
  }
  :global(.KuxForm-item.KuxForm-itemError) {
    :global(.KuxForm-itemHelp) {
      display: flex;
    }
  }
}
.trustCheckbox {
  @include media-query('sm') {
    line-height: 100%;
  }
}

.safeWordBox {
  .safeword {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    background: var(--kux-brandGreen12);
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: var(--kux-brandGreen);
  }
  .safewordTips {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--kux-text60);
    margin-top: 16px;
    margin-bottom: 0;
  }
}

.riskAlert {
  margin-bottom: 24px;
}

.formFooterItem {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: var(--kux-text);
  text-decoration: underline;
  cursor: pointer;
  & + & {
    margin-top: 16px;
  }
  @include media-query('sm') {
    text-align: center;
  }
}

.agreeLabel {
  color: var(--kux-text);
  font-size: 14px;
  font-weight: 400;
  & a {
    cursor: pointer;
    color: var(--kux-text);
    text-decoration: underline;
  }
}

// Margin utility classes
.mb24 {
  margin-bottom: 24px;
}

.mb40 {
  margin-bottom: 40px;
}

.mt12 {
  margin-top: 12px;
}

.mt16 {
  margin-top: 16px;
}

.mt32 {
  margin-top: 32px;
}

.mt40 {
  margin-top: 40px;
}

.mtNeg16 {
  margin-top: -16px;
}
