@import '@/style/index.scss';

// 自动产生命名空间, 用于生成类名, 使用 $ns-animated-status-icon 作为类名
// * 例如: $ns: 'kux', componentName: 'Hero2', 则类名为 kux-hero2
// * $prefix 也会自动更新: $ns + '-' + 'animated-status-icon'
// * 例如: $ns: 'kux', componentName: 'Hero2', 则 $prefix 为 kux-hero2
@include component('empty') {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.is-small, &.is-auto {
    .#{$prefix}-icon {
      width: 136px;
      height: 136px;
    }
    .#{$prefix}-title {
      font-size: 20px;
      font-weight: 500;
      margin-top: 8px;
      color: get-theme(text)
    }

    .#{$prefix}-description {
      font-size: 16px;
      color: get-theme(text40);
      margin-top: 8px;
    }
  }

  @include responsive(lg) {
    &.is-auto {
      .#{$prefix}-icon {
        width: 240px;
        height: 240px;
      }
      .#{$prefix}-title {
        font-size: 36px;
        font-weight: 700;
      }
      .#{$prefix}-description {
        font-size: 20px;
        color: get-theme(text);
      }

      .#{$prefix}-title + .#{$prefix}-description {
        margin-top: 12px;
      }
    }
  }

  &.is-medium {
    .#{$prefix}-icon {
      width: 240px;
      height: 240px;
    }

    .#{$prefix}-title {
      font-size: 36px;
      font-weight: 700;
    }

    .#{$prefix}-description {
      font-size: 20px;
      color: get-theme(text);
    }

    .#{$prefix}-title+.#{$prefix}-description {
      margin-top: 12px;
    }
  }
}
