@import 'default';

@color-down: #ff5f73;
@color-up: #01aa78;
@color-main: #0F7DFF;
@weight-medium: 500;
@weight-bold: 700;

@color-primary: @color-main;
@color-danger: @error-color;
@color-success: @success-color;
@color-disabled: @disabled-color;
@color-gray: rgba(0, 0, 0, .43);

@color-high: @color-up;
@color-low: @color-down;

@color-buy: @color-up;
@color-sell: @color-down;
// @font-family: Roboto,
// Roboto,
// 'Ubuntu',
// Helvetica Neue,
// Helvetica,
// PingFang SC,
// Hiragino Sans GB,
// Microsoft YaHei,
// '微软雅黑',
// Arial,
// sans-serif;

// 品牌升级后的色值
@color_new_primary: #2DBD96;
@navigator-bg-color: multiply(fade(#fff, 4%), fade(#00142A, 4%));
