@import 'src/styles/mixin.scss';

.Alert {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.60);
  z-index: 1001; // 比下载弹窗高一级
  transform: translateY(100%);
  transition: transform 240ms ease;
  will-change: transform;

  @include media-query('sm') {
    background: #000000;
  }
}

.open {
  transform: translateY(0);
}

.closing {
  transform: translateY(100%);
}

.Title {
  font-size: 16px;
  font-weight: 400;
  color: rgba(243, 243, 243, 0.60);
  margin-bottom: 4px;

  @include media-query('sm') {
    font-size: 12px;
  }
}

.Inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  padding: 16px 24px;

  @include media-query('sm') {
    position: relative;
    padding: 16px;
    flex-direction: column;
    gap: 16px;
  }
}

.InnerClosable {
  @include media-query('sm') {
    padding-top: 40px;
  }
}

.Content {
  flex: 1 1 auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #fff;

  @include media-query('sm') {
    font-size: 12px;
  }
}

.Actions {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 32px;

  @include media-query('sm') {
    width: 100%;
  }
}

.ActionsButtons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.CloseIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;

  @include media-query('sm') {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 16px;
    height: 16px;
  }
}


// 黑白通用
.cancelButton {
  color: #FFF !important;
  background: rgba(243, 243, 243, 0.08) !important;
}

.okButton {
  color: #1D1D1D !important;
  background: #FFF !important;
}