@import "~themes/mui.dark.less";
@import '~themes/kufox.base.less';
body {

.withdrawPanel {
  color: @color_complementary;
  background: @color_cardBc1;
  .font_md();
  .mediaQueryFl({
    background: #01081e;
  });
}
.announcement {
  color: @color_primary;
  a {
    &,&:hover {
      color: @color_primary;
    }
  }
}

}
