@import "~themes/mui.light.less";


body {

.withdrawPanel {
  color: @color_complementary;
  background: @color_cardBc1;
  .font_md();
}
.announcement {
  color: @color_primary;
  a {
    &,&:hover {
      color: @color_primary;
    }
  }
}

}
