.titleContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 31px;
  
  @media (max-width: 600px) {
    margin-bottom: 24px;
  }
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  margin-top: 0;
  word-break: break-word;
  color: var(--kux-text);
  
  &.withDrawer {
    font-size: 36px;
  }
  
  @media (max-width: 600px) {
    font-size: 24px;
  }
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  margin-top: 12px;
  margin-bottom: 9px;
  word-break: break-word;
  color: var(--kux-text60);
  
  @media (max-width: 600px) {
    font-size: 14px;
  }
}
