@keyframes contentZoomIn {
  0% {
    height: 0;
  }

  100% {
    height: fit-content;
  }
}

@keyframes contentZoomOut {
  0% {
    height: fit-content;
  }

  100% {
    height: 0;
  }
}

.animateOverlay {
  animation-timing-function: bezier-curve(0.2, 0, 0, 1);
  animation-fill-mode: forwards;
}

.fixedDropDownOverlay {
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 0.14s;
  transition-delay: 0s;
  transition: height 0.44s;
  &.visible {
    // animation-name: contentZoomIn;
  }

  &.hidden {
    height: 0 !important;
    overflow: hidden;
  }
}

.headerPlaceholder {
  position: absolute;
  width: 100%;
  height: calc(100% + 2px);
  left: 0;
  top: 0;
  z-index: 0;
}

.contentBox {
  z-index: 1;
}
// .inTradeFixedOverlay {
//   translate: 0 -24px;
// }
