@import 'src/styles/mixin.scss';

.Content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Body {
  flex: auto;
  .ReactVirtualized__List {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.LoadingWrapper {
  display: flex;
  justify-content: center;
  margin: 8px 0;
}

.CusModalFooter {
  padding: 20px 32px;
  button:first-of-type {
    margin-right: 24px;
    color: var(--color-text60);
  }
  @include media-query('sm') {
    padding: 20px 16px;
  }
}