.forbes {
  color: #333;
  direction: ltr /* rtl:ignore */;
}

.head {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #181716;
}

.main {
  padding-top: 76px;
  background: no-repeat url('~static/forbes/bg.svg') 0 -200px;
  background-size: cover;
}

.box {
  display: flex;
  width: 1086px;
  height: 561px;
  margin: 0 auto;
  padding: 10px 51px 0 0;
  background-color: #fff;
  border: 1px solid #3c4b8b;
}

.left {
  flex-shrink: 0;
  width: 300px;
}

.forbesLogo {
  width: 100%;
}

.kucoinLogo {
  display: block;
  height: 60px;
  margin: 0 auto;
}

.right {
  flex-grow: 1;
  padding-top: 50px;
}

.title {
  margin: 0;
  color: #333;
  font-size: 26px;
  line-height: 33px;
}

.date {
  margin: 9px 0 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
}

.rank {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  padding-bottom: 17px;
  border-bottom: 1px solid #c7c7c7;
}

.name {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
}

.scorebox {
  display: flex;
  align-items: center;
  margin-right: 46px;
  padding: 8px 15px;
  border: 1px solid #eeeeee;
  border-radius: 108px;
  box-shadow: 0px 4px 2px rgb(119 115 103 / 4%);
  cursor: pointer;
}

.score {
  color: #333333;
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
}

.starbox {
  padding-left: 8px;
}

.star {
  display: block;
  width: 100px;
  height: 16px;
  background-image: url(~static/forbes/star-half.svg);
}

.starInner {
  display: block;
  width: 80%;
  height: 100%;
  background-image: url(~static/forbes/star.svg);
}

.advisorbox {
  display: flex;
  margin-top: 5px;
}

.advisor {
  height: 12px;
}

.infoIcon {
  height: 12px;
}

.p1,
.p2,
.p3 {
  margin: 0;
  font-size: 14px;
  line-height: 19px;
  word-break: break-word;
}
.p1 {
  margin-top: 36px;
}
.p2 {
  margin-top: 72px;
}
.p3 {
  margin-top: 16px;
}

.toggle {
  color: #284ba6;
}

.tooltip {
  width: 235px;
  padding: 10px 16px;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  background-color: #333333;
  border-radius: 10px;
}

.tooltipArow {
  width: 24px !important;
  background-color: #333333;
}

.btns {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.button {
  width: 120px;
  background-color: #5072ce;
}

.button:hover {
  background-color: #5072ce;
}

.button + .button {
  margin-left: 50px;
}
