.wrapper {
  display: none;
  margin-top: 16px;

  &.visible {
    display: block;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.noData {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noDataText {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 13, 29, 0.4);
  margin: 24px 0;
}