@import '@/styles/mixin.scss';

.wrapper {
  background: rgba(29, 29, 29, 0.02);
  border-radius: 4px;
  height: 87px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px 12px;
  gap: 2px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.extendLink {
  text-decoration: underline;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-primary);
}

.symbolInfo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.symbolCategory {
  display: flex;
  gap: 16px;
}

.leverage {
  
  border: 0.5px solid ;
  border-radius: 2px;
  padding: 0 4px;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-primary);
  &::after {
    content: 'x';
  }
  
}

.symbolText {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-text);
}

.priceInfo {
  
  display: flex;
  align-items: center;
  gap: 4px;
  
}

.price {
  font-size: 14px;
  line-height: 22px;
  color: var(--color-text40);
}