@import 'src/styles/mixin.scss';

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 32px;
}

.desc {
  color: var(--kux-text);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
  line-height: 150%;
}

.ignoreTime {
  color: var(--kux-text60);
  font-size: 14px;
  margin-left: 8px;
}

.btnBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}