.countdown {
  display: flex;
}

.group {
  display: flex;
  align-items: flex-end;

  .desc {
    color: #fff;
    margin-right: 5px;
  }
}

.box {
  margin-right: 5px;
  &:last-child {
    margin-right: 0;
  }
}
