.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.pageTitle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--kux-text);
  padding: 24px 64px;
  font-weight: 600;
  font-size: 24px;
  background: var(--kux-overlay);
  border-bottom: 1px solid var(--kux-cover8);

  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 32px;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    font-size: 18px;
  }
}

.titleTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  width: 100%;
  padding: 0 64px;
  color: var(--kux-text);

  @media (max-width: 1200px) {
    padding: 0 32px;
  }

  @media (max-width: 600px) {
    padding: 0 16px;
  }
}

.loadingWrapper {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 600px) {
    margin-top: 20px;
  }
}

.emptyBox {
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.styledTable {
  margin-top: 12px;

  :global {
    thead tr th {
      padding: 11px 0 9px;
      color: var(--kux-text40);
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
    }

    tr td {
      padding: 18px 0;
      border-bottom: none;
    }
  }
}

