.alertWrapper {
  margin-top: 16px;

  .alert {
    width: 100%;
    max-width: 100%;
    padding: 12px 16px;
    font-size: 13px;
    background: var(--kux-complementaryYellow8);
    border: none;
    border-radius: 8px;
  }
}

.passwordFormItem {
  gap: 0;
  margin-top: 40px;
  margin-bottom: 8px;
}

.passwordRepeatFormItem {
  :global(.kux-form__item) {
    :global(.kux-form__item-help) {
      display: none !important;
    }
  }
  :global(.kux-form__item.kux-form__item--error) {
    :global(.kux-form__item-help) {
      display: flex !important;
    }
  }
}

.submitButton {
  margin-top: 40px;
}
