@import 'src/styles/mixin.scss';

.contentBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--kux-bg);
  border-radius: 16px;
  box-shadow: 0 8px 32px 0 var(--kux-shadow16);
  padding: unset;
  margin: 0 auto;
  max-width: 486px;
  flex: 1;
  & > div {
    width: 100%;
  }
  &.withDrawer {
    max-width: unset;
    padding: 40px 64px 40px;
  }
  @include media-query('lg') {
    margin: 0 auto;
    padding: 30px 40px 40px;
  }
  @include media-query('sm') {
    width: 100%;
    margin: 0 auto;
    max-width: unset;
    padding: 0px 16px 40px !important;
    flex: auto;
  }

  .contentWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;

    .contentInner {
      flex: 1;
    }
  }
}
.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 31px;

  @include media-query('sm') {
    margin-bottom: 24px;
  }
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  margin-top: 0;
  word-break: break-word;
  color: var(--kux-text);

  &.titleWithDrawer {
    font-size: 36px;
  }

  @include media-query('sm') {
    font-size: 24px;
  }
}

.button {
  margin-top: 40px !important;
}
