@import "src/styles/mixin.scss";

.newFooterLinkGroup {
  width: 20%;
  padding-right: 24px;
  margin-bottom: 56px;
  min-width: 240px;

  @include media-query('sm') {
    width: 100%;
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 28px;

    &:last-child {
      margin-right: auto;
      width: 100%;
    }

    &.ukLastGroup,
    &:not(:last-child) {
      .newFooterLinkGroupTitle {
        position: relative;
        cursor: pointer;

        & ~ a,
        & ~ dd,
        & ~ div {
          display: none;
        }
      }
    }
  }
}

.after {
  position: relative;
  padding-bottom: 12px;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    content: ' ';
    width: 16px;
    height: 16px;
    background-image: url('../static/ic2_arrow_down.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: all 0.3s ease-in-out;
    transform: rotate(180deg);

    [dir='rtl'] & {
      right: unset !important;
      left: 0 !important;
    }
  }
}

.newFooterLinkGroupMinW300 {
  min-width: 300px;
}

.newFooterLinkMarginBottom48 {
  margin-bottom: 48px;
  
  @include media-query('sm') {
    margin-bottom: 24px;
  }
}

.newFooterLinkGroupTitle {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 500;
  color: var(--color-text);
  line-height: 130%;

  @include media-query('sm') {
    font-size: 16px;
    margin-bottom: 0;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      content: '';
      width: 16px;
      height: 16px;
      background-image: url('../static/ic2_arrow_down.svg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      transition: all 0.3s ease-in-out;

      [dir='rtl'] & {
        right: unset;
        left: 0;
      }
    }
  }
}

.newFooterHover {
  position: relative;
  width: 240px;
  padding: 4px 0;
  word-break: break-all;
  display: block;
  font-size: 14px;
  cursor: pointer;
  color: var(--color-text60);

  &:hover {
    color: var(--color-text);
    .newFooterHoverMenu {
      display: block;
    }
  }
}

.newFooterHoverMenu {
  display: none;
  position: absolute;
  top: unset !important;
  list-style: none;
  bottom: 100%;
  left: 16px;
  transform: translate3d(-50%, 0, 0);
  background-color: var(--color-background);
  width: 240px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);

  &::-webkit-scrollbar {
    display: none;
  }

  &::after {
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    bottom: -6px;
    border: 6px solid transparent;
    border-bottom-width: 0;
    border-top: 6px solid #fff;
    content: '';
    transform: translate3d(-50%, 0, 0);
  }

  a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    color: var(--color-text60);
    padding: 0 24px;
    cursor: pointer;

    &:hover {
      background: var(--color-cover2);
      color: var(--color-text);
    }
  }

  @include media-query('sm') {
    left: 120px;

    [dir='rtl'] & {
      left: unset;
      right: 0;
      transform: translate3d(0, 0, 0);
    }
  }
}
