.previewTag {
    display: flex;
    align-items: center;
    height: 15px;
    padding: 0px 3px;
    border-radius: 4px;
    background: rgba(1, 188, 141, 0.08);
    font-weight: 500;
    font-size: 10px;
    color: var(--color-primary);
    margin-left: 4px;
}