@import '@/styles/mixin.scss';

.wrapper {
  
  width: 100%;
  height: 104px;
  & > a {
  position: relative;
  display: block;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 104px;
  padding: 16px 12px;
  background: #1e2018;
  background: #1e2018;
  border-radius: 12px;
  cursor: pointer;
  backdrop-filter: blur(4px);
  }
  margin-bottom: 32px;
  @include media-query('lg') {
  height: auto;
  min-height: 104px;
  & > a {
  height: auto;
  min-height: 104px;
  }
  }
  
}

.logo {
  width: 28px;
  position: absolute;
  left: 8px;
  top: 2px;
  [dir='rtl'] & {
  transform: rotateY(180deg);
  }
  
}

.title {
  
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  line-height: 100%;
  
}

.des {
  
  color: #f8b200;
  font-size: 12px;
  font-weight: 600;
  margin: 8px 0px 0px 0px;
  padding: 0px;
  line-height: 100%;
  @include media-query('sm') {
  margin-top: 4px;
  }
  
}

.image {
  width: 100px;
  [dir='rtl'] & {
  transform: rotateY(180deg);
  }
  @include media-query('lg') {
  width: 100px;
  }
  
}