@import '@/style/index.scss';

// 自动产生命名空间, 用于生成类名, 使用 $ns-statistic 作为类名
// * 例如: $ns: 'kux', componentName: 'Hero2', 则类名为 kux-hero2
// * $prefix 也会自动更新: $ns + '-' + 'statistic'
// * 例如: $ns: 'kux', componentName: 'Hero2', 则 $prefix 为 kux-hero2
@include component('statistic') {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;

  // 前后缀之间的间距, 按文字大小1/4 来设置
  &-spacer {
    width: calc(1em/4);
  }
}
