/**
 * Owner: sean.shi@kupotech.com
 */
@import 'src/styles/mixin.scss';


.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  margin-bottom: 8px;
  color: var(--kux-text);
  word-break: break-word;

  @include media-query('sm') {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 8px;
  }
}

.setAccountTitle {
  @extend .title;
  margin-bottom: 40px;

  &.fromDrawer {
    font-size: 32px;
    margin-bottom: 24px;

    @include media-query('sm') {
      font-size: 20px;
      margin-bottom: 16px;
    }
  }

  @include media-query('sm') {
    margin-bottom: 32px;
  }
}


.alreadyHasCount {
  margin-top: 24px;

  @include media-query('sm') {
    margin-top: 20px;
  }
}

.verifyAccountWrap {
  width: 100%;

  & input {
    width: auto;
    flex: 1;
  }
}

.tips {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--kux-text60);
  margin-bottom: 37px;

  @include media-query('sm') {
    font-size: 14px;
    margin-bottom: 24px;
  }
}

.voiceCodeWrapper {
  margin-top: 40px;
}

.bindEmailButton {
  margin-top: 16px;
}