@import '@/styles/mixin.scss';

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: center;

  @include media-query('lg') {
    flex-direction: column;
    align-items: flex-start;
  }

  :global(.KuxSpin-basicSpin) {
    @include media-query('lg') {
      align-self: center !important;
    }
  }
}

.infoWrapper {
  display: inline-block;
  @include media-query('lg') {
    margin-bottom: 24px;
  }
}

.title {
  color: #1d1d1d;
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 10px;

  @include media-query('sm') {
    font-size: 18px;
  }
}

.desc {
  color: rgba(29, 29, 29, 0.4);
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  margin-top: 8px;

  @include media-query('sm') {
    font-size: 12px;
  }
}

.btnCont {
  width: 310px;
  display: flex;
  opacity: 1;

  &.spinning {
    opacity: 0;
  }

  &.voted {
    pointer-events: none;
  }
}