@import '@/styles/mixin.scss';

.wrapper {
  width: 100%;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid rgba(29, 29, 29, 0.08);
  margin: 32px 0px;

  @include media-query('lg') {
    padding: 16px 12px;
  }

  @include media-query('sm') {
    margin: 20px 0px;
    padding: 16px;
  }
}