@import "@/styles/mixin.scss";

.wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  @include media-query("sm") {
    margin-bottom: 6px;
  }
}

.leftBtn {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  background: transparent;
  border: none;
  &:hover {
    & > div > img {
      transform: translate(0px, 0px);
    }
  }
}

.upWrapper {
  width: 48px;
  height: 48px;
  background: #01bc8d;
  z-index: 9;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  box-shadow: -1px 5px 0px 0px #009a73;
  overflow: hidden;

  [dir='rtl'] & {
    box-shadow: rgb(0, 154, 115) 1px 5px 0px 0px;
  }

  img {
    transform: translate(-6px, 6px);
    transition: all 0.2s linear;
  }
}

.parallelism {
  width: 120px;
  height: 48px;
  background: #01bc8d;
  margin-left: -20px;
  transform: skew(-13deg);
  border-radius: 2px;
  box-shadow: 1px 5px 0px 0px #009a73;
  display: flex;
  align-items: center;
}

.rightBtn {
  display: flex;
  flex-direction: row;
  margin-left: 12px;
  cursor: pointer;
  background: transparent;
  border: none;
  &:hover {
    & > div > img {
      transform: translate(0px, 0px);
    }
  }
}

.downWrapper {
  width: 48px;
  height: 48px;
  background: #f65454;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  z-index: 9;
  box-shadow: 1px 5px 0px 0px #bb2121;

  /* 插件没有转这个样式 */
  [dir='rtl'] & {
    box-shadow: rgb(187, 33, 33) -1px 5px 0px 0px;
  }

  img {
    transform: translate(6px, -6px);
    transition: all 0.2s linear;
  }
}

.rightParallelism {
  width: 120px;
  height: 48px;
  background: #f65454;
  margin-right: -20px;
  transform: skew(-13deg);
  border-radius: 2px;
  box-shadow: -1px 5px 0px 0px #bb2121;
  display: flex;
  align-items: center;
}

.maskPK {
  z-index: 10;
  position: absolute;
  left: 134px;
  top: 5.5px;
}

.canvas {
  position: absolute;
  z-index: 99;
  top: -140px;
  left: 112px;
  opacity: 0.99;
}

.text {
  word-break: break-all;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
  display: flex;
  align-items: center;
  transform: skew(13deg);
  padding-left: 20px;
  img {
    margin-right: 4px;
  }
}

.textRight {
  justify-content: flex-end;
}
