.wrapper {
  
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  
}

.leftBtn {
  
  display: flex;
  flex-direction: row;
  cursor: pointer;
  min-width: 60px;
  // flex: ) => (rate === Infinity ? 5 : rate)};
  // flex: ;
}

.upWrapper {
  
  width: 48px;
  height: 48px;
  background: #e1f7f1;
  z-index: 9;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  
}

.parallelism {
  
  flex: 1;
  height: 48px;
  background: #e1f7f1;
  margin-left: -20px;
  transform: skew(-13deg);
  border-radius: 2px;
  
}

.rightBtn {
  
  display: flex;
  flex-direction: row;
  margin-left: 12px;
  cursor: pointer;
  flex: 1;
  min-width: 60px;
  
}

.downWrapper {
  
  width: 48px;
  height: 48px;
  background: #feeaea;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  z-index: 9;
  
}

.rightParallelism {
  
  flex: 1;
  height: 48px;
  background: #feeaea;
  margin-right: -20px;
  transform: skew(-13deg);
  border-radius: 2px;
  
}

.percentText {
  
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 16px;
  top: 4px;
  font-size: 16px;
  font-weight: 700;
  color: #01bc8d;
  line-height: 130%;
  & > span {
  font-weight: 400;
  font-size: 12px;
  text-wrap: nowrap;
  }
  
}

.percentTextRight {
  
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 16px;
  text-align: right;
  top: 4px;
  font-size: 16px;
  font-weight: 700;
  color: #f65454;
  line-height: 130%;
  & > span {
  font-weight: 400;
  font-size: 12px;
  text-wrap: nowrap;
  }
}
