/**
 * Owner: roger@kupotech.com
 */

.wrapper {
  min-width: 316px;
  position: relative;
  background: var(--color-cover2);
  border-radius: 0px 16px 16px 0px;
  box-shadow: 35px -20px 45px 0px rgba(0, 0, 0, 0.05), 0px 15px 15px -8px rgba(0, 0, 0, 0.05);

  [dir='rtl'] & {
    border-radius: 16px 0 0 16px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  border-radius: 0px 16px 16px 0px;

  [dir='rtl'] & {
    border-radius: 16px 0 0 16px;
  }
}

.tradeListBlank1 {
  position: absolute;
  left: -26px;
  bottom: 0px;
  width: 26px;
  height: 12px;

  background: var(--color-layer);

  [dir='rtl'] & {
    left: unset;
    right: -26px;
  }
}

.tradeListBlank2 {
  @extend .tradeListBlank1;
  top: 0px;
}

.searchWrapper {
  min-width: 268px;
  flex-shrink: 0;
  padding-bottom: 12px;
  // margin: 0 24px;

  :global(.KuxInput-prefix) {
    opacity: 0.4;

    [dir='rtl'] & {
      margin-right: unset !important;
      margin-left: 4px !important;
    }
  }

  :global(.KuxInput-clearIcon) {
    svg {
      color: var(--color-icon);
      opacity: 0.4;
    }
  }
}

.contentWrapper {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.tabs {
  min-width: 268px;
  height: 24px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin: 8px 24px 12px;

  :global(.KuxDropDown-popper) {
    inset: 20px 0px auto -60px !important;
    transform: unset !important;

    [dir='rtl'] & {
      inset: 20px -60px auto 0px !important;
    }
  }

  > div {
    position: relative;
  }
}

.tab {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  height: 100%;
  cursor: pointer;

  color: var(--color-text40);
  margin-right: 16px;
}

.activeTab {
  @extend .tab;
  color: var(--color-text);
  position: relative;

  &::after {
    content: '';
    height: 2px;
    bottom: 0px;
    width: 100%;
    max-width: 22px;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    background: var(--kux-text);
    border-radius: 4px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
  }
}

.bottomCursor {
  height: 4px;
  bottom: 0px;
  width: 100%;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  background: var(--color-primary);
  border-radius: 4px;
  position: absolute;
}

.tabMore {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  height: 24px;
  cursor: pointer;

  color: var(--color-text40);
  position: relative;
  padding-right: 13px;

  & .arrowIcon {
    position: absolute;
    top: 1px;
    right: 1px;
  }

  &:hover .arrowIcon {
    transform: rotate(180deg);
    top: 4px;
  }

  &:svg {
    width: 10px;
    margin-left: 1px;
  }
}

.activeTabMore {
  @extend .tabMore;
  color: var(--color-text);
  position: relative;

  &::after {
    content: '';
    height: 2px;
    bottom: 0px;
    width: 100%;
    max-width: 22px;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    background: var(--kux-text);
    border-radius: 4px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    margin-left: -6px;
  }
}

.tabMoreList {
  min-width: 81px;
  overflow: auto;
  // background: var(--kux-backgroundWeb);
  background: var(--kux-bulletLayer);
  border: 1px solid var(--kux-divider4);
  border-radius: 8px;

  &::-webkit-scrollbar {
    background: transparent;
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;

    background: var(--color-cover8);
  }
}

.tabMoreItem {
  font-weight: 400;
  font-size: 14px;
  padding: 9px 12px;
  color: var(--kux-text);
  cursor: pointer;
  line-height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  &:hover {
    background: var(--kux-cover2);
  }
}

.activeTabMoreItem {
  font-weight: 400;
  font-size: 14px;
  padding: 9px 12px;

  color: var(--kux-text);
  background: var(--kux-cover2);
  cursor: pointer;
  line-height: 22px;
}

.listWrapper {
  width: 100%;
  flex: 1;
}

.dropdown {
  :global(.KuxDropDown-open) {
    background: var(--color-tip);
    border-radius: 8px;
  }
}

.tabsBox {
  padding: 0 16px 0 16px;
}
