@import '@/styles/mixin.scss';

.pager {
  display: flex;
  justify-content: space-between;

  @include media-query('lg') {
    gap: 32px;
    width: 100%;
  }

  @include media-query('sm') {
    gap: 16px;
    width: 100%;
    margin-top: 24px;
  }
}

.PagerScroll {
  display: flex;
  transition: transform 0.5s ease-in-out;

  @include media-query('lg') {
    gap: 32px;
  }

  @include media-query('sm') {
    gap: 16px;
  }
}

.ListController {
  display: none;
  margin-top: 48px;

  @include media-query('lg') {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include media-query('sm') {
    margin-top: 24px;
  }
}
