.layout__area--top {
  background: #171F29;
}

.group-wWM3zP_M- {
  background-color: #171F29;
  border-radius: 0;
}

.drawingToolbar-U3_QXRof- {
  border-right: 2px solid #080E15;
}

.inner-1xuW-gY4- {
  background-color: #080E15;
}

.group-2JyOhh7Z-,
.wrap-1h7U5nKd- {
  background: #171F29 !important;
}

.container-3_8ayT2Q- .background-Q1Fcmxly- {
  fill: #131722;
  stroke: #363c4e;
}

.subGroup-1JpgB9zD->:not(:first-child):before {
  background-color: #6A7B88;
}

.button-263WXsg-- .icon-1Y-3MM9F-,
.button-13wlLwhJ-,
.button-2ioYhFEY-,
.customButton--jqJTfH5-,
.button-2ioYhFEY-.isInteractive-20uLObIc- {
  color: #6A7B88;
  cursor: pointer;
}

.wrap-15BhAobm-.opened-1yAGeGGi-,
.button-13wlLwhJ-.isOpened-1939ai3F-,
.button-2ioYhFEY-.isInteractive-20uLObIc-.isOpened-p-Ume5l9- {
  background-color: #171F29;
}

.customButton--jqJTfH5-.hovered-1mGRUp3y-,
.feature-no-touch .customButton--jqJTfH5-:active,
.feature-no-touch .customButton--jqJTfH5-:hover,
.feature-touch .customButton--jqJTfH5-:active,
.button-263WXsg-- .icon-1Y-3MM9F-.hovered--MYZioUu-,
.feature-no-touch .button-263WXsg-- .icon-1Y-3MM9F-:active,
.feature-no-touch .button-263WXsg-- .icon-1Y-3MM9F-:hover,
.feature-touch .button-263WXsg-- .icon-1Y-3MM9F-:active,
.button-13wlLwhJ-.hovered-FUo4RNOC-,
.feature-no-touch .button-13wlLwhJ-:active,
.feature-no-touch .button-13wlLwhJ-:hover,
.feature-touch .button-13wlLwhJ-:active,
.button-2ioYhFEY-.isInteractive-20uLObIc-.hovered-3perbaxJ-,
.feature-no-touch .button-2ioYhFEY-.isInteractive-20uLObIc-:active,
.feature-no-touch .button-2ioYhFEY-.isInteractive-20uLObIc-:hover,
.feature-touch .button-2ioYhFEY-.isInteractive-20uLObIc-:active {
  color: #A4AAB3;
}

body.chart-page {
  background: black;
}

.onchart-tv-logo {
  font-size: 12px;
}

.onchart-tv-logo .wrapper {
  padding: 0;
}

.onchart-tv-logo .inner {
  height: 24px;
  line-height: 23px;
  padding: 0 5px;
}

.onchart-tv-logo img {
  width: 24px;
  height: 18px;
  top: 2px
}

.onchart-tv-logo.expanded .text {
  width: auto;
  padding-left: 24px;
}

.loading-indicator {
  background-color: black;
}

.chart-page .chart-container {
  border: 1px solid hsla(0, 0%, 100%, .08);
  border-left: none;
  border-right: none;
  border-bottom: none;
  background-color: #262c39;
  /* black; */
}

.tv-side-toolbar {
  border-right: 1px solid hsla(0, 0%, 100%, .1);
}

.tv-close-panel.top {
  display: none;
}

.tv-close-panel.left {
  border: 1px solid hsla(0, 0%, 100%, .08);
  background-color: hsla(0, 0%, 100%, .05);
  left: 51px;
}

.pane-legend .pane-legend-line {
  font-size: 12px !important;
}

.chart-controls-bar-buttons a:before {
  border-left: 1px solid rgba(255, 255, 255, .08);
}

.favored-list-container span {
  background: hsla(0, 0%, 100%, .05);
  color: hsla(0, 0%, 100%, .8);
  border-color: hsla(0, 0%, 100%, .08);
  font-size: 12px;
}

.feature-no-touch .favored-list-container span:hover {
  background: hsla(0, 0%, 100%, .05);
  color: hsla(0, 0%, 100%, .8);
}

.bottom-widgetbar-content.backtesting .button,
.header-chart-panel .button,
.hotlist-controls .button,
.symbol-edit-widget .button {
  background: hsla(0, 0%, 100%, .05);
  color: hsla(0, 0%, 100%, .8);
  border-color: hsla(0, 0%, 100%, .08);
  font-size: 12px;
}

.feature-no-touch .header-chart-panel .button:hover,
.feature-no-touch .symbol-edit-widget .button:hover {
  background: hsla(0, 0%, 100%, .05);
  color: hsla(0, 0%, 100%, .8);
}

.feature-no-touch .header-chart-panel .button.disabled:active,
.feature-touch .header-chart-panel .button.disabled:active,
.header-chart-panel .button.disabled,
.header-chart-panel .button.disabled.active {
  background: hsla(0, 0%, 100%, .05) !important;
  color: hsla(0, 0%, 100%, .8);
  border-color: hsla(0, 0%, 100%, .08);
}

._tv-button,
.layout-toggle-container ._tv-button,
button._tv-button {
  background: hsla(0, 0%, 100%, .05);
  color: hsla(0, 0%, 100%, .8);
  border-color: hsla(0, 0%, 100%, .08);
  font-size: 12px;
}

.drawing-favorites-toolbar .tools-group .button,
.feature-no-touch .tv-side-toolbar .tools-group .button:active,
.feature-no-touch .tv-side-toolbar .tools-group .button:hover,
.feature-touch .tv-side-toolbar .tools-group .button:active,
.properties-toolbar .tools-group .button,
.tv-side-toolbar .tools-group .button.active,
.tv-side-toolbar .tools-group .button.selected {
  background-color: hsla(0, 0%, 100%, .05);
  border-color: hsla(0, 0%, 100%, .08);
}

.drawing-favorites-toolbar .tools-group .button.active,
.feature-no-touch .drawing-favorites-toolbar .tools-group .button:active,
.feature-no-touch .properties-toolbar .tools-group .button:active,
.feature-no-touch .tv-side-toolbar .tools-group .button:active .side,
.feature-no-touch .tv-side-toolbar .tools-group .button:not(.subgroup):active,
.feature-touch .drawing-favorites-toolbar .tools-group .button:active,
.feature-touch .properties-toolbar .tools-group .button:active,
.feature-touch .tv-side-toolbar .tools-group .button:active .side,
.feature-touch .tv-side-toolbar .tools-group .button:not(.subgroup):active,
.properties-toolbar .tools-group .button.active,
.tv-side-toolbar .tools-group .button.active .side,
.tv-side-toolbar .tools-group .button.selected .main,
.tv-side-toolbar .tools-group .button:not(.subgroup).active,
.tv-side-toolbar .tools-group .button:not(.subgroup).selected {
  background-color: hsla(0, 0%, 100%, .05);
}

.tv-side-toolbar .tools-group.bottom-delimiter:after,
.tv-side-toolbar .tools-group:not(:first-child):not(.no-delimiter):before {
  background: hsla(0, 0%, 100%, .1);
}

.overflowWrap-PWdgT-U_- {
  overflow: hidden;
  height: 25px;
  margin-top: 10px;
}

.scrollWrap-1icOiezT-.noScrollBar-2zw2auFK- {
  padding-bottom: 0;
}

.wrap-3tiHesTk- {
  height: 25px;
  justify-content: flex-end;
}

.fill-2axUON87- {
  flex: 0;
}