@import "src/styles/mixin.scss";

.kycRedirectDialog {
  .KuxModalHeader-close {
    [dir="rtl"] & {
      right: unset;
      left: 32px;
    }
  }

  .KuxDialog-body {
    .KuxModalHeader-root {
      position: absolute;
    }
  }

  .KuxModalFooter-buttonWrapper {
    [dir="rtl"] & > button:nth-of-type(1) {
      margin-right: 0;
      margin-left: 12px;
    }
  }

  @include media-query("sm") {
    padding: 0 24px 24px;

    .KuxModalFooter-root {
      padding-top: 16px;
    }

    .KuxModalFooter-buttonWrapper {
      display: flex;
      flex-wrap: wrap-reverse;
      gap: 12px;

      & > button {
        flex: auto;
        width: 100%;
        margin-left: unset !important;
        margin-right: unset !important;
      }
    }
  }
}

.kycRedirectWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 32px;

  img {
    width: 136px;
    height: 136px;
  }

  @include media-query("sm") {
    padding-top: 32px;
  }
}

.kycRedirectTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: var(--color-text);
  margin-bottom: 8px;

  @include media-query("sm") {
    font-size: 20px;
  }
}

.kycRedirectContent {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-text60);
  text-align: center;
  margin-bottom: 24px;

  span {
    font-weight: 500;
    color: var(--color-text);
  }
}

.kycRedirectTimer {
  margin-top: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-text60);

  svg {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    color: var(--color-text60);
    opacity: 0.6;

    [dir="rtl"] & {
      margin-right: 0;
      margin-left: 8px;
    }
  }

  span {
    font-weight: 500;
    color: var(--color-primary);
  }

  @include media-query("sm") {
    margin-top: 12px;
  }
}
