/**
 * @author: sheldon.ye@kupotech.com
 * @description: WEB3 入口切换组件
 * @since: 2025/02/19
 */

.tabContainer {
  display: inline-flex;
  align-items: center;
  border-radius: 8px;
  background: var(--color-cover4);
  cursor: pointer;
}

.tabContainerDarkInDrawer {
  border: 1px solid var(--color-divider8);
  background: 'transparent';
}

.tabItem {
  display: inline-block;
  font-size: 14px;
  line-height: 18.2px;
  height: 100%;
  display: inline-flex;
  align-items: center;
  color: var(--color-text60);
  padding: 4px 8px;
  white-space: nowrap;
}

.tabItemActive {
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid var(--color-text);
  background-color: var(--color-layer);
  color: var(--color-text);
}

.tabItemActive1 {
  border: 1px solid transparent;
  background-color: var(--color-cover8);
}

.tabItemBox {
  height: 34px;
  display: inline-block;
  padding: 4px 0 4px 4px;

  &.tabItemBoxRight {
    padding: 4px 4px 4px 0;
  }
}
.goWeb3ConfirmTitle {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-text);
}
