.appIntro {
  :global(.edit-title) {
    color: var(--kux-text) !important;
    font-weight: 500 !important;
  }
}
.container {
  max-width: 580px;
  height: auto;
  margin: 0 auto;
  padding: 0 0 88px 0;

  &.containerH5 {
    padding: 0 16px 44px 16px;

    .title {
      margin-top: 8px;
      font-weight: 700;
      font-size: 24px;
    }
  }

  .title {
    margin-top: 48px;
    color: var(--kux-text);
    font-weight: 600;
    font-size: 36px;
    font-style: normal;
    line-height: 140%;
  }

  .alertWrapper {
    margin-top: 16px;

    .alert {
      width: 100%;
      max-width: 100%;
      padding: 12px 16px;
      font-size: 13px;
      background: var(--kux-complementaryYellow8);
      border: none;
      border-radius: 8px;
    }
  }

  .alertTips {
    margin-top: 16px;
    color: var(--kux-text40);
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 140%;
  }

  .tradePasswordForm {
    gap: 32px;
    margin-top: 40px;
  }

  .submitButton {
    margin-top: 40px;
  }
}
