@import 'src/styles/mixin.scss';

.ipRedirectWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 16px;

  img {
    width: 136px;
    height: 136px;
  }

  .promptIcon {
    width: 136px;
    height: 136px;

    :global {
      .kux-empty-icon {
        width: 136px;
        height: 136px;
      }
    }
  }

  @include media-query('sm') {
    padding-top: 32px;
  }
}

.ipRedirectTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: var(--color-text);
  margin-bottom: 8px;

  @include media-query('sm') {
    font-size: 20px;
  }
}

.ipRedirectContent {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-text60);
  text-align: center;

  span {
    font-weight: 500;
    color: var(--color-text);
  }
}
