/**
 * Owner: sean.shi@kupotech.com
 */
@import 'src/styles/mixin.scss';

.extendDialog {
  :global(.KuxDialog-body) {
    max-height: 66.6vh;

    :global(.KuxDialog-content) {
      padding: 32px 32px 0;
      overflow: hidden;
    }

    :global(.KuxModalFooter-root) {
      word-break: break-word;
      padding: 32px;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0;
  flex: 1;

  :global(.kux-empty .kux-empty-icon) {
    width: 136px;
    height: 136px;
  }


  .title {
    color: var(--kux-text);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 26px */
    text-align: center;
    margin-bottom: 8px;
  }

  .content {
    color: var(--kux-text60);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    overflow: auto;
    text-align: center;
  }
}
