@import 'src/styles/mixin.scss';

.modal {
  :global(.kux-modal-header) {
    padding-bottom: 0 !important;
  }
  :global(.kux-modal-header-icon) {
    width: 34px;
    height: 34px;
  }
}

.tipModalContent {
  display: flex;
  flex-flow: column;
  align-items: center;

  &.tipModalContentH5 {
    padding-top: 32px;
    padding-bottom: 34px;

    .footer {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  .iconWrap {
    width: 136px;
    height: 136px;

    img {
      width: 100%;
      height: 100%;
      user-select: none;
      pointer-events: none;
    }
  }

  .title {
    margin-top: 8px;
    color: var(--kux-text);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 28px */
  }

  .content {
    margin-top: 8px;
    margin-bottom: 16px;
    color: var(--kux-text60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */

    display: flex;
    flex-flow: nowrap column;
    gap: 8px;
  }

  .footer {
    width: 100%;
    display: flex;
    gap: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .unbindFooter {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 12px;
  }
}

.successModalContent {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 32px;
}