.uploadWrapper {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  .label {
    color: var(--kux-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
  }
}

.conditionWrapper {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  .label {
    color: var(--kux-text40);
  }
  .content {
    color: var(--kux-text);
    display: flex;
    flex-wrap: wrap;
    gap: 4px 24px;
    .item {
      flex: 1 1 calc(50% - 12px);
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}

.alertWrapper {
  margin-top: 12px;
  :global(.kux-alert-item) {
    max-width: 100%;
  }
}

.dividerWrapper {
  margin: 24px 0;
}

.videoWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  .label {
    color: var(--kux-text40);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
  }
  iframe {
    max-width: 365px;
    border-radius: 12px;
  }
}

.btnWrapper {
  margin-top: 40px;
}