.content {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  :global(.kux-empty-description) {
    color: var(--kux-text60);
  }
}

.tips {
  color: var(--kux-text);
  font-size: 16px;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  margin-top: 12px;
}

.failReason {
  color: var(--kux-text60);
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: initial;
}