.container {
  position: relative;

  .loading {
    overflow: hidden;
  }
}

.loadingWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: color-mix(in srgb, var(--kux-backgroundOverlay) 50%, transparent);
}