@import 'src/styles/mixin.scss';

.h5Wrapper {
    width: 100%;
  height: 80px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  background-color: var(--color-layer);
  z-index: 1;

  @include media-query('sm') {
    padding: 0 16px;
  }
}

.headerClose {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  position: absolute;
  inset-inline-end: 32px;
  top: 23px;
  border: 2px solid var(--kux-cover8);
  z-index: 1000;
  border-radius: 100%;
  cursor: pointer;

  @include media-query('sm') {
    inset-inline-end: 28px;
  }
}

.drawerHeaderWrapper {
  height: 80px;
}
