@import 'src/styles/mixin.scss';

.overlayWrapper {
  // width: unset;
  max-width: 1200px;
  // display: flex;
  margin-top: 0;
  // background: var(--color-layer);
  background: var(--kux-backgroundOverlay);
  // box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
  // border-radius: 20px;
  max-height: calc(100vh - 100px);
  overflow: auto;

  display: flex;
  overflow-x: hidden;
}
.overlayContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  background: var(--kux-backgroundOverlay);
  transition: all 0.14s;
  transition-timing-function: ease;
  // border-radius: 0 0 20px 20px;
  // box-shadow: 0 10px 60px rgba(0, 0, 0, 0.1);
}

.overlayWrapperInDrawer {
  width: 100%;
  display: block;
  box-shadow: none;
  border-radius: 0;
  overflow: unset;
}

.overlayList {
  flex: 1;
  // width: 100%;
  // min-width: 300px;
  // padding-top: 12px;
  // padding-bottom: 12px;
  max-width: 400px;
  padding: 32px 16px 16px;
  display: flex;
  flex-direction: column;

  border-inline-start: 1px solid var(--kux-divider8);
  background: var(--kux-backgroundOverlay);
  z-index: 9;

  &:first-of-type {
    border-inline-start: unset;
  }

  // & > div {
  //   width: 100%;
  //   margin-bottom: 8px;
  // }

  // :global(.KuxDropDown-popper) {
  //   transform: translate(338px, 0px) !important;

  //   [dir='rtl'] & {
  //     transform: translate(-315px, 0px) !important;
  //   }
  // }

  // :global(.KuxDropDown-trigger) {
  //   width: 100%;
  // }
}

:global(.activity-banner) {
  // border-inline-start: 1px solid var(--kux-divider8);
  cursor: pointer;

  &:hover {
    background: var(--kux-cover2);
  }
}

:global(.function-banner) {
  border-inline-start: unset;
  // border-inline-end: 1px solid var(--kux-divider8);
}

:global(.navigation-column-box) ~ :global(.navigation-column-box) {
  border-inline-start: unset;
}

:global(.search-column-box) {
  // border-inline-start: 1px solid var(--kux-divider8);
  padding-top: 24px;
  border-inline-end: 0px;
  padding: 32px 0px 16px 0px;
  padding-inline-end: 0;
}

.overlayListInDrawer {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.grounpDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.navWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.navWrapperInDrawer {
  flex-direction: column;
}

.ul {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
  flex-direction: row;

  & > li {
    height: 100%;
  }

  & > li > div {
    height: 100%;
  }

  & > *:last-child > div > a {
    margin-right: 0;
  }

  & > *:last-child {
    margin-right: 0;
  }

  [dir='rtl'] & > *:last-child {
    margin-right: 15px;
  }
}

.ulInDrawer {
  flex-direction: column;
}

.newBieBox {
  display: flex;
  align-items: center;
}

.navItemInDrawer {
  width: 100%;
  padding: 16.8px 12px;
  margin-right: 0;
  font-size: 16px;

  &:hover {
    color: var(--color-text);
    background: var(--color-cover2);
    border-radius: 8px;
  }

  & .newTagNav {
    width: 24px;
    height: 14px;
    position: static;
    margin-top: 0;
    transform: unset;
    margin-left: 4px;

    [dir='rtl'] & {
      margin-right: 4px;
    }

    span {
      transform: scale(0.75);
    }
  }
}

.menuItem {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 12px;
  // margin-bottom: 8px;
  border-radius: 8px;
  color: var(--color-text);

  // &:last-of-type {
  //   margin-bottom: 0;
  // }

  [dir='rtl'] & {
    padding: 12px;
  }

  cursor: pointer;
  text-decoration: none !important;

  &:hover {
    background: var(--color-cover2);
    color: var(--color-text);
  }

  & .arrow {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    top: 50%;
    margin-top: -10px;
    right: 12px;
    transform: translateX(-10px);
    transition: all 0.2s ease;
  }

  &:hover .arrow {
    visibility: visible;
    transform: translateX(0);
    fill: var(--color-icon);
    opacity: 0.4;

    [dir='rtl'] & {
      left: 0;
      right: unset;
      transform-origin: center center;
      transform: rotate(180deg);
    }
  }

  & .menuItemIcon {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    border-radius: 4px;
    overflow: hidden;

    & img {
      width: 36px;

      height: 36px;
      object-fit: contain;
    }

    [dir='rtl'] & {
      margin-right: 0;
      margin-left: 16px;
    }
  }
}

.menuItemInDrawer {
  padding: 0 12px;
  height: 56px;
  color: var(--kux-text60);
}

.newbie {
  border-radius: 50%;
  height: 28px;
  width: 28px;
  min-width: 28px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 130%;
  text-decoration: none;
  font-weight: 500;
  color: var(--color-primary);
  background: var(--kux-brandGreen8);

  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

// navStatus>=2
.newbie1 {
  padding: 0;
  width: 28px;
  justify-content: center;
  border-radius: 14px;
}

.divider {
  width: 1px;
  height: 16px !important;
  margin: 0 20px 0 18px;

  [dir='rtl'] & {
    margin: 0 18px 0 20px;
  }
}

.blankNav {
  display: inline-flex;
  align-items: center;
  height: 100%;
  width: auto;
  padding: 0;
  margin-right: 20px;
  font-size: 16px;
  color: var(--color-text);
  text-decoration: none !important;
  font-weight: 500;
  white-space: nowrap;
}

.blankNavInDrawer {
  width: 100%;
  font-size: 16px;
  padding: 16.8px 12px;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background-color: var(--color-cover2);
  }
}

@keyframes contentZoomIn {
  0% {
    transform: translateX(-4px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes contentZoomOut {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-4px);
  }
}

.rewards {
  width: 20px;
  height: 20px;
  min-width: 20px;
}

.rewardsTooltip {
  margin-top: -20px;
  padding: 8px 12px !important;
}

.collapseIcon {
  width: 16px !important;
  height: 16px !important;
  color: var(--kux-icon60) !important;
  transition: all 0.3s ease;
  transform: rotate(0deg);
}

.collapseIconActive {
  transform: rotate(-180deg);
}

.menuItemDotWrapper {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: 8px;
}

.menuItemDot {
  width: 4px;
  height: 4px;
  background: var(--color-text);
  border-radius: 100%;
}

.scroll {
  overflow: auto;
  /* 适用于 Webkit 浏览器 (Chrome, Safari, Edge Chromium) */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Firefox */
  scrollbar-width: none; /* 隐藏滚动条 */
  -ms-overflow-style: none; /* IE 10+ */
}
