@import 'src/styles/mixin.scss';

.overlayWrapper {
  width: unset;
  display: flex;
  margin-top: 0;
  background: var(--color-layer);
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  max-height: calc(100vh - 100px);
  overflow: auto;
}

.overlayWrapperInDrawer {
  width: 100%;
  display: block;
  box-shadow: none;
  border-radius: 0;
  overflow: unset;
}

.overlayListInDrawer {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.grounpDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.grounpDiv:first-child {
  .navGroupName {
    padding-top: 0;
  }
}

.navGroupName {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  color: var(--kux-text40);
  padding: 16px 0 8px 16px;
}

.navWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.navWrapperInDrawer {
  flex-direction: column;
}

.ulInDrawer {
  flex-direction: column;
}

.newBieBox {
  display: flex;
  align-items: center;
}

.navItemInDrawer {
  width: 100%;
  padding: 16.8px 12px;
  margin-right: 0;
  font-size: 16px;

  &:hover {
    color: var(--color-text);
    background: var(--color-cover2);
    border-radius: 8px;
  }

  & .newTagNav {
    width: 24px;
    height: 14px;
    position: static;
    margin-top: 0;
    transform: unset;
    margin-left: 4px;

    [dir='rtl'] & {
      margin-right: 4px;
    }

    span {
      transform: scale(0.75);
    }
  }
}

.menuItem {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 12px;
  // margin-bottom: 8px;
  border-radius: 8px;
  color: var(--color-text);

  // &:last-of-type {
  //   margin-bottom: 0;
  // }

  [dir='rtl'] & {
    padding: 12px;
  }

  cursor: pointer;
  text-decoration: none !important;

  &:hover {
    background: var(--color-cover2);
    color: var(--color-text);
  }

  & .arrow {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    top: 50%;
    margin-top: -10px;
    right: 12px;
    transform: translateX(-10px);
    transition: all 0.2s ease;
  }

  &:hover .arrow {
    visibility: visible;
    transform: translateX(0);
    fill: var(--color-icon);
    opacity: 0.4;

    [dir='rtl'] & {
      left: 0;
      right: unset;
      transform-origin: center center;
      transform: rotate(180deg);
    }
  }

  & .menuItemIcon {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    border-radius: 4px;
    overflow: hidden;

    & img {
      width: 36px;

      height: 36px;
      object-fit: contain;
    }

    [dir='rtl'] & {
      margin-right: 0;
      margin-left: 16px;
    }
  }
}

.menuItemInDrawer {
  padding: 0 12px;
  height: 56px;
  color: var(--kux-text60);
}

.newbie {
  border-radius: 50%;
  height: 28px;
  width: 28px;
  min-width: 28px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 130%;
  text-decoration: none;
  font-weight: 500;
  color: var(--color-primary);
  background: var(--kux-brandGreen8);

  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

// navStatus>=2
.newbie1 {
  padding: 0;
  width: 28px;
  justify-content: center;
  border-radius: 14px;
}

.divider {
  width: 1px;
  height: 16px !important;
  margin: 0 20px 0 18px;

  [dir='rtl'] & {
    margin: 0 18px 0 20px;
  }
}

.blankNav {
  display: inline-flex;
  align-items: center;
  height: 100%;
  width: auto;
  padding: 0;
  margin-right: 20px;
  font-size: 16px;
  color: var(--color-text);
  text-decoration: none !important;
  font-weight: 500;
  white-space: nowrap;
}

.blankNavInDrawer {
  width: 100%;
  font-size: 16px;
  padding: 16.8px 12px;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background-color: var(--color-cover2);
  }
}

@keyframes contentZoomIn {
  0% {
    transform: translateX(-4px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes contentZoomOut {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-4px);
  }
}

.rewards {
  width: 16px;
  height: 16px;
  min-width: 16px;
}

.rewardsTooltip {
  margin-top: -20px;
  padding: 8px 12px !important;
}

.collapseIcon {
  width: 16px !important;
  height: 16px !important;
  color: var(--kux-icon60) !important;
  transition: all 0.3s ease;
  transform: rotate(0deg);
}

.collapseIconActive {
  transform: rotate(-180deg);
}

.menuItemDotWrapper {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: 8px;
}

.menuItemDot {
  width: 4px;
  height: 4px;
  background: var(--color-text);
  border-radius: 100%;
}
