
.klineOuter {
  position: relative;
}

.klineContainer {
  position: relative;
  width: 100%;
  height: 340px;
  // ${(props) => props.theme.breakpoints.down('sm')} {
  //   height: ${({ height }) => `${height}px`};
  // }
}