.toast {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: ~`px2rem(8) ` ~`px2rem(12) `;

  background: #737e8d;
  box-shadow: 0px 0.675325px 6.75325px rgba(0, 0, 0, 0.1);
  border-radius: ~`px2rem(4) `;
  font-size: ~`px2rem(14) `;
  line-height: 130%;

  text-align: center;

  color: #ffffff;
}

// 768断点 pc适配的样式
@media (min-width: 768px) {
  .toast {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;

    background: #737e8d;
    box-shadow: 0px 0.675325px 6.75325px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-size: 14px;
    line-height: 130%;

    text-align: center;

    color: #ffffff;
  }
}

.rcNotificationContainer {
  z-index: 9999;
  position: fixed;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  width: fit-content;
  max-width: 95%;
}
