@import '@/styles/mixin.scss';

.wrapper {
  padding: 24px;
  background: #fff;
  border: 1px solid var(--color-cover8);
  border-radius: 12px;
  margin-bottom: 32px;
  @include media-query('sm') {
    margin-bottom: 20px;
    padding: 16px;
  }

  & > header > h2 {
    margin: 0;
  }
}

.extendedTitle {
  padding: 0px;
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  margin: 0;
  @include media-query('sm') {
    margin: 0;
  }
}

.extendTabs {
  padding: 0px;
  gap: 4px;
  margin: 12px 0px;
}

.extendTab {
  margin-bottom: 4px;
}

.cardTitle {
  font-size: 20px;
}