@import '@/styles/mixin.scss';

.container {
  position: relative;
}

.downloadTooltipsContainer {
  position: absolute;
  bottom: 92px;
  left: -74px;

  display: flex;
  border-radius: 32px;
  backdrop-filter: blur(6px);
  // background: var(--kux-mask, rgba(0, 0, 0, 0.6));
  // 亮色/暗色统一用暗色的背景
  background-color: rgba(0, 0, 0, 0.6);
  padding: 24px;
  gap: 10px;
  @include media-query('sm') {
    padding: 0;
    border-radius: 50%;
    display: none; // 移动端手动隐藏掉，组件库点击后会自动弹窗来
  }
}

.qrCodeBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  // border: 2px solid rgba(243, 243, 243, 0.16);
  border: 2px solid var(--kux-cover16);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    // border-color: var(--kux-cover12);
    transform: scale(1.05);
  }

  .qrCode {
    width: 32px;
    height: 32px;
    transition: opacity 0.2s ease;
    @include media-query('sm') {
      scale: 0.625;
    }
  }

  @include media-query('sm') {
    width: 48px;
    height: 48px;
    border: 1.3px solid var(--kux-cover16);
  }
}

.qrCodeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.tooltipText {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  max-width: 172px;
  // tooltip统一用暗色系的色值
  color: #f3f3f3;
}
