@import "@/styles/mixin.scss";

.wrapper {
  gap: 23px;
  margin-bottom: 0;

  &.hasItem {
    margin-bottom: 48px;
  }

  cursor: pointer;
  display: flex;
  flex-direction: row;
  
  li {
    margin: 4px 0;
    flex: 1 1 0;
    @include media-query("sm") {
      flex: 1;
    }
  }

  @include media-query("lg") {
    flex-direction: column;
    gap: 12px;
    margin-bottom: 0;

    &.hasItem {
      margin-bottom: 18px;
    }
  }

  flex-wrap: wrap;
}