@import '@/styles/mixin.scss';

.wrapper {
  position: absolute;
  left: 0;
  top: 65px;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.coinIcon {
  
  width: 48px;
  height: 48px;
  margin-bottom: 8px;
  border-radius: 100%;
  background: var(--color-text40);
  
}

.coinName {
  
  font-size: 14px;
  line-height: 18px;
  color: var(--color-text40);
  
}

.price {
  
  margin: auto;
  word-wrap: break-word;
  max-width: 265px;
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  color: #000d1d;
  
}

.priceChange {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 12px;
  color: var(--color-text60);

  &.greaterThanZero {
    color: var(--color-primary);
  }

  &.lessThanZero {
    color: var(--color-secondary);
  }
}

.changeRateLabel {
  padding-left: 2px;
  color: var(--color-text40);
  
}

.dateLabel {
  
}

.extendedChangeRate {
  color: inherit;
}