@import 'src/styles/mixin.scss';

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.passkeyLoginBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.passkeyErrorSpan {
  font-size: 14px;
  line-height: 18px;
  color: #f65454;
  margin-top: 8px;
}

.loginButton {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  font-size: 16px;
  font-feature-settings: 'liga' off, 'clig' off;
  border: 1px solid var(--kux-cover12);
  padding: 0 30px;
  cursor: pointer;
  overflow: hidden;
  font-weight: 500;
  color: var(--kux-text);
  background: transparent;

  img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }

  @include media-query('sm') {
    height: 40px;
    font-size: 14px;

    img {
      width: 16px;
      height: 16px;
    }
  }
}
.loginButtonFetching {
  color: var(--kux-text40);
}

.animationIcon {
  display: none;
  &.show {
    display: block;
  }
  &.spin {
    animation: spin 1s linear infinite;
  }
}