@import 'src/styles/mixin.scss';

.container {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--kux-text60);
  margin-bottom: 40px;
  @include media-query('sm') {
    margin-top: -16px;
    margin-bottom: 24px;
  }
  span {
    margin-left: 7px;
  }
  svg {
    transform: rotate(180deg);
  }
}