.fiatTag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 28px;
  height: 14px;
  margin-left: 4px;
  color: #21c397;
  font-size: 10px;
  line-height: 14px;
  background: rgba(45, 189, 150, 0.08);
}
