.security {
  .content {
    margin: auto;
    padding: 24px;
    background: rgba(0, 20, 42, 0.04);
    border-radius: 4px;
    h1 {
      margin-bottom: 17px;
      color: #00142A;
      font-size: 16px;
      line-height: 24px;
    }
    &.contentInDark {
      h1 {
        color: #E1E8F5;
      }
    }
  }
  .alertContainer {
    .alertItem {
      display: flex;
      align-items: center;
      margin-top: 15px;
      color: rgba(0, 20, 42, 0.6);
      font-size: 14px;
      line-height: 22px;
      &.alertItemInDark {
        color: #E1E8F5;
      }
      .statusIcon {
        margin-right: 8px;
        height: 20px;
      }
      a {
        margin-left: 8px;
        color: #24ae8f;
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
  // :global {
  //   .ant-alert,
  //   .ant-alert-success {
  //     background: transparent;
  //     border: none;
  //     padding: 0 0 0 24px;
  //     line-height: 1;
  //   }
  //   .ant-alert-icon {
  //     left: 0;
  //     top: 5px;
  //   }
  //   .ant-alert-message {
  //     font-size: 14px;
  //     color: #333333;
  //   }
  // }
}
