@import 'src/styles/mixin.scss';

.dialogWrapper {
  :global(.KuxDialog-body) {
    :global(.KuxDialog-content) {
      padding: 32px;
    }
  }
}

.dialogContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgWrap {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  
  img {
    max-width: 148px;
    height: auto;
    pointer-events: none;
  }
}

.contentWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  margin-top: 8px;
  color: var(--kux-text60);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: 'PingFang SC';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  white-space: pre-wrap;
  text-align: center;
}

.operate {
  display: flex;
  gap: 12px;
  align-self: stretch;
  justify-content: space-between;
  margin-top: 24px;
  
  button {
    flex: 1;
  }
}
