@use '../../../../theme/mixin' as *;

.alertWrapper {
  margin-top: 16px;

  .alert {
    width: 100%;
    max-width: 100%;
    padding: 12px 16px;
    font-size: 13px;
    background: var(--kux-complementaryYellow8);
    border: none;
    border-radius: 8px;
  }
}

.alertTips {
  margin-top: 16px;
  color: var(--kux-text40);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 140%;
}

.g2faDesc {
  margin-top: 20px;
  color: var(--kux-text60);
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 140%;
}

.g2faQrcodeWrapper {
  width: 160px;
  height: 160px;
  background-color: var(--kux-cover4);
  border-radius: 13.12px;
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  justify-content: center;
}

.g2faQrcodeWrapperDark {
  background-color: #fff;
}

.g2faQrcode,
.g2faKey,
.g2faKeyCopy {
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.g2faKey {
  color: var(--kux-text);
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 140%;
}

.g2faKeyCopy {
  margin-top: 16px;
  margin-bottom: 40px;
}

.g2faForm {
  margin-top: 20px;

  & > div > div {
    margin-bottom: 0;
  }
  :global(.kux-form__item) {
    :global(.kux-form__item-help) {
      display: none !important;
    }
  }
  :global(.kux-form__item.kux-form__item--error) {
    :global(.kux-form__item-help) {
      display: flex !important;
    }
  }
}

.submitButton {
  margin-top: 40px;
}
