.preview {
  :global {
    .react-page-controls-mode-toggle-control-group {
      .MuiFab-primary.Mui-disabled {
        background-color: rgb(25,118,210);
      }
      .MuiFab-default.Mui-disabled {
        background-color: rgb(224,224,224);
      }
      .MuiSvgIcon-root {
        width: 24px;
        height: 24px;
      }
    }
    
  }
}