.introduction {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 200px;
  margin-bottom: 18px;
  color: #929fb3;

  font-size: 20px;
  letter-spacing: 0;

  word-break: break-word;

  img {
    max-width: 100% !important;
  }
}
