@import '@/style/index.scss';

// 自动产生命名空间, 用于生成类名, 使用 $ns-tooltip 作为类名
// * 例如: $ns: 'kux', componentName: 'Hero2', 则类名为 kux-hero2
// * $prefix 也会自动更新: $ns + '-' + 'tooltip'
// * 例如: $ns: 'kux', componentName: 'Hero2', 则 $prefix 为 kux-hero2
@include component('tooltip') {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}