.modal {
  :global(.kux-modal-header) {
    padding-bottom: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  text-align: center;
  img {
    width: 136px;
  }
  div:nth-child(2) {
    color: var(--kux-text);
    font-size: 20px;
    font-weight: 600;
    line-height: 140%; /* 28px */
  }
  div:nth-child(3) {
    color: var(--kux-text60);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
  }
}