@keyframes skeletonLoading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.skeletonBase {
  width: 100%;
  height: 28px;
  border-radius: 4px;
  background: linear-gradient(90deg, var(--kux-cover8) 0%, var(--kux-cover12) 100%);
  background-size: 400% 100%;
  margin: 0;
  animation: skeletonLoading 1.4s ease infinite;
}
