.modal {
  :global(.kux-modal-header) {
    padding-bottom: 0 !important;
  }
  :global(.kux-modal-header-icon) {
    width: 34px;
    height: 34px;
  }
}

.tipModalContent {
  display: flex;
  flex-flow: column;
  align-items: center;

  &.tipModalContentH5 {
    padding-top: 32px;
    padding-bottom: 34px;

    &.successModalContent {
      padding-bottom: 0;
    }

    .footer {
      padding-top: 12px;
      padding-bottom: 8px;
    }

    .unbindFooter {
      padding-top: 12px;
    }
  }

  &.successModalContent {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 32px;
  }

  .iconWrap {
    width: 136px;
    height: 136px;

    img {
      width: 100%;
      height: 100%;
      user-select: none;
      pointer-events: none;
    }
  }

  .title {
    margin-top: 8px;
    color: var(--kux-text);
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
    line-height: 140%; /* 28px */
    text-align: center;
  }

  .content {
    display: flex;
    flex-flow: nowrap column;
    gap: 8px;
    margin-top: 8px;
    margin-bottom: 16px;
    color: var(--kux-text60);
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 140%; /* 22.4px */
    text-align: center;
  }

  .footer {
    display: flex;
    gap: 12px;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .unbindFooter {
    display: flex;
    flex-flow: column;
    gap: 12px;
    width: 100%;
    padding-top: 16px;
  }
}
