@import '@/style/index.scss';

// 自动产生命名空间, 用于生成类名, 使用 $ns-lottie-player 作为类名
// * 例如: $ns: 'kux', componentName: 'Hero2', 则类名为 kux-hero2
// * $prefix 也会自动更新: $ns + '-' + 'lottie-player'
// * 例如: $ns: 'kux', componentName: 'Hero2', 则 $prefix 为 kux-hero2
@include component('lottie-player') {
  width: 100%;
  height: 100%;
  position: relative;

  &-poster {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin: auto;
    position: absolute;
    inset: 0;
  }
}
