.suffixButton {
  color: var(--color-primary);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  column-gap: 4px;
  cursor: pointer;
}

.styledSpan {
  &.isCountingDown {
    color: var(--color-text-40);
  }
  
  &:not(.isCountingDown) {
    color: var(--color-primary);
  }
}
