@import '@/style/index.scss';

// 自动产生命名空间, 用于生成类名, 使用 $ns-flex-grid 作为类名
// * 例如: $ns: 'kux', componentName: 'Hero2', 则类名为 kux-hero2
// * $prefix 也会自动更新: $ns + '-' + 'flex-grid'
// * 例如: $ns: 'kux', componentName: 'Hero2', 则 $prefix 为 kux-hero2
@include component('flex-grid') {
  &-row {
    width: 100%;
  }
  &-item {
    flex: 1;

    &.is-placeholder {
      opacity: 0;
    }
  }
}