.wrapper {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background: rgba(1, 188, 141, 0.08);
  font-weight: 500;
  font-size: 10px;
  color: var(--kux-text40);
  margin-left: 4px;
  background-color: var(--kux-cover4);

  padding: 1px 4px;
  gap: 10px;

  font-weight: 500;
  line-height: 140%;

  [dir='rtl'] & {
    margin-left: unset;
    margin-right: 4px;
  }
}
