.alertWrapper {
  margin-top: 16px;

  .alert {
    width: 100%;
    max-width: 100%;
    padding: 12px 16px;
    font-size: 13px;
    background: var(--kux-complementaryYellow8);
    border: none;
    border-radius: 8px;
  }
}

.alertTips {
  margin-top: 16px;
  color: var(--kux-text40);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 140%;
}

.tradePasswordForm {
  gap: 32px;
  margin-top: 40px;
  :global(.kux-form__item) {
    :global(.kux-form__item-help) {
      display: none !important;
    }
  }
  :global(.kux-form__item.kux-form__item--error) {
    :global(.kux-form__item-help) {
      display: flex !important;
    }
  }
}

.submitButton {
  margin-top: 40px;
}
