@import 'src/styles/mixin.scss';

.container {
  display: flex;
  flex-direction: column;
}

.img {
  width: 254px;
  align-self: center;
  margin-bottom: 20px;
}

.title {
  text-align: center;
  color: var(--color-text);
  font-size: 20px;
  font-weight: 700;
  line-height: 140%; /* 28px */
  margin-bottom: 8px;
}

.desc {
  text-align: center;
  color: var(--color-text60);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

.verifyingWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  color: var(--color-text60);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  padding-bottom: 24px;
  img {
    width: 254px;
  }
}

.failedWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  img {
    width: 254px;
  }
  .title {
    color: var(--color-text);
    font-size: 20px;
    font-weight: 700;
    line-height: 140%; /* 28px */
    margin-top: 16px;
  }
  .desc {
    color: var(--color-text60);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    margin-top: 8px;
  }
}
.buttonGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 32px;

  @include media-query('sm') {
    padding-bottom: 34px;
  }
}
