@import 'src/styles/mixin.scss';

.container {
  margin-top: 40px;
  padding-bottom: 40px;
}
.title {
  color: var(--kux-text);
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
}
.description {
  margin-top: 6px;
  color: var(--kux-text40);
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
  span span {
    color: var(--kux-brandGreen);
    font-weight: 500;
  }
}
.earnCardWrapper {
  margin-top: 22px;
  display: flex;
  flex-direction: row;
  @include media-query('sm') {
    flex-direction: column;
  }
  .earnCard {
    flex: 1;
    &:not(:first-of-type) {
      margin-top: 0;
      margin-left: 12px;

      @include media-query('sm') {
        margin-top: 12px;
        margin-left: 0;
      }
    }
  }
}
