@import '@/style/index.scss';

$header-height: 44px;
$safe-area-inset-top: 46px;

// 自动产生命名空间, 用于生成类名, 使用 $ns-kc-header 作为类名
// * 例如: $ns: 'kux', componentName: 'Hero2', 则类名为 kux-hero2
// * $prefix 也会自动更新: $ns + '-' + 'kc-header'
// * 例如: $ns: 'kux', componentName: 'Hero2', 则 $prefix 为 kux-hero2
@include component('kc-header') {
  height: $header-height;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  color: get-theme(text);
  // 适配 iOS/android 系统顶部安全区域
  &.is-app {
    height: $header-height + $safe-area-inset-top;
    padding-top: $safe-area-inset-top;
  }

  .#{$prefix}_item {
    display: inline-flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    &:active {
      opacity: 0.8;
    }
  }

  .#{$prefix}_title {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
    @include ellipsis;
    pointer-events: none;
  }
}