.skeletonItem {
  border-radius: 4px;
  width: 60px;
  height: 20px;
  display: block;
  animation: animSkeleton 2s ease infinite;
  background-size: 400% 100%;
}

@keyframes animSkeleton {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
