@import 'src/styles/mixin.scss';

.agreementTitle {
  color: var(--kux-text);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 16px;

  @include media-query('sm') {
    font-size: 18px;
  }
}
