@import '../mix';
.rankTable {
  margin-top: 24px;
  p {
    color: #3b5a89;
    font-size: 13px;
  }
  :global {
    .ant-table-placeholder {
      background: transparent;
      border: none;
    }
  }
  h5 {
    color: #9dc4ff;
    font-size: 14px;
    span {
      color: #b8e986;
      font-weight: 500;
      font-size: 20px;
    }
  }
}
.Needlogged {
  .baseFrame();
  margin-top: 24px;
  padding: 24px 0;
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    &:first-child {
      margin-bottom: 6px;
      color: #9dc4ff;
      font-size: 14px;
    }
    &:last-child {
      color: #3b5a89;
      font-size: 13px;
    }
  }
}
