@import '@/style/index.scss';
@import '@/style/picker.common.scss';
@import './common-style.scss';

@include component('date-picker') {
  position: relative;
  width: 180px;

  &__wrapper {
    width: 100%;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: all 0.3s ease;

    &--focused {
      border: 1px solid transparent;
      background: transparent;
    }

    &--disabled {
      opacity: 0.4;
      cursor: not-allowed;
      .kux-date-picker__input {
        input {
          cursor: not-allowed;
          &::placeholder {
            color: get-theme(text20);
          }
        }
      }
    }
  }

  .kux-picker-input {
    background: get-theme(backgroundOverlay);
    padding-right: 8px;
    border-radius: 8px;

    [dir='rtl'] & {
      direction: ltr;
    }

    input {
      padding-left: 12px;
      outline: none;
      border: none;
      background: transparent;
      color: get-theme(text);
      caret-color: get-theme(buttonColorPrimary);
      font-weight: 500;

      &::placeholder {
        font-size: 12px;
        color: get-theme(text40);
      }

      [dir='rtl'] & {
        direction: ltr;
      }
    }

    .kux-picker-suffix {
      display: flex;
      align-items: center;
      background: transparent;
    }

    .kux-picker-clear {
      position: absolute;
      right: 12px;
      width: 14px;
      height: 100%;
      display: flex;
      align-items: center;

      [dir='rtl'] & {
        left: unset;
        right: 12px;
      }
    }
  }

  &__allow-clear {
    .kux-picker-input {
      .kux-picker-suffix {
        display: none;
      }
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;
  }

  &__label {
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: left top;
    padding: 0 2px;
    white-space: nowrap;
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
                transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
                max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    pointer-events: none;

    &--shrink {
      transform: scale(0.75);
    }

    &--error {
      color: get-theme(brandRed);
    }

    &--disabled {
      color: get-theme(text40);
    }

    &--focused {
      color: get-theme(buttonColorPrimary);
    }
  }

  &__fieldset {
    position: absolute;
    top: -5px;
    left: -1.5px;
    right: -1.5px;
    bottom: 0.5px;
    pointer-events: none;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: get-theme(cover12);
    overflow: hidden;

    &--error {
      border-color: get-theme(brandRed);
    }

    &--focused {
      border-color: get-theme(buttonColorPrimary);
    }
  }

  &__legend {
    float: unset;
    width: auto;
    overflow: hidden;
    display: block;
    visibility: hidden;
    height: 12px;
    font-size: 14px;
    line-height: 24px;
    max-width: 0.01px;
    padding: 0;

    &--shrink {
      max-width: 100%;
      padding: 2px;
    }
  }

  // Size variants
  &--small {
    .kux-date-picker__wrapper {
      height: 32px;
    }

    .kux-date-picker__input {
      input {
        font-size: 12px;
        height: 32px;
        line-height: 20px;

        &::placeholder {
          font-size: 12px;
        }
      }
    }

    .kux-date-picker__label {
      font-size: 12px;
      line-height: 16px;

      &--shrink {
        transform: translate(14.8px, -6px) scale(0.75);
      }

      &:not(&--shrink) {
        transform: translate(14px, 8px) scale(1);
      }
    }

    .kux-date-picker__legend {
      font-size: 9.8px;
      padding: 0;
    }
  }

  &--medium {
    .kux-date-picker__wrapper {
      height: 40px;
    }

    .kux-date-picker__input {
      input {
        font-size: 14px;
        height: 40px;
        line-height: 22px;

        &::placeholder {
          font-size: 14px;
        }
      }
    }

    .kux-date-picker__label {
      font-size: 14px;
      line-height: 18px;

      &--shrink {
        transform: translate(13.4px, -7px) scale(0.75);
      }

      &:not(&--shrink) {
        transform: translate(14px, 10px) scale(1);
      }
    }

    .kux-date-picker__legend {
      font-size: 12px;
      padding: 0;
    }
  }

  &--large {
    .kux-date-picker__wrapper {
      height: 48px;
    }

    .kux-date-picker__input {
      input {
        font-size: 16px;
        height: 48px;
        line-height: 24px;

        &::placeholder {
          font-size: 16px;
        }
      }
    }

    .kux-date-picker__label {
      font-size: 16px;
      line-height: 22px;

      &--shrink {
        transform: translate(14.8px, -9px) scale(0.75);
      }

      &:not(&--shrink) {
        transform: translate(14px, 12px) scale(1);
      }
    }

    .kux-date-picker__legend {
      font-size: 12.2px;
    }
  }

  &--xlarge {
    .kux-date-picker__wrapper {
      height: 56px;
    }

    .kux-date-picker__input {
      input {
        font-size: 16px;
        height: 56px;
        line-height: 26px;

        &::placeholder {
          font-size: 16px;
        }
      }
    }

    .kux-date-picker__label {
      font-size: 16px;
      line-height: 24px;

      &--shrink {
        transform: translate(14.6px, -9px) scale(0.75);
      }

      &:not(&--shrink) {
        transform: translate(14px, 16px) scale(1);
      }
    }

    .kux-date-picker__legend {
      font-size: 12.3px;
    }
  }
}