.wrapper {
  padding: 20px;
  color: #333;
  direction: ltr /* rtl:ignore */;

  .logo {
    width: 80px;
    height: 80px;
    margin: 60px auto 30px;
    background: #fff no-repeat center;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNyIgaGVpZ2h0PSI0MCIgdmlld0JveD0iMCAwIDM3IDQwIj48cGF0aCBmaWxsPSIjMDA5M0REIiBkPSJNMTEuNjU3IDIwTDIzLjYyIDMxLjg0N2w3LjU1LTcuNDc3YzEuMzMtMS4zMiAzLjQ5Ni0xLjMyIDQuODMgMCAxLjMzMyAxLjMyIDEuMzMzIDMuNDYyIDAgNC43ODJsLTkuOTY2IDkuODY3Yy0xLjMyNyAxLjMxMi0zLjUxNCAxLjMtNC44MyAwTDYuODMgMjQuNzgydjguNDYzYzAgMS44NTgtMS41NCAzLjM4My0zLjQxNiAzLjM4M0MxLjUzIDM2LjYzIDAgMzUuMTEyIDAgMzMuMjQ2VjYuNzUzQzAgNC44ODcgMS41MyAzLjM3IDMuNDE2IDMuMzcgNS4zIDMuMzcgNi44MyA0Ljg4OCA2LjgzIDYuNzU0djguNDYzTDIxLjIwNS45OGMxLjMxNS0xLjMgMy41MDItMS4zMTMgNC44MyAwTDM2IDEwLjg1YzEuMzMzIDEuMzE4IDEuMzMzIDMuNDYgMCA0Ljc4Mi0xLjMzNCAxLjMxOC0zLjUgMS4zMi00LjgzIDBsLTcuNTUtNy40NzZMMTEuNjU2IDIwem0xMS45NjgtMy4zODRjMS44ODcgMCAzLjQxNiAxLjUxNiAzLjQxNiAzLjM4NCAwIDEuODctMS41MjcgMy4zODUtMy40MTQgMy4zODUtMS44ODggMC0zLjQyLTEuNTE2LTMuNDItMy4zODUgMC0xLjg2OCAxLjUzMi0zLjM4NCAzLjQyLTMuMzg0eiIvPjwvc3ZnPg==');
    background-clip: content-box;
    border: 1px solid rgba(0, 0, 0, 0.02);
    border-radius: 10px;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
  }

  .info {
    width: 64%;
    margin: 0 auto 24px;
    font-size: 17px;
    line-height: 1.618em;
    text-align: center;
  }

  .link {
    padding: 12px;
    font-size: 14px;
    text-align: center;
    word-wrap: break-word;
    word-break: normal;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px;
  }
}
