@import 'src/styles/mixin.scss';

// FIXME: 需要适配
.ExamineDialog {
  // .KuxModalHeader-close {
  //   [dir='rtl'] & {
  //     right: unset;
  //     left: 32px;
  //   }
  // }
  // .KuxDialog-body {
  //   max-height: 66.6vh;
  //   @include media-query('sm') {
  //     margin: 0 16px;
  //     width: 100% !important;
  //     max-width: 100% !important;
  //   }
  // }
  // .KuxModalHeader-root {
  //   padding: 32px 32px 24px 32px;
  //   height: auto !important;
  //   flex-shrink: 0;
  //   .KuxModalHeader-title {
  //     padding-right: 58px;
  //     width: 100%;
  //     [dir='rtl'] & {
  //       padding-right: unset;
  //       padding-left: 58px;
  //     }
  //   }
  //   @include media-query('sm') {
  //     padding: 24px 24px 16px 24px !important;
  //     min-height: auto !important;
  //     .KuxModalHeader-title {
  //       font-size: 20px;
  //       padding-right: 46px;
  //       [dir='rtl'] & {
  //         padding-right: unset;
  //         padding-left: 46px;
  //       }
  //     }
  //     .KuxModalHeader-close {
  //       top: 24px !important;
  //       right: 24px !important;
  //     }
  //   }
  // }
  // .KuxDialog-content {
  //   display: flex;
  //   flex-direction: column;
  //   @include media-query('sm') {
  //     padding: 0 24px;
  //   }
  // }
  // .KuxModalFooter-root {
  //   padding: 14px 32px 32px 32px;
  //   @include media-query('sm') {
  //     padding: 12px 24px 24px 24px;
  //   }
  // }
} 

.Content {
  overflow-x: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0 !important;
  }
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-color: transparent transparent;
  scrollbar-track-color: transparent;
  -ms-scrollbar-track-color: transparent;
}

.AdminTips {
  font-size: 14px;
  line-height: 21px;
  color: var(--color-text60);
}

.Line {
  width: 100%;
  height: 1px;
  background-color: var(--color-cover8);
  margin: 20px 0;
  @include media-query('sm') {
    margin: 16px 0;
  }
}

.KycLevel {
  & > h3 {
    font-size: 16px;
    color: var(--color-text);
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 6px;
    @include media-query('sm') {
      font-size: 14px;
    }
  }
  & > div {
    font-size: 16px;
    color: var(--color-text60);
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 4px;
    &:last-of-type {
      margin-bottom: 0px;
    }
    & > span {
      font-weight: 500;
    }
    @include media-query('sm') {
      font-size: 14px;
    }
  }
}

.UserAgreement {
  margin-top: 24px;
  font-size: 16px;
  color: var(--color-text60);
  font-weight: 400;
  line-height: 130%;
  text-align: left;
  [dir='rtl'] & {
    text-align: right;
  }
  span {
    color: var(--color-primary);  
    cursor: pointer;
  }
  @include media-query('sm') {
    font-size: 14px;
  }
}