.wrapper {
  position: fixed;
  width: 100vw;
  height: ~`px2rem(88)`;
  padding: 0 ~`px2rem(16)` ~`px2rem(10)` ~`px2rem(16)`;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background: transparent;
  font-size: ~`px2rem(18)`;
  color: #fff;
  // line-height: ~`px2rem(44)`;
  z-index: 2;
  background-color: rgba(1, 8, 30, 0);
  transition: all .2s;
  .shareIcon {
    padding: 0 ~`px2rem(6)`;
  }
}

.title {
  display: flex;
  align-items: center;
}
