.DialogContentBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DialogTitle {
  width: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 130%;
  font-weight: 600;
  color: var(--kux-text);
}

.DialogDescription {
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  color: var(--kux-text60);
}

