.head {
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0;

  padding: 24px 0 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  >img {
    width: 342px;
    height: 78px;
  }

  .records {
    font-size: 14px;
    letter-spacing: 0;

    display: flex;
    align-items: center;
  }
}
