@import 'src/styles/mixin.scss';

.navUserItem {
  @include media-query('sm') {
    &[data-menu='i18n'],
    &[data-menu='theme'] {
      display: none !important;
    }
  }
}

.signinLink {
  @include media-query('sm') {
    margin-inline-end: 0 !important;
  }
}

.signinLinkInDrawer {
  border-radius: 24px !important;
  padding: 12.5px 0 !important;
  font-size: 16px !important;
  width: 182px !important;
  border:1px solid var(--color-text);
}