@import 'src/styles/mixin.scss';

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  flex: 1;

  &.inDrawer {
    padding: 0 32px;
  }

  .icon {
    width: 148px;
    height: 148px;
  }

  .title {
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    margin-top: 8px;
    margin-bottom: 0;
    color: var(--kux-text);
  }

  .highlight {
    color: var(--kux-brandGreen);
  }

  .guide {
    color: var(--kux-text);
    margin-top: 12px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
  }

  .tip {
    color: var(--kux-text60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
  }

  .kcDivider {
    margin: 32px 0;
  }

  .noReceiveMail {
    color: var(--kux-text60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */

    .noReceiveMailTitle {
      margin-bottom: 8px;
      color: var(--kux-text);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 22.4px */
    }

    .highlight {
      color: var(--kux-text);
      font-weight: 500;
    }
    .resent {
      color: var(--kux-brandGreen);
      cursor: pointer;
    }

    @media screen and (max-width: 768px) {
      font-size: 16px;
      line-height: 20px;
      width: 100%;
    }
  }
}
