@import '@/styles/mixin.scss';

.wrapper {

  width: 100%;
  margin: 0px 0px 32px 0px;

  @include media-query('sm') {
    margin-bottom: 20px;
  }

}

.title {

  color: #000d1d;
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
  padding-bottom: 24px;
  display: block;

  @include media-query('sm') {
    font-weight: 700;
    font-size: 18px;
  }

}

.list {

  border-radius: 12px;
  border: 1px solid rgba(29, 29, 29, 0.08);
  background: rgba(29, 29, 29, 0.02);

  li:nth-of-type(odd) {
    background: #fff;
  }

  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  overflow: hidden;

  @include media-query('sm') {
    font-size: 14px;
  }

}

.listItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  color: var(--color-text);

  @include media-query('sm') {
    padding: 13px 16px;
  }

  & > svg {
    color: #8c8c8c;
  }

}