@import '@/styles/mixin.scss';

.wrapper {
  padding: 24px;
  border: 1px solid var(--color-cover8);
  border-radius: 12px;
  margin-bottom: 32px;
  @include media-query('sm') {
    margin-bottom: 20px;
    padding: 16px;
  }
}

.extendedTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
  color: #1d1d1d;
  margin: 0;
  white-space: pre-wrap;
  word-break: break-all;

  @include media-query('sm') {
    margin: 0;
  }
}