@frameBg: #132044;
@frameBorderColor: #1c2b4f;
.commonHead {
  color: #9dc4ff;
  font-size: 16px;
  letter-spacing: 0;
}
.baseFrame {
  background: @frameBg;
  border: 1px solid @frameBorderColor;
  border-radius: 8px;
}

.basePop {
  background-color: #293958;
}

.basePage {
  color: #6f88ad;
  background-color: #293958;
  border: 1px solid #21345c;
  border-radius: 2px;
}
