@import '@/style/index.scss';
@import '@/style/picker.common.scss';
@import './common-style.scss';

@include component('range-picker') {
  position: relative;
  width: 240px;

  &__wrapper {
    width: 100%;
    padding-right: 8px;
    border: 1px solid transparent;
    border-radius: 8px;
    background: get-theme(backgroundOverlay);
    transition: all 0.3s ease;
    padding-left: 16px;
    cursor: pointer;

    &--focused {
      border: 1px solid transparent;
      background: get-theme(backgroundOverlay);
    }

    &--disabled {
      opacity: 0.4;
      cursor: not-allowed;
      .kux-range-picker__input {
        input {
          cursor: not-allowed;
          &::placeholder {
            color: get-theme(text20);
          }
        }
      }
    }
  }

  .kux-picker-input {
    background: transparent;
    border-radius: 2px;
    transition: all 0.3s;

    input {
      outline: none;
      border: none;
      background: transparent;
      text-align: left;
      padding: 0;
      color: get-theme(text);
      caret-color: get-theme(text);
      font-weight: 500;

      &::placeholder {
        color: get-theme(text40);
      }

      [dir='rtl'] & {
        direction: ltr;
      }
    }
  }

  .kux-picker-suffix {
    display: flex;
    align-items: center;
    background: transparent;
  }

  .kux-picker-clear {
    position: absolute;
    right: 12px;
    width: 14px;
    height: 100%;
    display: flex;
    align-items: center;
    background: get-theme(backgroundOverlay);

    [dir='rtl'] & {
      left: unset;
      right: 12px;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;
  }

  &__allow-clear {
    .kux-picker-suffix {
      visibility: hidden;
    }
  }

  &__label {
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: left top;
    padding: 0 2px;
    white-space: nowrap;
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
                transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
                max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    pointer-events: none;

    &--shrink {
      transform: scale(0.75);
    }

    &--error {
      color: get-theme(brandRed);
    }

    &--disabled {
      color: get-theme(text40);
    }

    &--focused {
      color: get-theme(text);
    }
  }

  &__fieldset {
    position: absolute;
    top: -5px;
    left: -1.5px;
    right: -1.5px;
    bottom: 0.5px;
    pointer-events: none;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: get-theme(cover12);
    overflow: hidden;

    &--error {
      border-color: get-theme(brandRed);
    }

    &--focused {
      border-color: get-theme(text);
    }
  }

  &__legend {
    float: unset;
    width: auto;
    overflow: hidden;
    display: block;
    visibility: hidden;
    height: 12px;
    font-size: 14px;
    line-height: 24px;
    max-width: 0.01px;
    padding: 0;

    &--shrink {
      max-width: 100%;
      padding: 2px;
    }
  }

  .kux-picker-range-separator {
    flex-shrink: 0;
    width: 16px;
    margin: 0 8px;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: get-theme(text);
  }

  .kux-picker-active-bar {
    display: none;
  }

  // // Size variants
  &--small {
    width: 224px;

    .kux-range-picker__wrapper {
      height: 32px;
    }

    .kux-range-picker__input {
      input {
        font-size: 12px;
        height: 32px;
        line-height: 20px;

        &::placeholder {
          font-size: 10px;
        }
      }
    }

    .kux-range-picker__label {
      font-size: 12px;
      line-height: 16px;

      &--shrink {
        transform: translate(14.8px, -6px) scale(0.75);
      }

      &:not(&--shrink) {
        transform: translate(14px, 8px) scale(1);
      }
    }

    .kux-range-picker__legend {
      font-size: 9.8px;
      padding: 0;
    }
  }

  &--medium {
    width: 246px;

    .kux-range-picker__wrapper {
      height: 40px;
    }

    .kux-range-picker__input {
      input {
        font-size: 14px;
        height: 40px;
        line-height: 22px;

        &::placeholder {
          font-size: 12px;
        }
      }
    }

    .kux-range-picker__label {
      font-size: 14px;
      line-height: 18px;

      &--shrink {
        transform: translate(13.4px, -7px) scale(0.75);
      }

      &:not(&--shrink) {
        transform: translate(14px, 10px) scale(1);
      }
    }

    .kux-range-picker__legend {
      font-size: 11px;
      padding: 0;
    }
  }

  &--large {
    width: 264px;

    .kux-range-picker__wrapper {
      height: 48px;
    }

    .kux-range-picker__input {
      input {
        font-size: 16px;
        height: 48px;
        line-height: 24px;

        &::placeholder {
          font-size: 14px;
        }
      }
    }

    .kux-range-picker__label {
      font-size: 16px;
      line-height: 22px;

      &--shrink {
        transform: translate(14.8px, -9px) scale(0.75);
      }

      &:not(&--shrink) {
        transform: translate(14px, 12px) scale(1);
      }
    }

    .kux-range-picker__legend {
      font-size: 12.2px;
    }
  }

  &--xlarge {
    width: 276px;

    .kux-range-picker__wrapper {
      height: 56px;
    }

    .kux-range-picker__input {
      input {
        font-size: 16px;
        height: 56px;
        line-height: 26px;

        &::placeholder {
          font-size: 14px;
        }
      }
    }

    .kux-range-picker__label {
      font-size: 16px;
      line-height: 24px;

      &--shrink {
        transform: translate(14.6px, -9px) scale(0.75);
      }

      &:not(&--shrink) {
        transform: translate(14px, 16px) scale(1);
      }
    }

    .kux-range-picker__legend {
      font-size: 12.3px;
    }
  }
}