.btn.btn {
  // 统一修改发送按钮样式
  height: 85%!important;
  margin-right: ~`px2rem(4)`!important;
  white-space: nowrap;
  background: rgba(184,198,216,0.24);
  color: rgb(26, 187, 151);
}

.counting{
  color: rgba(184,198,216,0.60)!important;
}
