
body {
  .tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-radius: 2px;
    padding: 0 2px;
    line-height: 14px;
    white-space: nowrap;
    &.long {
      border-color: #24ae8f;
      color: #24ae8f;
    }
    &.short {
      border-color: #dc5656;
      color: #dc5656;
    }
  }
}

