.countdown {
  display: flex;
  gap: 6px;

  div {
    display: flex;
    gap: 2px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: var(--kux-text40);
    align-items: flex-end;

    span {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      color: var(--kux-text);
    }
  }
}