

.PrivacyLink {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--color-text60);
  margin-bottom: 24px;
  margin-top: -8px;
  width: 100%;
}

.LinkText {
  text-decoration: underline;
  cursor: pointer;
}

.LinkTextHasLink {
  text-decoration: underline;
  cursor: pointer;
}
