@import 'src/styles/mixin.scss';

:global(.contentWrapper) {
  @include media-query('sm') {
    margin-top: 0px !important;
  }
}
.contentBox {
  width: 100%;
  max-width: 486px;
  margin: 0 auto 0 100px;
  padding: unset;
  flex: auto;
  @include media-query('xl') {
    margin: 0 auto;
  }
  @include media-query('lg') {
    margin: 0 auto;
    padding: unset;
  }
  @include media-query('sm') {
    margin: 0 auto;
    max-width: unset;
    padding: unset;
    flex: 1;
  }
  &.inDrawer {
    max-width: unset;
    margin: 0 auto;
    padding: 40px 64px 40px;
    @include media-query('xl') {
      margin: 0 auto;
    }
    @include media-query('lg') {
      margin: 0 auto;
      padding: 30px 40px 40px;
    }
    @include media-query('sm') {
      margin: 0 auto;
      max-width: unset;
      padding: 0px 16px 40px !important;
    }
  }

  .title {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    margin-top: 40px;
    margin-bottom: 40px;
    color: var(--kux-text);
    word-break: break-word;
    &.inDrawer {
      font-size: 36px;
      @include media-query('sm') {
        margin-top: 8px;
        margin-bottom: 12px;
      }
    }
    @include media-query('sm') {
      font-size: 24px;
      margin-top: 8px;
      margin-bottom: 12px;
    }
  }

  .alertWrapper {
    margin-bottom: 40px;

    .alert {
      width: 100%;
      max-width: 100%;
      padding: 12px 16px;
      font-size: 13px;
      background: var(--kux-complementaryYellow8);
      border: none;
      border-radius: 8px;
    }
  }
}
