.noDataStatus {
  background: rgba(0, 13, 29, 0.02);
  z-index: 2;
  border-radius: 8px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.klineNodataText {
  
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  color: rgba(0, 13, 29, 0.4);
  font-family: Kufox Sans !important;
  
}