$sm: 767px;

.layout {
  width: 580px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 48px;
  flex: 1;
  @media (max-width: $sm) {
    width: 100%;
    margin: 0;
    gap: 8px;
    overflow: hidden;
  }
}

.backWrapper {
  @media (max-width: $sm) {
    padding: 0 16px;
  }
}

.modal {
  :global(.kux-modal-header) {
    padding-bottom: 0;
  }
  :global(.kux-empty-title) {
    text-align: center;
  }
  :global(.kux-empty-description) {
    text-align: center;
  }
}
