@import '@/styles/mixin.scss';

.container {
  width: 172px;
  height: 172px;
  background: #fff;
  border-radius: 21.5px;
  overflow: hidden;

}

.qrCodeCanvas {
  scale: 0.97;

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
