.wrapper {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
}

.priceWrapper {
  color: var(--kux-text30);
}

.rateWrapper {
  color: var(--kux-brandGreen) !important;
  margin-inline-start: 4px;
}

.h5Wrapper {
  margin-top: 16px;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  line-height: 140%;
}
