$sm: 767px;

.container {
  position: relative;
  flex: 1;
}

.content {
  margin-top: 28px;
  @media (max-width: $sm) {
    margin-top: 20px;
  }
}

.living {
  border-radius: 20px;
  background: var(--kux-cover2); 
  display: flex;
  padding: 40px 0;
  flex-direction: column;
  align-items: center;
  @media (max-width: $sm) {
    background: transparent;
    padding: 0;
  }
}

.livingWrongWrapper {
  margin-top: 40px;
  display: flex;
  gap: 24px;
  @media (max-width: $sm) {
    border-top: 0.5px solid var(--kux-divider8);
    padding-top: 28px;
    margin-top: 28px;
    flex-direction: column;
  }
}

.livingWrongItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4px;
  color: var(--kux-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  img {
    width: 88px;
  }
  @media (max-width: $sm) {
    flex-direction: row;
    gap: 12px;
    text-align: inherit;
  }
}

.startBtnWrapper {
  margin-top: 40px;
  width: 100%;
  @media (max-width: $sm) {
    flex: 1;
    display: flex;
    align-items: flex-end;
  }
}

.iframeWrapper {
  object-fit: cover;
  width: 100%;
  min-height: 720px;
  border: none;
  @media (max-width: $sm) {
    min-height: 520px;
  }
}