@import '../styles.module';

.appDownloadWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: var(--color-cover4);
  border-radius: 32px 32px;
  border-radius: 50%;

  // margin: 0 0 0 -12px;
  // [dir='rtl'] & {
  //   margin: 0 -12px 0 0;
  // }
  svg {
    margin: 0 6px;
  }

  & img {
    width: 16px;
  }

  &:hover {
    svg {
      color: var(--color-primary);
    }
  }
}

// .appDownloadWrapperInTrade {
//   width: 32px;
//   height: 32px;
// }

.overlayWrapper {
  padding: 16px 24px;
  width: 244px;

  background: var(--color-layer);
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  max-height: calc(100vh - 100px);
  overflow: auto;

  margin-top: 18px;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-query('xl') {
    margin-top: 12px;
  }

  & .title {
    color: var(--color-text60);
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    width: 100%;
    word-break: break-word;
    margin-bottom: 12px;
    white-space: normal;
    text-align: center;
    cursor: text;
  }

  & .QRCode {
    margin-bottom: 16px;

    .QRCodeBox {
      text-align: center;
    }
  }

  & .more {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color-primary);
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    text-decoration: none !important;
  }
}

.overlayWrapperInTrade {
  margin-top: 8px;

  @include media-query('xl') {
    margin-top: 8px;
  }
}

.exICArrowRight2Outlined {
  margin-left: 4px;

  [dir='rtl'] & {
    transform: rotate(180deg);
    margin-left: unset;
    margin-right: 4px;
  }
}

// .downloadIcon {
//   :hover {
//     color: var(--color-primary);
//   }
// }

.downloadContainer {
  cursor: default;
}
