@import 'src/styles/mixin.scss';

.ExtendDialog {
 
}

.Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0 0;
  flex: 1;
  img {
    width: 120px;
    height: 120px;
    margin-bottom: 16px;
    @include media-query('sm') {
      width: 100px;
      height: 100px;
      margin-bottom: 12px;
    }
  }
}

.WrapperClosable {
  padding: 0;
}

.Title {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: var(--color-text);
}

.Content {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-text60);
  overflow: auto;
  margin-top: 8px;
  &::-webkit-scrollbar {
    width: 4px;
    background: transparent;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 2px;
  }
}

.Tips {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: left;
  color: var(--color-text60);
  margin-top: 8px;
  width: 100%;
  display: flex;
  gap: 4px;
  [dir='rtl'] & {
    text-align: right;
  }
  span {
    cursor: pointer;
    text-decoration: underline;
  }
}

.PrivacyLink {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--color-text60);
  margin-bottom: 24px;
  margin-top: -8px;
  width: 100%;
}

.LinkText {
  text-decoration: underline;
  cursor: pointer;
}

.LinkTextHasLink {
  text-decoration: underline;
  cursor: pointer;
}