@import "~themes/mui.light.less";

body {
  .item {
    color: @color_body;
  }
  .highlight {
    :global {
      .highlight {
        color: @color_primary;
      }
    }
  }
  .tooltipAction {
    span {
      color: @color_primary;
    }
  }
}
