.blocked {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  margin-top: ~`px2rem(24)`;
  font-size: ~`px2rem(14)`;
  color: #666666;
  letter-spacing: -0.1px;
  text-align: left;
}
