@import '../../../../../styles/mixin.scss';

.RowBox {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

.ImgBox {
  width: auto;
  height: 40px;
  background: rgba(1, 8, 30, 0.04);
  border-radius: 4px;
  img {
    width: auto;
    height: 100%;
  }
}
