@import '@/style/index.scss';

// 自动产生命名空间, 用于生成类名, 使用 $ns-mask-container 作为类名
// * 例如: $ns: 'kux', componentName: 'Hero2', 则类名为 kux-hero2
// * $prefix 也会自动更新: $ns + '-' + 'mask-container'
// * 例如: $ns: 'kux', componentName: 'Hero2', 则 $prefix 为 kux-hero2
@include component('mask-container') {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}