@import 'src/styles/mixin.scss';

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    //   height: ${HEIGHT}px;
    text-align: center;
    background: linear-gradient(0deg, rgba(255, 181, 71, 0.08), rgba(255, 181, 71, 0.08)), #ffffff;
    //   line-height: ${HEIGHT}px;
    padding-left: 40px;
    padding-right: 40px;

    @include media-query('sm') {
        padding-right: 12px;
        padding-left: 12px;
    }
}

.main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content {
    overflow: hidden;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: var(--color-text);
    margin-right: 8px;
    white-space: nowrap;
}

.marqueeGap {
    display: inline-block;
    width: 100px;
}

.link {
    display: inline-block;
    padding: 2px 8px;
    border: 0.5px solid var(--color-complementary);
    text-align: center;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    word-break: keep-all;
    white-space: nowrap;
    color: var(--color-complementary);

    & a,
    a:hover,
    a:visited,
    a:active {
        color: inherit;
        text-decoration: none;
    }
}

.closeIcon {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-left: 10px;
}