@import "@/theme/mixin.scss";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid var(--kux-cover8);
  padding: 32px;
  @include media-query(sm) {
    padding: 16px;
  }
}

.unverifiedContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include media-query(sm) {
    gap: 16px;
  }
}

.tag {
  display: flex;
  padding: 2px 4px;
  border-radius: 4px;
  background: var(--kux-brandGreen8);
  color: var(--kux-brandGreen);
  font-size: 14px;
  font-weight: 500;
  line-height: 130%; /* 18.2px */
}

.unlocks {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  display: flex;
  gap: 24px;
  @include media-query(sm) {
    flex-direction: column;
    gap: 8px;
  }
  &>div:first-child {
    color: var(--kux-text40);
    flex: 1;
  }
  &>div:nth-child(2) {
    color: var(--kux-text60);
    display: flex;
    align-items: center;
    gap: 24px;
    &>div {
      display: flex;
      gap: 4px;
      align-items: center;
    }
  }
}

.divider {
  height: 0.5px;
  background: var(--kux-divider8);
}

.desc {
  color: var(--kux-text40);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}

.certWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.certList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.certItem {
  padding: 16px 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  border-radius: 12px;
  background: var(--kux-cover2);
}

.certHeader {
  display: flex;
  gap: 8px;
  &>div:first-child {
    display: flex;
    width: 20px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: var(--kux-text);
    color: var(--kux-textEmphasize);
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 140%; /* 16.8px */
    margin-top: 4px;
  }
  &>div:nth-child(2) {
    flex: 1;
    color: var(--kux-text);
    font-size: 16px;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    margin-top: 3px;
    .desc {
      font-size: 12px;
    }
  }
  &>button:nth-child(3) {
    min-width: 100px;
    @include media-query(sm) {
      min-width: 56px;
    }
  }
  .tag {
    font-size: 12px;
  }
}

.collectList {
  margin-top: 10px;
  padding-left: 1em;
  color: var(--kux-text30);
  display: flex;
  flex-direction: column;
  gap: 8px;
  li {
    list-style: disc;
    &>span {
      color: var(--kux-text);
    }
  }
}

.resultWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 140%;
  &.warning {
    color: var(--kux-complementaryYellow);
  }
  &.error {
    color: var(--kux-brandRed);
  }
  &>div:first-child {
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 4px;
    &>img {
      width: 16px;
      height: 16px;
    }
  }
  &>div:nth-child(2) {
    font-size: 14px;
    font-weight: 400;
  }
}