
.tipOffMenu {
  padding: 12px 16px;
  left: 120px !important;
  word-break: break-word;

  &::after {
    left: 30px;

    [dir="rtl"] & {
      left: unset;
      right: 30px;
    }
  }
}

.ol {
  list-style: none;
}

.tipOffMenuTitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: var(--color-text);
  margin-bottom: 4px;
}

.tipOffMenuItem {
  font-size: 12px;
  line-height: 20px;
  color: var(--color-text60);
}

.tipOffMenuTip {
  margin-top: 14px;
}

.tipOffMenuMail {
  font-size: 12px;
  line-height: 20px;
  color: var(--color-text);

  a {
    display: inline !important;
    font-size: 12px !important;
    padding: 0 !important;
    color: var(--color-primary) !important;
    height: unset !important;
    line-height: unset !important;
  }
}

