@import '@/styles/mixin.scss';

.wrapper {
  margin-bottom: 24px;

  @include media-query('sm') {
    margin-bottom: 20px;
    padding-top: 0;
  }

  .price_trend_base {
    color: rgba(0, 13, 29, 0.4);
  }

  thead {
    tr th {
      padding: 8px 16px;
      color: var(--color-text40);
      font-weight: 500;
      font-size: 16px;
      font-style: normal;
      line-height: 130%;
      border-bottom: none;
    }

    tr th:first-of-type {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    tr th:last-of-type {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  .trend_Row td {
    color: rgba(0, 13, 29, 0.4);
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 130%;
    border-bottom: none;

    @include media-query('lg') {
      font-size: 12px;
    }
  }

  :global(.gray_color_text) {
    color: rgba(0, 13, 29, 0.4);
  }

}

.priceSpan {
  color: var(--color-text40) !important;

  &.lessZero {
    color: var(--color-secondary) !important;
  }

  &.greaterZero {
    color: var(--color-primary) !important;
  }
}