.select {
  :global {
    .ant-select-dropdown-menu-item-active{
      background: #EDF1F3;
    }
  }
}
:global {
  .ant-select-selection {
    border-radius: 2px !important;
  }
}

.CoinItem{
  display: flex;
  align-items: center;
  .name {
    font-size: 14px;
    color: #333 !important;
  }
  img{
    width: 18px;
    height: 18px;
  }
  span{
    margin-left: 6px;
    &:first-child{
      font-size: 14px;
      color: #333;
    }
    &:last-child{
      font-size: 12px;
      color: #9B9B9B;
    }
  }
}
