@import 'src/styles/mixin.scss';

.agreementContainer {
  width: 100%;
}

.agreementStep {
  .KuxStep-step {
    display: flex;
    margin-bottom: 8px;
    &:not(:first-of-type) {
      margin-left: 6px;
    }
    .KuxStep-container {
      align-items: center;
      .KuxStep-icon {
        width: 20px;
        height: 20px;
      }
      .KuxStep-stepContent {
        margin-left: 0px;
      }
      .KuxStep-arrowRight {
        margin-left: 6px;
      }
    }
  }
  .KuxStep-step.KuxStep-ActiveStep {
    .KuxStep-container {
      .KuxStep-stepContent {
        margin-left: 4px;
      }
    }
  }
}

.agreementEmpty {
  margin: initial;
  .KuxEmpty-description {
    display: none;
  }
}

.agreementCheckBoxWrap {
  display: flex;
  margin: 12px 0 24px;
  .KuxCheckbox-wrapper {
    & > span {
      margin-left: 8px;
      line-height: 1.4;
    }
    .KuxCheckbox-checkbox {
      top: 0;
      margin-left: 0;
      line-height: 1;
    }
  }
}

.agreementContent {
  width: 100%;
  height: 220px;
  overflow-y: scroll;
  padding: 16px 0 12px;
  font-size: 14px;
  color: var(--kux-text60);

  strong {
    font-weight: 300;
  }

  @include media-query('sm') {
    height: 40vh;
  }
  @media (min-width: 1536px) {
    height: 40vh;
  }
}

.agreementContentFail {
  width: 100%;
  height: 220px;
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  justify-content: center;
  position: relative;
  @include media-query('sm') {
    height: 40vh;
  }
  @media (min-width: 1536px) {
    height: 40vh;
  }
}

.spinLoading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.agreementLabel {
  color: var(--kux-text);
  font-size: 14px;
  font-weight: 400;
}

.agreementBtn {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}