.name {
  font-size: ~`px2rem(12)`;
  letter-spacing: 0;
  color: #929FB3;
  text-align: center;
  line-height: ~`px2rem(20)`;
  height: ~`px2rem(40)`;
}

.redtip,
.bluetip,
.greentip {
  font-size: ~`px2rem(12)`;
  letter-spacing: 0;
  margin-top: ~`px2rem(5)`;

  :global {
    .anticon {
      margin-right: ~`px2rem(4)`;;
    }
  }
}

.greentip {
  color: #01AA78;
}

.bluetip {
  color: #0F7DFF;
}

.redtip {
  color: #FF5F73;
}
