@import '@/style/index.scss';

// 自动产生命名空间, 用于生成类名, 使用 $ns-text 作为类名
// * 例如: $ns: 'kux', componentName: 'Hero2', 则类名为 kux-hero2
// * $prefix 也会自动更新: $ns + '-' + 'text'
// * 例如: $ns: 'kux', componentName: 'Hero2', 则 $prefix 为 kux-hero2
@include component('checkbox') {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  line-height: 1;
  vertical-align: middle;
  top: -0.09em;

  &-wrapper {
    // 基础样式
    font-family: '"Roboto","PingFang SC",-apple-system,BlinkMacSystemFont,"Microsoft YaHei"';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: get-theme(text); // 需在父级或根节点设置
    list-style: none;
    position: relative;
    display: inline-block;
    line-height: unset;
    cursor: pointer;
    opacity: 1;
    &:after {
      display: inline-block;
      width: 0;
      overflow: hidden;
      content: '\a0';
    }

    &:not(:last-of-type) {
      margin-right: 0;
    }
    &-group {
      &:not(:last-of-type) {
        margin-right: 20;
      }
    }
    &-disabled {
      cursor: not-allowed;
      opacity: 0.2;
    }
  }

  &-text-wrap {
    margin-left: 6px;
    font-size: 14px;
    line-height: 22px;
  }

  &-input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: inherit;
    opacity: 0;
    margin: 0;
  }

  &-inner {
    display: flex;
    box-sizing: border-box;
    position: relative;
    left: 0;
    top: 0;
    background: transparent;
    border: 2px solid get-theme(icon40); // 可用 CSS 变量覆盖
    border-radius: 100%;
    align-items: center;
    justify-content: center;

    &-icon {
      color: get-theme(textEmphasize);
      fill: get-theme(textEmphasize);
    }

    &-checked {
      background: get-theme(brandGreen);
      border-color: get-theme(brandGreen);
    }

    &-small {
      width: 18.3px;
      height: 18.3px;
      & svg {
        width: 12px;
        height: 12px;
      }
    }
    &-basic {
      width: 20px;
      height: 20px;
      & svg {
        width: 14px;
        height: 14px;
      }
    }
    &-large {
      width: 22px;
      height: 22px;
      & svg {
        width: 16px;
        height: 16px;
      }
    }

  }
}
