.myDialogBody {
  :global {
    .KuxDialog-content {
      padding: 0;
    }
  }
}

.topbg {
  width: 100%;
}

.myDialogContent {
  display: flex;
  flex-direction: column;
  padding: 24px;
  .linkToSupport {
    padding-bottom: 24px;
    color: #24ae8f;
    cursor: pointer;
  }
}

.dialogTitle {
  color: #00142a;
  font-weight: 500;
  font-size: 16px;
}

.dialogDes {
  font-size: 12px;
}
