.checkbox {
  font-size: 12px;
  color: #494E56;
  letter-spacing: 0;
}
.agreement{
  max-height: 360px;
  overflow-x: hidden;
  overflow-y: auto;
}
.button {
  text-align: center;

  >button {
    width: 300px;
  }
}
