@import '@/style/index.scss';

// 自动产生命名空间, 用于生成类名, 使用 $ns-h-stack 作为类名
// * 例如: $ns: 'kux', componentName: 'Hero2', 则类名为 kux-hero2
// * $prefix 也会自动更新: $ns + '-' + 'h-stack'
// * 例如: $ns: 'kux', componentName: 'Hero2', 则 $prefix 为 kux-hero2
@include component('stack') {
  display: flex;
  align-items: center;
  justify-content: center;
  &.is-horizontal {
    flex-direction: row;
  }
  &.is-vertical {
    flex-direction: column;
  }
}