.wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;

  color: var(--color-text);
  cursor: pointer;
}

.content {
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  line-height: 140%;
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
  .symbolName {
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .symbolTag {
    box-sizing: border-box;
    // height: 14px;
    margin-left: 3px;
    // color: var(--color-text60);
    background: var(--color-cover4);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1px 4px;
    border-radius: 6px;

    color: var(--kux-text40);

    [dir='rtl'] & {
      margin-right: 3px;
    }
    span {
      font-weight: 500;
      font-size: 12px;
      transform: scale(0.833);
      transform-origin: center center;
      display: inline-block;
      line-height: 140%; /* 14px */
      white-space: nowrap;
    }
  }
}

.baseWrapper {
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
