@import '@/styles/mixin.scss';

.container {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title {
    color: var(--kux-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
  }
  .update {
    color: var(--kux-brandGreen);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    cursor: pointer;
  }
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  &>div {
    padding: 10px 0;
    color: var(--kux-text60);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    display: flex;
    justify-content: space-between;
    align-items: center;
    &>span:last-child {
      color: var(--kux-text);
    }
  }
}