$sm: 767px;

.content {
  margin-top: 34px;
  gap: 0;
  @media (max-width: $sm) {
    margin-top: 16px;
  }
}

.firstSection {
  display: flex;
  flex-direction: column;
}

.secondSection {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--kux-text);
  font-size: 16px;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  margin-bottom: 16px;
}

.certRemind {
  display: flex;
  gap: 24px;
  @media (max-width: $sm) {
    overflow: hidden;
    width: 100%;
    gap: 13px;
  }
}

.certRemindItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--kux-text);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  text-align: center;
  @media (max-width: $sm) {
    flex: 1 1 25%;
    font-size: 12px;
    img {
      width: 100%;
    }
  }
}

.subContent {
  display: flex;
  flex-direction: column;
  :global(.kux-divider) {
    margin: 20px 0;
  }
}

.subItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--kux-text60);
  font-size: 13px;
  font-weight: 400;
  line-height: 140%; /* 18.2px */
}

.handheldIdcardWrapper {
  display: flex;
  gap: 12px;
  &>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: var(--kux-text);
    font-size: 14px;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    &>div {
      display: flex;
      gap: 8px;
      align-items: center;
    }
  }
  @media (max-width: $sm) {
    flex-direction: column;
    &>div:nth-child(2)>div {
      align-items: flex-start;
    }
  }
}

.handheldIdcardTips {
  color: var(--kux-text40);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}

.submitBtnWrapper {
  margin-top: 40px;
}