

.motivation_wrapper{
  padding:17px 13px;
}

.title{
  font-size: 24px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 48px;
  margin-bottom: 13px;
}
.content{
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  line-height: 28px;
}

.part_h5 {
  padding:~`px2rem(17)` ~`px2rem(13)`;
  .title{
    font-size: ~`px2rem(24)`;
    line-height: ~`px2rem(48)`;
    margin-bottom: ~`px2rem(13)`;
  }
  .content{
    font-size: ~`px2rem(14)`;
    line-height: ~`px2rem(22)`;
  }
}
