@import '@/styles/mixin.scss';

.coinList {
  border-radius: 24px;
  border: 1px solid var(--kux-cover12);
  // box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.12);
  flex: 1;
  padding: 32px 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  @include media-query('lg') {
    padding: 32px 0 24px;
  }
  @include media-query('sm') {
    padding: 24px 0 12px;
  }
}

.coinListTitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  color: var(--kux-text);
  margin-bottom: 16px;
  @include media-query('sm') {
    font-size: 20px;
  }
}

.coinListContent {
  width: 100%;
}

.CoinListItem {
  display: flex;
  align-items: center;
  gap: 12px;
  min-height: 72px;
  padding: 0 32px;
  transition: background-color 0.3s ease;
  @include media-query('sm') {
    padding: 0 16px;
  }
  &:hover {
    background-color: var(--kux-cover4);
  }
  :global {
    .CoinIcon {
      width: 28px;
      height: 28px;
      flex-shrink: 0;
      border-radius: 28px;
      object-fit: cover;
    }
  }
}

.CoinListItemCenter {
  flex: 1;
}

.name {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: var(--kux-text);
}

.fullName {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: var(--kux-text60);
}

.countdownWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2px;
}

.launch {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: var(--kux-text40);
}

.CoinListItemRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2px;
}

.price {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: var(--kux-text);
}

.rate {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: var(--kux-text40);
}

.rateUp {
  color: var(--kux-brandGreen);
}

.rateDown {
  color: var(--kux-brandRed);
}
