@use 'sass:map';
@use "sass:color";
/**
  * 将颜色按照指定的透明度进行淡化
  */
@function fade($color, $opacity) {
  @if $opacity < 0 or $opacity >1 {
    @error "Opacity must be between 0 and 1";
  }

  @return rgba($color, $opacity);
}



/**
 * 获取组件库主题
 */
@function get-theme($key, $theme: null) {
  // 使用组件库的命名空间, 用于获取组件库的主题变量
  $prefix: #{$lib-ns}-;

  // 校验 $key 是否在主题 中存在, 不存在则发出警告
  @if not map.has-key(map.get($kux-theme, light), $key) {
    @warn "[kux]Theme var `#{$key}` does not exist in $kux-theme.";
  }

  @if $theme ==null {
    // 只传入 $key，默认使用当前主题变量
    @return var(--#{$prefix}#{$key});
  }

  @else {

    // 校验 $theme 是否在 主题 中存在
    @if not map.has-key($kux-theme, $theme) {
      @error "[kux]Theme `#{$theme}` does not exist in $kux-theme.";
    }

    // 校验 $key 是否在 主题 中存在
    @if not map.has-key(map.get($kux-theme, $theme), $key) {
      @error "[kux]Theme var `#{$key}` does not exist in theme `#{$theme}`.";
    }

    // 传入 $theme 和 $key，返回静态 Sass 变量。即使用固定主题色
    @return map.get(map.get($kux-theme, $theme), $key);
  }

  // 重置为用户的命名空间, 避免产生问题
  $prefix: $ns !global;
}

/**
 * 获取组件库动画名称
 * @param {string} $name 动画名称
 */
@function get-animation-name($name) {
  @return #{$lib-ns}-#{$name};
}

/**
 * 获取用户自定义的动画名称
 * @param {string} $name 动画名称
 */
@function get-user-animation-name($name) {
  @return #{$ns}-#{$name};
}

/**
 * 混合颜色
 * @param {color} $fg 前景色
 * @param {color} $bg 背景色
 */

 @function blend-color($fg, $bg) {
  $fg-r: color.channel($fg, "red");
  $fg-g: color.channel($fg, "green");
  $fg-b: color.channel($fg, "blue");
  $fg-a: color.channel($fg, "alpha");

  $bg-r: color.channel($bg, "red");
  $bg-g: color.channel($bg, "green");
  $bg-b: color.channel($bg, "blue");

  $r: round($fg-r * $fg-a + $bg-r * (1 - $fg-a));
  $g: round($fg-g * $fg-a + $bg-g * (1 - $fg-a));
  $b: round($fg-b * $fg-a + $bg-b * (1 - $fg-a));

  @return rgb($r, $g, $b);
}