@import '@/styles/mixin.scss';

.quickStartContainer {
  width: 100%;
  display: flex;
  justify-content: center;

  .quickStartBox {
    display: flex;
    padding: 40px 0;
    gap: 24px;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
    align-items: center;

    @include media-query('lg') {
      padding: 40px 32px;
    }

    @include media-query('sm') {
      padding: 24px 16px;
      flex-direction: column;
      align-items: center;
    }

    .text {
      // display: flex;
      // align-items: center;
      font-size: 28px;
      font-weight: 500;
      line-height: 140%;
      color: var(--kux-text);
      @include media-query('sm') {
        font-size: 24px;
      }
    }
  }
}
