@import "@/styles/mixin.scss";

.wrapper {
  .line {
    display: none;
  }

  thead {
    tr {
      .first-col {
        border-radius: 4px 0 0 4px;
      }

      .last-col {
        border-radius: 0 4px 4px 0;
      }

      th {
        padding: 8px 16px;
        color: rgba(0, 13, 29, 0.4);
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        border-bottom: none;
      }
    }
  }

  @include media-query("lg") {
    thead {
      display: none;
    }

    .line {
      display: block;
      border-bottom: 1px solid rgba(0, 13, 29, 0.08);
    }
  }
}
