@import '@/styles/mixin.scss';

.coinCurrencyWrapper {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #000d1d;
  
  @include media-query("sm") {
    & {
      font-size: 12px;
    }
  }
}

.linkWrapper {
  margin-right: 16px;
  font-size: 16px;

  @include media-query("sm") {
    & {
      margin-right: 12px;
      font-size: 14px;
    }
  }
}

.detailLink {
  font-size: 16px;
  &:not(:last-child) {
    margin-right: 16px;
  }

  @include media-query("sm") {
    & {
      font-size: 12px;

      &:not(:last-child) {
        margin-right: 4px;
      }
    }
  }
  
}