@import "src/styles/mixin.scss";

.vol {
  color: var(--color-text);
  font-size: 14px;
  line-height: 130%;
  
  @include media-query('sm') {
    font-size: 12px;
    margin-top: 4px;
  }
}

.font {
  color: var(--color-text40);
}

.label {
  margin-right: 10px;
}

.unit {
  margin-left: 10px;
}