.tipTitle {
  color: var(--kux-text);
  text-align: center;
  font-family: 'KuFox Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 16px;
}

.contentWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--kux-text60);
  font-family: 'KuFox Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 16px;
  width: 100%;

  .contentItem {
    text-align: center;
    a {
      color: var(--kux-text);
    }
  }

  .contentDesc {
    text-align: center;
    margin-top: 16px;
  }
}

.operate {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-between;
  margin-top: 16px;
  gap: 12px;
  width: 100%;
  button {
    height: 40px;
  }

  .exitButton {
    color: var(--kux-text60);
  }
}