@import '@/styles/mixin.scss';

.wrapper {
  width: 100%;
  margin-top: 24px;
}

.suffix {
  font-size: 20px;
  font-weight: 500;
  line-height: 38px;
  color: var(--color-text);

  @include media-query('sm') {
    font-size: 16px;
    line-height: 32px;
  }
}