
.voteModal {
  :global {
    .ant-modal {
      width: ~`px2rem(280)` !important;
    }
  }
  .btns {
    display: flex;
    justify-content: flex-end;
    .btn {
      font-size: ~`px2rem(14)`;
      line-height: ~`px2rem(24)`;
      &.cancelBtn {
        color: #00142A;
        opacity: 0.6;
      }
    }
  }
}
.voteText {
  font-size: ~`px2rem(14)`;
  color: #00142A;
  line-height: ~`px2rem(24)`;
}
