.tabs {
  margin: 12px 0px 24px 0px;
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  flex-wrap: wrap;
}

.tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  height: 24px;
  color: rgba(29, 29, 29, 0.4);
  font-size: 12px;
  font-weight: 500;
  line-height: 130%;
  cursor: pointer;
  
  &.active {
    color: #fff;
    background: #1d1d1d;
    border: none;
    font-weight: 500;
    border-radius: 80px;
  }
}