.redPacketDialogSpin {
  :global(.KuxSpin-wrapper) {
    transform: translate3d(-50%, -50%, 0) !important;
  }

  &:global(.KuxSpin-root) {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
    height: 100% !important;
  }

  :global(.KuxSpin-container) {
    width: 100% !important;
    height: 100% !important;

    &::after {
      background-color: transparent !important;
    }
  }
}

// RedPacketDialog styles
.redPacketDialog {
  right: 0;
  bottom: 0;
  margin: auto;

  :global(.KuxDialog-body) {
    width: 100% !important;
    max-width: unset !important;
    height: 100% !important;
    background: transparent !important;
  }

  :global(.KuxDialog-content) {
    height: 100% !important;
    padding: 0 !important;
    overflow: unset !important;
  }

  :global(.KuxDialog-mask) {
    background-color: rgba(0, 0, 0, 0.75) !important;
  }

  .redPacketDialogContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
