@color-down: #ff5f73;
@color-up: #01aa78;
@color-main: #0F7DFF;
@weight-medium: 500;
@weight-bold: 700;
@primary: #24ae8f;
@error-color: #ED6666;

@color-primary: @color-main;
@color-danger: #ED6666;
@color-success: #2DBD96;
@color-gray: rgba(0, 0, 0, .43);
@warning-color: #FFB547;
@color-high: @color-up;
@color-low: @color-down;

@color-buy: @color-up;
@color-sell: @color-down;
@font-size-lg: 16px;
@border-color-base: rgba(0, 20, 42, 0.08);
// 品牌升级后的色值
@color_new_primary: #2DBD96;
@font-family: Roboto, -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Microsoft YaHei';

