.bannerBox {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.bannerVideo {
  height: 100%;
  width: 100%;
  object-fit: cover;

  opacity: 0;
  
  &.showVideo {
    opacity: 1;
  }
}

.bannerImage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 1;

  &.showVideo {
    opacity: 0;
  }
}