@import '@/style/index.scss';

// 自动产生命名空间, 用于生成类名, 使用 $ns-button 作为类名
// * 例如: $ns: 'kux', componentName: 'Hero2', 则类名为 kux-hero2
// * $prefix 也会自动更新: $ns + '-' + 'button'
// * 例如: $ns: 'kux', componentName: 'Hero2', 则 $prefix 为 kux-hero2
@include component('button') {
  position: relative;
  overflow: hidden;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  user-select: none;

  &-content {
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    vertical-align: middle;
    @include ellipsis(2);

    &-align-center {
      text-align: center;
    }
  }

  &-full {
    width: 100%;
  }

  &-fill {
    width: 4px;
    height: 100%;
    flex-shrink: 0;
  }

  &-ico {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:focus {
    outline: none;
  }

  &:hover,
  &:active {
    opacity: 0.9;
  }

  /** disabled */
  &.is-disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  /** type  */
  &.#{$prefix}-primary {
    background-color: get-theme(buttonColorPrimary);
    color: get-theme(textEmphasize);
  }

  &.#{$prefix}-default {
    background-color: get-theme(cover4);
    color: get-theme(text);

    &.is-disabled {
      opacity: 0.4;
    }

    &:hover {
      background-color: get-theme(cover8);
    }
    &:active {
      background-color: get-theme(cover12);
    }
  }

  &.#{$prefix}-danger {
    background-color: get-theme(brandRed);
    color: get-theme(textEmphasize);
  }

  &.#{$prefix}-outlined {
    color: get-theme(text);
    border: 1px solid get-theme(text);
    background-color: transparent;

    &:hover {
      background-color: get-theme(cover4);
    }
    &:active {
      background-color: get-theme(cover8);
    }
  }

  &.#{$prefix}-text {
    border-radius: 0;
    border: none;
    color: get-theme(text);
    background: transparent;
  }
  &.#{$prefix}-primary-text {
    border-radius: 0;
    border: none;
    color: get-theme(brandGreen);
    background: transparent;
  }

  &.kux-button-start-ico { 
    &.kux-button-mini {
      padding: 5.5px 12px 5.5px 10px;
      [dir='rtl'] & {
        padding: 5.5px 10px 5.5px 12px;
      }
    }
    &.kux-button-small {
      padding: 7.5px 16px 7.5px 14px;
      [dir='rtl'] & {
        padding: 7.5px 14px 7.5px 16px;
      }
    }
    &.kux-button-basic { 
      padding: 10px 24px 10px 22px;
      [dir='rtl'] & {
        padding: 10px 22px 10px 24px;
      }
    }
    &.kux-button-large {
      padding: 14px 28px 14px 26px;
      [dir='rtl'] & {
        padding: 14px 26px 14px 28px;
      }
    }
    &.kux-button-huge {
      padding: 17px 32px 17px 30px;
      [dir='rtl'] & {
        padding: 17px 30px 17px 32px;
      }
    }
  }
  &.kux-button-end-ico { 
    &.kux-button-mini {
      padding: 5.5px 10px 5.5px 12px;
      [dir='rtl'] & {
        padding: 5.5px 12px 5.5px 10px;
      }
    }
    &.kux-button-small {
      padding: 7.5px 14px 7.5px 16px;
      [dir='rtl'] & {
        padding: 7.5px 16px 7.5px 14px;
      }
    }
    &.kux-button-basic { 
      padding: 10px 22px 10px 24px;
      [dir='rtl'] & {
        padding: 10px 24px 10px 22px;
      }
    }
    &.kux-button-large {
      padding: 14px 26px 14px 28px;
      [dir='rtl'] & {
        padding: 14px 28px 14px 26px;
      }
    }
    &.kux-button-huge {
      padding: 17px 30px 17px 32px;
      [dir='rtl'] & {
        padding: 17px 32px 17px 30px;
      }
    }
  }

    .kux-button-loading {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

  /** size  */
  &.#{$prefix}-mini {
    height: 28px;
    padding: 5.5px 12px;
    border-radius: 20px;
    line-height: 1.4;

    .kux-button-content {
      font-size: 12px;
      font-weight: 700;
    }
    svg {
      width: 16px;
      height: 16px;
    }
    &.kux-button-text, &.kux-button-primary-text  {
      padding: 5.5px 12px;
    }

    .kux-button-loading {
      width: 16px;
      height: 16px;
    }
  }

  &.#{$prefix}-small {
    height: 32px;
    padding: 7.5px 16px;
    border-radius: 20px;
    line-height: 1.4;
    svg {
      width: 16px;
      height: 16px;
    }
    .kux-button-content {
      font-size: 12px;
      font-weight: 700;
    }
    .kux-button-loading {
      width: 16px;
      height: 16px;
    }

    &.kux-button-text, &.kux-button-primary-text  {
      padding: 5.5px 12px;
    }
  }

  &.#{$prefix}-basic {
    height: 40px;
    padding: 10px 24px;
    border-radius: 24px;
    svg {
      width: 16px;
      height: 16px;
    }
    .kux-button-content {
      font-size: 14px;
      font-weight: 700;
    }
    .kux-button-loading {
      width: 20px;
      height: 20px;
    }

    &.kux-button-text, &.kux-button-primary-text  {
      padding: 10px 12px;
    }
  }

  &.#{$prefix}-large {
    height: 48px;
    padding: 14px 28px;
    border-radius: 32px;
    svg {
      width: 16px;
      height: 16px;
    }
    .kux-button-content {
      font-size: 14px;
      font-weight: 700;
    }
    .kux-button-loading {
      width: 20px;
      height: 20px;
    }

    &.kux-button-text, &.kux-button-primary-text  {
      padding: 9px 12px;
    }
  }

  &.#{$prefix}-huge {
    height: 56px;
    padding: 17px 32px;
    border-radius: 32px;
    svg {
      width: 20px;
      height: 20px;
    }
    .kux-button-content {
      font-size: 16px;
      font-weight: 700;
    }
    .kux-button-loading {
      width: 24px;
      height: 24px;
    }

    .kux-button-fill {
      width: 6px;
    }

    &.kux-button-text, &.kux-button-primary-text {
      padding: 9px 12px;
    }
  }
}
