@import 'src/styles/mixin.scss';

.StyleNotice {
  width: 32px;
  height: 32px;
  background: var(--color-cover4);
  // todo: 重点Review
  // margin-left: -12px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    & svg {
      fill: var(--color-primary);
    }
  }
  [dir='rtl'] & {
    margin-left: 0px;
  }
  @include media-query('sm') {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    & svg {
      width: 16px;
      height: 16px;
    }
  }
}

.StyleCount {
  position: absolute;
  top: -2px;
  left: 24px;
  // border: 1px solid var(--color-background);
  // background: var(--color-primary);
  // color: var(--color-textEmphasis);
  padding: 0 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  zoom: 0.85;

  height: 15px;
  border-radius: 72px;
  border: 0.8px solid var(--kux-textEmphasize);
  background: var(--kux-brandGreen);
  color: var(--kux-backgroundOverlay);
  font-weight: 700;
  line-height: 130%;

  @include media-query('sm') {
    top: -2px;
    left: 24px;
  }
}
