@import 'src/styles/mixin.scss';

.contentBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--kux-bg);
  border-radius: 16px;
  box-shadow: 0 8px 32px 0 var(--kux-shadow16);
  padding: unset;
  margin: 0 auto 0 100px;
  max-width: 486px;
  flex: 1;
  & > div {
    width: 100%;
  }
  &.center {
    margin: 0 auto;
  }
  &.withDrawer {
    max-width: unset;
    margin: 0 auto;
    padding: 40px 64px 40px;

    @include media-query('lg') {
      margin: 0 auto;
      padding: 30px 40px 40px;
    }
    @include media-query('sm') {
      width: 100%;
      margin: 0 auto;
      max-width: unset;
      padding: 0px 16px 40px !important;
    }
  }
  &.noLayout {
    width: 486px;
    max-width: 486px;
    margin: 0 auto;
  }
  @include media-query('sm') {
    width: 100%;
    margin: 0 auto;
    max-width: unset;
    padding: unset;
  }
  @include media-query('lg') {
    margin: 0 auto;
    padding: unset;
  }
}
