
.moreBtn {
  /* Auto layout */
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3px 6px;
  cursor: pointer;
  border-radius: 4px;
  background: rgba(29, 29, 29, 0.04);
  
  span {
  flex: none;
  flex-grow: 0;
  order: 0;
  margin: 0px 4px;
  color: rgba(29, 29, 29, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  }
  
}

.image {
  width: 12px;
  height: 12px;
  margin: 4px 0;
  transform: 0deg;
  position: relative;
  
  &.reverse {
    transform: 180deg;
  }
}