@import '@/styles/mixin.scss';

.container {
  display: flex;
  padding: 20px 24px 24px;
  flex-direction: column;
  border-radius: 16px;
  background: var(--kux-cover4);
}

.title {
  color: var(--kux-text);
  font-size: 18px;
  font-weight: 700;
  line-height: 140%; /* 25.2px */
}

.subTitle {
  color: var(--kux-text);
  font-size: 16px;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  margin-top: 16px;
}

.desc {
  color: var(--kux-text40);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  margin-top: 4px;
}

.list {
  margin-top: 16px;
  padding-left: 1em;
  color: var(--kux-text30);
  display: flex;
  flex-direction: column;
  gap: 8px;
  li {
    list-style: disc;
    &>span {
      color: var(--kux-text);
    }
  }
}

.divider {
  height: 0.5px;
  background: var(--kux-divider8);
  margin-top: 24px;
}