@import '@/styles/mixin.scss';

.container {
  display: flex;
  padding: 20px 24px 24px;
  flex-direction: column;
  gap: 24px;
  border-radius: 16px;
  background: var(--kux-cover4);
  :global(.kux-button) {
    min-width: 228px;
  }
}

.title {
  color: var(--kux-text);
  font-size: 18px;
  font-weight: 700;
  line-height: 140%; /* 25.2px */
}

.desc {
  color: var(--kux-text40);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}