.groupBox {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.groupItem {
  border: 1px solid rgba(0, 0, 0, 0.65);
  padding: 8px;
  border-radius: 4px;
  display: flex;
  gap: 8px;
}

.editIcon {
  color: #01bc8d;
  cursor: pointer;
}

.delIcon {
  color: #ff4d4f;
  cursor: pointer;
}
