.introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  margin-bottom: 18px;
  color: #73809b;
  font-size: 13px;
  letter-spacing: 0;
  word-break: break-word;
  background-color: #0a193d;
  img {
    max-width: 100% !important;
  }
}
