:root {
  --font-family: Roboto, "PingFang SC", -apple-system, BlinkMacSystemFont,
    "Microsoft YaHei";
  --single-line-height: 1.3;
  --multi-line-height: 1.5;
  --transition-timing-function-ease: cubic-bezier(0.2, 0, 0, 1);
  --transition-timing-function-ease-in: cubic-bezier(0.3, 0, 1, 1);
  --transition-timing-function-ease-out: cubic-bezier(0.05, 0.7, 0.1, 1);
  --transition-timing-function-ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);
  --font-sm: 10px;
  --font-md: 12px;
  --font-lg: 14px;
  --font-xl: 16px;
  --font-x2l: 18px;
  --font-x3l: 20px;
  --font-x4l: 24px;
  --font-x5l: 28px;
  --font-x6l: 36px;
  --font-x7l: 48px;
  --font-x8l: 56px;
  --radius-small: 2px;
  --radius-basic: 4px;
  --radius-middle: 8px;
  --radius-large: 20px;
  --radius-xlarge: 24px;
  --radius-full: 100%;
  --zIndex-affix: 10;
  --zIndex-modal: 1000;
  --zIndex-message: 1010;
  --zIndex-dropdown: 1050;
  --zIndex-picker: 1050;
  --zIndex-tooltip: 1070;
  --zIndex-popconfirm: 1060;
  --shadow-base: 0px 4px 8px 0px rgba(0, 0, 0, 0.1),
    0px 0px 1px 0px rgba(0, 0, 0, 0.1);
  --shadow-middle: 0px 10px 16px 0px rgba(0, 0, 0, 0.06),
    0px 0px 1px 0px rgba(0, 0, 0, 0.1);
  --shadow-high: 0px 10px 16px 0px rgba(0, 0, 0, 0.1),
    0px 0px 1px 0px rgba(0, 0, 0, 0.1);
  --color-primary: #01bc8d;
  --color-primary88: rgba(1, 188, 141, .88);
  --color-primary60: rgba(1, 188, 141, .6);
  --color-primary40: rgba(1, 188, 141, .4);
  --color-primary20: rgba(1, 188, 141, .2);
  --color-primary12: rgba(1, 188, 141, .12);
  --color-primary8: rgba(1, 188, 141, .08);
  --color-primary4: rgba(1, 188, 141, .04);

  --color-secondary: #f66754;
  --color-secondary88: rgba(246, 103, 84, 0.88);
  --color-secondary60: rgba(246, 103, 84, 0.6);
  --color-secondary40: rgba(246, 103, 84, 0.4);
  --color-secondary20: rgba(246, 103, 84, 0.2);
  --color-secondary12: rgba(246, 103, 84, 0.12);
  --color-secondary8: rgba(246, 103, 84, 0.08);
  --color-complementary: #f8b200;
  --color-complementary88: rgba(248, 178, 0, 0.88);
  --color-complementary60: rgba(248, 178, 0, 0.6);
  --color-complementary40: rgba(248, 178, 0, 0.4);
  --color-complementary20: rgba(248, 178, 0, 0.2);
  --color-complementary12: rgba(248, 178, 0, 0.12);
  --color-complementary8: rgba(248, 178, 0, 0.08);
  --color-textPrimary: #18ca51;
  --color-walletPrimary: #18ca51;
  --color-icon: #8c8c8c;
  --color-icon40: rgba(140, 140, 140, 0.4);
  --color-icon60: rgba(140, 140, 140, 0.6);
  --color-link: #32bb5e;
  --color-tip: #2d2d2f;
  --color-divider8: rgba(29, 29, 29, 0.08);
  --color-divider4: rgba(29, 29, 29, 0.04);
  --color-cover: #1d1d1d;
  --color-cover2: rgba(29, 29, 29, 0.02);
  --color-cover4: rgba(29, 29, 29, 0.04);
  --color-cover8: rgba(29, 29, 29, 0.08);
  --color-cover12: rgba(29, 29, 29, 0.12);
  --color-cover16: rgba(29, 29, 29, 0.16);
  --color-cover20: rgba(29, 29, 29, 0.2);
  --color-cover40: rgba(29, 29, 29, 0.4);
  --color-base: #f7f8fb;
  --color-background: #f9f9f9;
  --color-backgroundMajor: #ffffff;
  --color-overlay: #ffffff;
  --color-overlay60: rgba(255, 255, 255, 0.6);
  --color-text: #1d1d1d;
  --color-text60: rgba(29, 29, 29, 0.6);
  --color-text40: rgba(29, 29, 29, 0.4);
  --color-text30: rgba(29, 29, 29, 0.3);
  --color-text24: rgba(29, 29, 29, 0.24);
  --color-text20: rgba(29, 29, 29, 0.2);
  --color-textEmphasis: #ffffff;
  --color-layer: #ffffff;
  --color-mask: rgba(0, 13, 29, 0.3);
  --color-toast: #222223;
  --button-contained-primary-hover-background: rgb(38, 38, 38);
  --button-contained-primary-active-background: rgb(56, 56, 56);
  --button-contained-secondary-hover-background: rgba(246, 109, 91, 1);
  --button-contained-secondary-active-background: rgba(247, 121, 105, 1);
  --color-wallet-green: #2dbf5c;
  --color-wallet-green8: rgb(24, 202, 81, 0.08);
  --color-brand-red: #f65454;
}
[data-theme="dark"] {
  --color-divider8: rgba(243, 243, 243, 0.08);
  --color-divider4: rgba(243, 243, 243, 0.04);
  --color-cover: #f3f3f3;
  --color-cover2: rgba(243, 243, 243, 0.02);
  --color-cover4: rgba(243, 243, 243, 0.04);
  --color-cover8: rgba(243, 243, 243, 0.08);
  --color-cover12: rgba(243, 243, 243, 0.12);
  --color-cover16: rgba(243, 243, 243, 0.16);
  --color-cover20: rgba(243, 243, 243, 0.2);
  --color-cover40: rgba(243, 243, 243, 0.4);
  --color-base: #181e29;
  --color-background: #222222;
  --color-backgroundMajor: #0b0b0b;
  --color-overlay: #121212;
  --color-overlay60: rgba(18, 18, 18, 0.6);
  --color-text: #f3f3f3;
  --color-text60: rgba(243, 243, 243, 0.6);
  --color-text40: rgba(243, 243, 243, 0.4);
  --color-text30: rgba(243, 243, 243, 0.3);
  --color-text24: rgba(243, 243, 243, 0.24);
  --color-text20: rgba(243, 243, 243, 0.2);
  --color-textEmphasis: #1d1d1d;
  --color-layer: #222223;
  --color-mask: rgba(0, 0, 0, 0.6);
  --color-toast: #ffffff;
  --button-contained-primary-hover-background: rgba(33,204,88,1);
  --button-contained-primary-active-background: rgba(25,181,75,1);
  --button-contained-secondary-hover-background: rgba(246, 109, 91, 1);
  --button-contained-secondary-active-background: rgba(220, 94, 77, 1);
  --color-wallet-green: #0cc372;
  --color-wallet-green8: rgba(12, 195, 114, 0.08);
}